      <%= search_form_for @firm_search, url: firms_path, :builder => SimpleForm::FormBuilder do |f| %>

        <div class="field">
          <%= f.input :name_cont, as: :string, class: "form-control", placeholder: "nama bisnis yang sudah didaftarkan", label: "Nama Bisnis" %>
        </div>
        <div class="field">
          <%= f.input :address_cont, as: :string, class: "form-control", placeholder: "alamat bisnis yang sudah didaftarkan", label: "Alamat" %>
        </div>
        <br>
        <div class="actions" align="center">
          <%= render partial: 'elements/clear_search_button', locals: { path: user_root_path } %>
          <%= f.submit "Cari", class: "btn btn-primary" %>
        </div>            

      <% end %>  