<tr>
  <td id="name-<%= index %>"data-title="Nama"><%= team.name %></td>
  <td data-title="Kota"><%= team.city %></td>
  <td id="address-<%= index %>" data-title="Alamat"><%=  %></td>
  <td data-title="Dibuat">
    <%= team.created_at.to_date %>
  </td>
  <td id="show-<%= index %>"data-title="Lihat"><%= sti_team_path(team.type, team)  %></td>  
  <% if defined?(roster) && roster == 'true' %>
  <td data-title="Bergabung">
    <%= link_to '#', conteam: 'Kamu yakin?', method: :post, class: "danger-link" do %>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
      </span>
    <% end %>
  </td>
  <% end %>
</tr>