<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @team.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Starter email:</strong>
  <%= @team.starter_email %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
