<% title("Comments") %>
<h1>Comments <small>Admin</small></h1>

<%= form_tag admin_comments_path, method: 'get', html: {role: "form"} do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_comments_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Author</th>
    <th>On</th>
    <th>Subject</th>
    <th>Created At</th>
    <th>Content</th>
    <th></th>
  </tr>

  <% @comments.each do |comment| %>

    <tr>
      <td><%= link_to comment.id, edit_admin_comment_path(comment) %></td>
      <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
      <td><%= comment.commentable.class.name %></td>
      <td><%= comment.subject %></td>
      <td><%= comment.created_at.strftime("%Y/%m/%-d") %></td>
      <td><%= sanitize truncate(comment.body_html, length: 150, escape: false)%></td>
      <td><%= link_to "Hapus", admin_comment_path(comment), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan komentar'} %></td>
    </tr>

  <% end %>

</table>

