<% title("Comments") %>
<h1>Comments <small>Admin</small></h1>

<%= form_tag admin_comments_path, method: 'get', html: {role: "form"} do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_comments_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Author</th>
    <th>On</th>
    <th>Subject</th>
    <th>Created At</th>
    <th></th>
  </tr>

  <% @comments.each do |comment| %>

  <tr>
    <td><%= comment.user.name %></td>
    <td><%= comment.commentable.class.name %></td>
    <td><%= comment.subject %></td>
    <td><%= comment.created_at.strftime("%Y/%m/%-d") %></td>
    <td></td>
  </tr>

  <% end %>

</table>

