<ul>
  <li>
    <strong>Name:</strong>
    <%= @firm.name %>
  </li>

  <li>
    <strong>Region:</strong>
    <%= @firm.region %>
  </li>

  <li>
    <strong>City:</strong>
    <%= @firm.city %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @firm.address %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @firm.phone %>
  </li>

<%= link_to 'Edit', edit_firm_path(@firm) %> |
<%= link_to 'Back', firms_path %>  
</ul>
