<div class="v-card">
	<!-- Header -->
	<header>
		<ul class="list-inline">
			<li class="active"><a href="#home" data-toggle="tab">Upcoming</a></li>
			<li class=""><a href="#qualification" data-toggle="tab">History</a></li>
		</ul>
	</header>
	<!-- tab Content -->
	<div class="tab-content">

		<!-- Tab Pane - Home -->
<div class="tab-pane active in" id="home">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
		<% (Date.today..1.month.from_now.to_date).each_with_index do |date, index| %>
	  <div class="panel panel-default">
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
		    <div class="panel-heading" role="tab" id="headingOne">
		          <strong><%= date %></strong>
		          <span class="badge"><%= Reservation.by_date(date).count %></span> <i class="fa fa-chevron-down pull-right"></i>
		    </div>
	    </a>
	    <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	      	<hr>
			<% collection.each do |court| %>
	    		<span><%= court.name %>
					<% Reservation.by_court(court).by_date(date).each do |res| %>
						<span class="label label-primary">
							<%= res.start %>-<%= res.finish %>
						</span>
					<% end %>		            
				<hr></hr>
	    		</span>
			<% end %>
	      </div>
	    </div>
	  </div>
	  <% end %>

	</div>
</div>
		
		<!-- Tab Pane - Education & Experience -->
		<div class="tab-pane fade" id="qualification">
			<div class="education">
				<h4><i class="fa fa-graduation-cap color"></i> Pemesanan</h4>
				<hr>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="education-item">
							<!-- Eudcation detail and year -->
							<h5>
								<span class="badge"><%= Reservation.by_venue(venue).count %></span> Transaksi Sempurna 
								<span class="badge">Rp</span> <%= Reservation.by_venue(venue).count %>
							</h5>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="education-item">
							<!-- Eudcation detail and year -->
							<h5>
								<span class="badge"><%= Reservation.by_venue(venue).count %></span> Transaksi Batal
								<span class="badge">Rp</span> <%= Reservation.by_venue(venue).count %>
							</h5>
						</div>
					</div>					
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>  