<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :about, label: "Biografi Singkat" %>
    <% if defined?(team) && team %>
      <%= f.simple_fields_for :details do |d| %>
        <%= d.input :anno, label: "Didirikan Pada Tahun" %>
        <%= d.input :founding_size, label: "Jumlah Pendiri" %>
        <%= d.input :offline_presence_types, label: "Infrastruktur Nyata Bisnis" %>
        <%= d.input :online_presence_types, label: "Pengalaman Kerja" %>
      <% end %>      
    <% elsif defined?(user) && user %>
      <%= f.simple_fields_for :details do |d| %>
        <%= d.input :last_education, label: "Pendidikan Terakhir" %>
        <%= d.input :marital_status, label: "Status Pernikahan" %>
        <%= d.input :work_experience, label: "Pengalaman Kerja" %>
        <%= d.input :industy_experience, label: "Pengalaman Industri/Bidang" %>
      <% end %>
    <% end %>


    <div class="actions">
      <%= f.button :submit, "Simpan", class: "btn btn-primary" %>
    </div>    
  </div>

<% end %>