<% meta title: "Proposal | Admin Dashboard" %>

<h1>Proposal <small>Admin Dashboard</small></h1>
<p><%= link_to "Back to Admin Root", admin_root_path %></p>

<div class="text-center">
  <%= paginate @tenders %>
</div>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Klien</th>
    <th>Akad</th>
    <th>Updated At</th>
    <th>Status</th>
    <th>Target</th>
    <th>Penilaian?</th>
    <th>Tawaran</th>
    <th></th>
  </tr>

  <% @tenders.each do |tender| %>

  <tr>
    <td><%= link_to tender.barcode, show_tender_link(tender) %></td>
    <td><%= link_to tender.tenderable.name, user_path(tender.tenderable) %></td>
    <td><%= tender.aqad %></td>
    <td><%= time_ago_in_words(tender.updated_at)%> ago</td>
    <td><%= tender.state %></td>
    <td><%= idr_money(tender.target) %></td>
    <td><%= tender.summary.present? %></td>
    <td><%= link_to tender.bids.count, admin_bids_path(tender_id: tender.id) %></td>
    <td><%= link_to "Proses", edit_admin_tender_path(tender), remote: true %></td>
  </tr>

  <% end %>

</table>

<div class="text-center">
  <%= paginate @tenders %>
</div>
