<%= simple_form_for(resource, :as => resource_name,
:url => registration_path(resource_name),
:html => { :class => "form-horizontal" }, wrapper: :horizontal_form) do |f| %>
	
	  <%= devise_error_messages! %>

	<div class="form-inputs">
		<%= f.input :email, placeholder: "ini akan digunakan untuk kontak dan login", required: true %>
		<%= f.input :password, input_html: { maxlength: 20, minlength: 6 }, placeholder: "panjang minimal 6 karakter, huruf, angka, atau campurannya", required: true %>
		<%= f.input :password_confirmation, label: 'Konfirmasi Password', placeholder: "masukkan kata kunci yang sama untuk memastikan", required: true%>
		<%= f.input :name, label: "Nama Lengkap", help: "sesuai dengan KTP atau SIM", required: true %>
		<%= f.input :phone_number, label: "Nomor Telp (HP)", help: "nomor telepon genggam utama", required: true %>
		<p>
			Untuk mendaftar, kamu harus menyetujui syarat dan ketentuan pelayanan siKapiten dengan mengklik kotak "Saya setuju" di bawah ini. Syarat dan ketentuan yang dimaksud dapat dilihat di <%= link_to "di sini", service_terms_path %>
		</p>
		<%= f.input :understanding, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Saya setuju', wrapper: :horizontal_boolean, required: true %>
	</div>

	<%= f.button :submit, "Daftar", class: "btn btn-block btn btn-outlined btn-theme" %>

<% end %>