<% title("Edit Akun: #{@current_user.name}") %>
    <h1>Edit Akunmu</h1>

    <%= simple_form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put, class: "form-horizontal" }, wrapper: :horizontal_form) do |f| %>

    <%= devise_error_messages! %>

    <%= f.input :email, :autofocus => true, required: true %>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
      <div class="col-sm-6">
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
    </div>
    <% end %>

    <%= f.input :phone_number, label: "Nomor Telp (HP)", placeholder: "nomor telepon genggam utama", required: true %>

    <%= f.input :password, :autocomplete => "off", hint: 'Kosongkan bila tidak ingin diganti', placeholder: "panjang minimal 6 karakter", label: "Password Baru" %>

    <%= f.input :password_confirmation, :autocomplete => "off", hint: 'Kosongkan bila tidak ingin diganti', label: "Konfirmasi Password Baru" %>

    <%= f.input :current_password, as: :password, :autocomplete => "off", hint: 'masukkan password untuk konfirmasi perubahan data', label: "Password Sekarang", placeholder: "password saat ini", required: true  %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Simpan", class: "btn btn-outlined btn-theme" %>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <% end %>