<% title("Daftar") %>

<div class="container-fluid">
  
    <div class="container-page" style="margin-top: 50px;">        

    <%= simple_form_for(resource, :as => resource_name,
          :url => registration_path(resource_name),
          :html => { :role => "form" }) do |f| %>

        <div class="form-group col-lg-12">            
          <%= devise_error_messages! %>
        </div>

      <div class="col-md-6">
        <div class="col-lg-12">
          <h3 class="dark-grey text-center">Registrasi Pengguna</h3>
          <hr>
        </div>

          <div class="form-group col-lg-12">
            <%= f.input :category, collection: user_categories, as: :radio_buttons, label: "Jenis Pengguna", required: true %>
          </div>

          <div class="form-group col-lg-12">
            <%= f.input :email, class: "form-control", placeholder: "ini akan digunakan untuk kontak dan login", required: true %>
          </div>
          
          <div class="form-group col-lg-12">
            <%= f.input :phone_number, class: "form-control", label: "Nomor Telepon", placeholder: "sama seperti email, untuk kontak dan login", required: true %>
          </div>
                    
          <div class="form-group col-lg-12">
            <%= f.input :password, class: "form-control", input_html: { maxlength: 20, minlength: 6 }, label: 'Kata Kunci', placeholder: "panjang minimal 8 karakter, huruf, angka, atau campurannya", required: true %>
          </div>
          
          <div class="form-group col-lg-12">
            <%= f.input :password_confirmation, class: "form-control", label: 'Konfirmasi Kata Kunci', placeholder: "masukkan kata kunci yang sama untuk memastikan", required: true %>
          </div>
                  
          <div class="form-group col-lg-12">
            <%= f.input :full_name, label: "Nama Lengkap", class: "form-control", help: "Jika tidak ada nama belakang,", required: true %>
          </div>
      </div>
    
      <div class="col-md-6">
        <div class="col-lg-12">
          <h3 class="dark-grey text-center">Syarat dan Ketentuan</h3>
          <hr>
          <p>
            Dengan mengklik tombol "Daftar" di bawah ini, kamu telah menyetujui syarat dan ketentuan penggunaan aplikasi ini.
          </p>
          <p>
            Setelah mendaftar, kamu akan mendapatkan masa penggunaan gratis selama 30 hari. Di hari 31, kamu harus memilih untuk melanjutkan penggunaan aplikasi ini (kami harap kamu melanjutkan ^_^) dengan membayar atau tidak melanjutkan penggunaan. Akun dan semua catatan yang telah kamu buat akan disimpan selama 90 hari sebelum akhirnya dihapus.
          </p>
          <p>
            Cara pembayaran hanyalah dengan transfer bank, melalui atm ataupun teller bank. Kami tidak akan pernah meminta dan menyimpan data rekening yang sensitif seperti nomor PIN atau nomor kartu kredit kamu.
          </p>

          <%= f.button :submit, "Daftar", class: "btn btn-block btn-primary", data: {disable_with: "Sedang didaftarkan...."} %>
        </div>
      
      </div>
      <% end %>

    </div>
  
</div>
