<body class="hold-transition register-page">
<div class="user-menu-container square">
    <div class="user-details">
        <div class="row white-background white" style="margin-left: 0px;">
            <div class="col-md-9 col-xs-8">
              <div class="user-pad">
                <h3 class="black"><%= @tender.ticker %></h3>
                <h4 class="white"><i class="ion-android-folder-open"></i> <%= @tender.category %></h4>
                <h4 class="white"><i class="ion-android-clipboard"></i>penggalangan <%= idr_money(@tender.target) %> untuk kongsi selama <%= (@tender.annum) %> tahun</h4>
                <%= link_fa_to('pencil', 'Edit', edit_tender_url(@tender, subdomain: '')) if @tender.access_granted?(current_user) %>
              </div>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="user-image">
                  <%= render_house_display(@tender.tenderable.house, 'img-responsive thumbnail') %>
                </div>
            </div>
        </div>
        <div class="row overview">
            <div class="col-xs-4 user-pad text-center">
                <h3>SAHAM</h3>
                <h4><%= @tender.shares_left %> tersisa</h4>
            </div>
            <div class="col-xs-4 user-pad text-center">
                <h3>HARGA SATUAN</h3>
                <h4><%= idr_money(@tender.price) %></h4>
            </div>
            <div class="col-xs-4 user-pad text-center">
                <h3>STATUS</h3>
                <h4><%= @tender.state %></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 user-menu-btns">
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <%= link_to tender_path(@tender), class: "interface btn btn-block btn-primary active", id: "home-button" do %>
              <i class="fa fa-anchor fa-3x"></i>
            <% end %>
        </div>
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <%= link_to discuss_tender_path(@tender), remote: true, class: "interface btn btn-block btn-primary", id: "forum-button" do %>
              <i class="fa fa-comments fa-3x"></i>
            <% end %>             
        </div>
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fa fa-road fa-3x"></i>
            </a>                    
        </div>
    </div>
    <br>
    <div class="col-xs-12 user-menu">
        <div class="user-menu-content active">
            <div class="col-md-3 centered" id="left-view">
              <br>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                    <i class="fa fa-cloud-upload fa-4x"></i>
                </div>
                <div class="col-md-12 col-xs-5">
                      <%= render_double_button('money', 'Ajukan', 'Penawaran', new_tender_bid_path(@tender), true) %>
                </div>
                <div class="col-md-12 col-xs-2" style="margin-top: 10px; margin-bottom: 10px;">
                      ATAU
                  </div>
                  <div class="col-md-12 col-xs-5">
                    <%= render_double_button('flag', 'Kembali ke', 'Markas', user_root_path) %>
                  </div>
                </div>
            </div>
            <div class="col-md-9">
              <div id="home-view">
              <h3>Inti</h3><hr class="light">
              <div class="right-display">
                <div class="item">
                    <h5>Rincian Rumah <small><%= link_to "Telusuri", house_path(@tender.tenderable.house) %></small></h5>                
                    <%= render 'houses/house_details', house: @tender.tenderable.house %>
                  </div>
                  <div class="item" id="tender-starter">
                    <h5>Klien</h5>
                      <ul class="user-profiles-list-basic">
                        <%= render  partial: 'users/user', locals: { user: @client } %>
                      </ul>
                      <%= render  partial: 'users/user_infos', locals: { user: @client } %>
                  </div>
                  <div class="item" id="tender-bidders">
                    <h5>Pendana</h5>
                    <%= render 'users/users', users: @bidders %>
                  </div>
                </div>
              </div>
          <div class="side-view" id="forum" style="display: none;">
          </div>
          <div class="side-view" id="progress" style="display: none;">
          </div>                        
            </div>
        </div>
    </div>
</div>

</body>

<section class="widget card">
  <div class="widget-body">
      <div class="post-user mt-n-xs">
          <span class="thumb pull-left mr">
            <%= render_user_thumb(tender.starter, 'img-circle') %>
          </span>
          <h5 class="mb-xs mt-xs"><%= tender.starter.name %> </h5>
          <p class="fs-mini text-muted"><time><%= time_ago_in_words(tender.updated_at) %> ago</time> 
      </div>
      <div class="widget-middle-overflow windget-padding-md clearfix white display-asset" style='background: #252931 url("<%= cl_image_path(tender.tenderable.display_picture.path, house_header_options) %>");
      background-repeat:no-repeat;
      background-position: center center;'>
          <h3 class="mt-lg mb-lg">Proposal <span class="fw-semi-bold">#<%= tender.ticker %></span></h3>
          <ul class="tags text-white pull-right">
              <li><a href="#"><%= tender.category %></a></li>
              <li><a href="#">@<%= idr_concat(tender.price, 1000) %>rb/unit</a></li>
          </ul>
      </div>
        <div class="progress tender-progress">
          <%= render_progress_bar(tender.progress.to_i) %>
        </div>
  </div>
  <footer class="bg-body-light">
      <ul class="post-links">
        <li><%= link_to "Lihat", tender_path(tender) %></li>
        <% if tender.access_granted?(current_user) %>
          <li><%= link_to "Kelola", edit_tender_path(tender), class: 'coral' %></li>
        <% else %>
          <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Danai</span></a></li>
        <% end %>
      </ul>
  </footer>
</section>