<div class="tender-starter-widget" id="client-section">
  <div class="widget-head-color-box">
      <div class="m-b-md centered">
        <h2 class="font-bold no-margins secondary" id="client-name">
          <%= link_to user.name.titleize, user_path(user) %>
        </h2>
      </div>
      <%= render_user_thumb(user, 'img-circle circle-border m-b-md img-center') %>
      <div class="centered">
        <span><%= user.documents.count %> berkas dokumen</span> |
        <span><%= user.tenders.count %> proposal dibuat</span>
      </div>
  </div>
  <div class="spacing"></div>
  <div class="widget-text-box centered">
    <strong><%= user_occupation user %></strong>
    <%= user_bio user %>
    <p class="strong"><%= link_to "Lihat Profil", user_path(user) %></p>
  </div>
</div>  