
<%= render 'tender_header' %>
<section class="intro padded">
  <div class="container">
  	<div class="inner-skeleton">
  	  <h2>Pengelolaan Proposal</h2>
  	  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  	  	<%= render 'documents/doc_list' %>
  	  </div>
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 grey centered">
        <div class="spacious">
          <h4><%= "Profil Pemohon" %></h4>
          <small>Isi profil untuk meningkatkan kredibilitasmu</small>
          <h1><i class="ion ion-compose"></i></h1>
          <p>
            <%= link_to "Isi Profil", edit_user_path(@client), class: "btn btn-primary" %>
          </p>
        </div>
      </div>      
  	</div>
  </div>
</section>
<section class="intro padded">
  <div class="container">
	<div class="inner-skeleton">
	  <h2>Koreksi Proposal</h2>
	  	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	  	  <%= render 'form' %>
	  	</div>
	</div>
  </div>
</section>

<style type="text/css">

</style>