<% meta title: "Proposal #{@tender.ticker}" %>

<%= render 'tender_header' %>

<div class="white-background">
<section class="intro padded bordered-section " id="asset-section">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-md-12"><h2>Objek Syirkah</h2></div>
        <div class="col-md-8">
          
          <div class="product-description u-fontSize16" style="line-height: 28px;">
            <p>Syirkah dibentuk dengan tujuan bekerja sama membeli dan memiliki properti yang diajukan oleh Klien dengan spesifikasi sebagai berikut:</p>
            <p id="asset-address"><i class="fa fa-home"></i> <%= @asset.address %>, <%= @asset.city %></p>
            <p><i class="fa fa-tag"></i> <span id="asset-price"> <%= idr_money(@asset.price) %></span></p>
            <p><i class="fa fa-info-circle"></i> <%= @asset.bedrooms %> kamar tidur <%= @asset.bathrooms %> kamar mandi · <%= @asset.property_size %>m² · <%= @asset.lot_size %>m² tanah</p>            
          </div>
        </div>
        <div class="col-md-4">
          <%= render partial: 'houses/house_display', locals: {house: @asset} %>
        </div>
        <div class="col-xs-12">
          <%= link_to "Lihat Properti", house_path(@asset), class: 'btn btn-md btn-default' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="intro padded bordered-section ">
  <div class="container">
    <div class="inner-skeleton">
      <h2>Klien</h2>
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <%= render partial: "starter_card", locals: {user: @tender.starter} %>
      </div>
    </div>
  </div>
</section>
<section class="intro padded ">
  <div class="container">
    <div class="inner-skeleton">
      <h2>Pembentukan Syirkah</h2>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <%= render 'trading/bids/bids'  %>
      </div>
    </div>
  </div>
</section>
</div>

<%= render 'trading/tenders/tender_modal' %>
<style type="text/css">

</style>