<% meta title: "Proposal #{@tender.ticker}" %>

<section class="intro padded centered white-background card">
  <div class="container">
    <div class="prose extra-bottom-margin">
      <h2 class="fh5co-lead">Proposal #<%= @tender.ticker %></h2>
      <h5 class="sub-title centered">
        800 unit tersisa, <strong>@ <%= idr_money(@tender.price) %>/unit</strong>
      </h5>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= link_to "Buat Tawaran", new_tender_bid_path(@tender), class: 'btn btn-lg btn-primary', disabled: @disable_bidding %>
          <p class="grey">
            <small class="centered">
              <% if @disable_bidding %>
                Kamu sudah mengajukan penawaran
              <% else %>
              <% end %>
            </small>
          </p>
      </div>
    </div>    
    <div class="spacing"></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="progress tender-progress">
            <%= render_progress_bar(@tender.progress.to_i) %>
          </div>        
      </div>
    </div> 
    
  </div>
</section>

<section class="intro padded">
  <div class="container">
    <%= render 'tender_overview' %>
  </div>
</section>