<li class="testimonial-item">
  <a>
    <span class="image">
      <%= render_user_thumb(comment.user, '') %>
    </span>
    <span>
      <span><%= comment.user.name.titleize %> <small id="support-subject"><%= comment.subject %></small></span>
      <span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>
    </span>
    <span class="message">
      <%= comment.body_html %>
    </span>
  </a>
</li>