<div class="panel-group" id="date-accordion" role="tablist" aria-multiselectable="false">
  <% collection.each_with_index do |(date, bookings), index| %>
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#date-accordion" href="#date-collapse<%= index %>" aria-expanded="false" aria-controls="date-collapse<%= index %>">
      <div class="panel-heading" role="tab" id="heading<%= index %>">
            <strong><%= date %></strong>
            <span class="badge"><%= bookings.count %></span> <i class="fa fa-chevron-down pull-right"></i>
      </div>
    </a>
    <div id="date-collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
      <div class="panel-body">
        <hr>
    <% bookings.each do |res| %>
      <span class="label label-primary">
        <%= res.start %>-<%= res.finish %>: <%= res.court.name %>
      </span>
    <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>