<div class="modal-header modal-header-primary">
  <h3>Simulasi <%= params[:type].titleize %> <small>v 1.0</small></h3>
</div>
<div class="modal-body">
  <center>
    <h3 class="white media-heading"><%= "Untuk Klien" %></h3>
    <h5 class="coral">Simulasi dapat berubah sewaktu-waktu</h5>
    <%= simple_form_for(:simulation, { url: simulation_path, method: 'get', remote: true, html: { class: 'form-vertical' }, wrapper: :vertical_form }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :tangible, as: :select, collection: [ "Rumah", "Apartemen" ], prompt: "pilih", label: "Jenis Properti", required: true %>

      <%= f.input :price, input_html: { class: "slide-input", :data => {'slider-min'=> "100000000", 'slider-max'=> "950000000", 'slider-value'=> "0", 'slider-step'=> "10000000"} }, label: "Harga", required: true %>

      <%= f.input :maturity, input_html: { class: "slide-input", :data => {'slider-min'=> "0", 'slider-max'=> "10", 'slider-value'=> "0", 'slider-step'=> "1"} }, label: "Lama Kongsi", required: true %>

      <%= f.input :contribution, input_html: { class: "slide-input", :data => {'slider-min'=> "20", 'slider-max'=> "80", 'slider-value'=> "10", 'slider-step'=> "5"} }, label: "Modal Kamu", required: true %>

      <%= f.input :aqad, :as => 'hidden', :input_html => { value: @aqad } %>
      <%= f.input :type, :as => 'hidden', :input_html => { value: @for } %>
    </div>

    <div class="form-group">
      <label for="amount" class="col-sm-6 control-label">Nilai (Rp): </label>
      <!-- <span class="help-text">Please choose your amount</span> -->
      <div class="col-sm-6">
        <p id="amount-inputSliderVal" class="price lead">0</p>
        <span class="price"> jt</span>
      </div>
    </div>
    <div class="form-group">
      <label for="total" class="col-sm-6 control-label"><strong>Durasi: </strong></label>
      <!-- <span class="help-text">(Amount * Days)</span> -->
      <div class="col-sm-6">
        <p id="duration-inputSliderVal" class="price lead">0</p>
        <span class="price"> Tahun</span>
      </div>
    </div>
    <div class="form-group">
      <label for="total" class="col-sm-6 control-label"><strong>Modal: </strong></label>
      <!-- <span class="help-text">(Amount * Days)</span> -->
      <div class="col-sm-6">
        <p id="seed-inputSliderVal" class="price lead">20</p>
        <span class="price"> %</span>
      </div>
    </div>    
    <div class="form-actions">
      <%= f.submit "Hitung", class: "btn btn-lg btn-primary btn-round-lg" %>
    </div>
  <% end %>

  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>

<script type="text/javascript">

$(function() {

  var inputSliderValue = 0;
  var humanizer = 1000000;

  function changeValue(){
    var currentSliderValue = inputSliderValue / humanizer;
    $( "#amount-inputSliderVal" ).text( currentSliderValue );
  }

  $(".slide-input").slider();
  $("#simulation_price").on("slide", function(slideEvt) {
    inputSliderValue = slideEvt.value;
    changeValue();
  })
  $("#simulation_maturity").on("slide", function(slideEvt) {
    $("#duration-inputSliderVal").text(slideEvt.value);
  })
  $("#simulation_contribution").on("slide", function(slideEvt) {
    $("#seed-inputSliderVal").text(slideEvt.value);
  })
});
</script>