<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <center>
    <h5 class="coral">Formula simulasi dapat berubah sewaktu-waktu</h5>
    <%= simple_form_for(:simulation, { url: simulation_path, method: 'get', remote: true, html: { class: 'form-vertical' }, wrapper: :vertical_form }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :tangible, as: :select, collection: [ "Rumah", "Apartemen" ], prompt: "pilih", label: "Jenis Properti", required: true %>

      <%= f.input :maturity, as: :integer, input_html: { value: '5', min: '3', max: '10',step: '1' }, label: "Lama Syirkah (Tahun)", required: true %>

      <%= f.input :contribution, as: :integer, input_html: { value: '20', min: '20', max: '80',step: '5' }, label: "Modal Kamu (%)", hint: 'Dibandingkan dengan harga rumah', required: true %>

      <%= f.input :price, input_html: { class: "slide-input", :data => {'slider-min'=> "0", 'slider-max'=> "950000000", 'slider-value'=> "100000000", 'slider-step'=> "10000000"} }, label: "Harga", required: true %>      
    </div>

    <div class="form-group">
      <div class="col-sm-2 col-xs-1"></div>
      <label for="amount" class="col-sm-4 col-xs-5 control-label">Harga (Rp): </label>
      <!-- <span class="help-text">Please choose your amount</span> -->
      <div class="col-sm-4 col-xs-5">
        <p id="amount-inputSliderVal" class="price lead">100</p>
        <span class="price"> jt</span>
      </div>
      <div class="col-sm-2 col-xs-1"></div>
    </div>

    <div class="form-actions">
      <%= button_tag "Hitung", class: "btn btn-lg btn-primary btn-round-lg", data: {disable_with: "<i class='fa fa-spinner fa-pulse'>
      </i> Sedang dihitung..."}  %>
    </div>
  <% end %>

  </center>
</div>


<script type="text/javascript">

$(function() {

  var inputSliderValue = 0;
  var humanizer = 1000000;

  function changeValue(){
    var currentSliderValue = inputSliderValue / humanizer;
    $( "#amount-inputSliderVal" ).text( currentSliderValue );
  }

  $(".slide-input").slider();
  $("#simulation_price").on("slide", function(slideEvt) {
    inputSliderValue = slideEvt.value;
    changeValue();
  })
});
</script>