  <%= f.error_notification %>

  <div class="field">
    <%= f.input :name, label: "Nama Bisnis" %>
  </div>
  <div class="field">
    <%= f.input :city, label: "Kota" %>
  </div>
  <div class="field">
    <%= f.input :address, label: "Alamat" %>
  </div>
  <div class="field">
    <%= f.input :phone, label: "Nomor Telepon Kantor" %>
  </div>


  <div class="actions">
    <%= f.button :submit, "Proses", class: "btn btn-block btn-primary", data: {disable_with: "Mohon tunggu...."} %>
  </div>