<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <%= form_tag email_confirmation_path, method: 'post', html: {role: "form"} do %>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= text_field_tag :name, @name, placeholder: "Nama kamu", class: "form-control" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= text_field_tag :email, @email, placeholder: "Alamat email kamu", class: "form-control" %>
        </div>        
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <%= text_area_tag :message, @message, placeholder: "Isi pesan", rows: 10, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 padded">
        <%= link_to email_confirmation_path, method: :post, class: 'btn btn-outlined btn-black' do %>
            <i class='fa fa-envelope'></i> Kirim
        <% end %>
      </div>
    </div>
    <% end %>

  </div>
</div>
