<div class="post-box" id="post-<%= post.id %>">
  <% if post.header.present? %>
	<% if request.variant.include? :phone %>
	  <%= cl_image_tag(post.header.path, { :width => 300, :height => 150, :crop => :scale } ) %>
	<% else %>
	  <%= cl_image_tag(post.header.path, { :width => 750, :height => 350, :crop => :scale }) %>
	<% end %>	
  <% end %>
  
  	<%= link_to post_path(post.slug) do %>
	  <h3 class="ctitle"><%= post.title %> <small><%= post.topic %></small></h3>
  	<% end %>
  
	<p><csmall><i class="fa fa-calendar"></i>&nbsp;&nbsp;<%= post.updated_at.strftime("%Y, %B %-d") %></csmall> | <csmall2>Oleh: <%= post.user.full_name %></csmall2></p>
  
  <% if defined?(multiple) && multiple %>
	<p><%= sanitize truncate(post.content_html, length: 200, escape: false )%></p>
	<p><%= link_to "Baca lebih lanjut", post_path(post.slug) %></p>
	<div class="spacing"></div>
  <% else %>
	<p><%= post.content_html.html_safe %></p>
	<!-- <h6>SHARE:</h6>
	<p class="share"> -->
	<!-- 	<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-tumblr"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a> -->
	<!-- </p> -->	
  <% end %>
</div>