<div class="post-box" id="post-<%= post.id %>">
  <% if post.header.present? %>
	<% if request.variant.include? :phone %>
	  <%= cl_image_tag(post.header.path, { :width => 300, :height => 150, :crop => :scale } ) %>
	<% else %>
	  <%= cl_image_tag(post.header.path, { :width => 750, :height => 350, :crop => :scale }) %>
	<% end %>	
  <% end %>
  
  <% if defined?(admin_list) && admin_list %>
	<%= link_to admin_post_path(post.slug) do %>
	  <h3 class="ctitle">
	  	<%= post.title %>
	  	<small><%= post.topic %> <%= link_to " | Edit", edit_admin_post_path(post) %></small>
	  </h3>
  	<% end %>
  <% else %>
  	<%= link_to blog_post_path(post.slug) do %>
	  <h3 class="ctitle">
	  	<%= post.title %>
	  	<small><%= post.topic %></small>
	  </h3>
  	<% end %>  	
  <% end %>

	<p><csmall><i class="fa fa-calendar"></i>&nbsp;&nbsp;<%= post.updated_at.strftime("%Y, %B %-d") %></csmall> | <csmall2>Oleh: <%= post.user.name %></csmall2></p>
  
  <% if defined?(multiple) && multiple %>
	<div class="post-truncate">
	  <%= sanitize truncate(post.content_html, length: 200, escape: false )%>
	</div>
	<p><%= link_to "Baca lebih lanjut", blog_post_path(post.slug) %></p>
	<div class="spacing"></div>
  <% else %>
	<div class="post-content no-select">
	  <%= post.content_html.html_safe %>
	</div>
	<hr>
	<h6>SHARE Via Media Sosial:</h6>
	<p class="share">
		<%= social_share_button_tag(post.title) %>
	</p>	
  <% end %>

  <div class="post-footer">
  	<p>
  	  <i class="fa fa-tags"></i> Kata Kunci: 
  	  <% unless post.tags.nil? %>
	  	<% post.tags.each do |tag| %>
	  	  <%= link_to blog_find_posts_path(tag: tag) do %>
	  	  	<span class="badge badge-info"><%= tag %></span>
	  	  <% end %>
	  	<% end %>
	  <% end %>
  	</p>
  </div>

  <% unless defined?(multiple) && multiple %>
	<div class="well">
	  <h4>Daftar Komentar</h4>
	  <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
	    <% if comments.count == 0 %>
		  <span>Belum ada Komentar</span>    
		<% end %>
	    <%= render comments %>
	  </ul>	
	  <hr data-brackets-id="12673">
	  <h4>Mau berkomentar?</h4>
	  <%= render 'blog/comments/form' %>
	</div>
  <% end %>

</div>