<div class="modal-header modal-header-success">
  <h3><%= "Info Profil" %></h3>
</div>
<div class="modal-body">

  <center>
    <div class="basic-info">
      <% if defined?(category) && category == 'Business' %>

        <h3 class="name"><%= profileable.name %> <small>USA</small></h3>
        <span><strong>Info: </strong></span>
        <span class="label label-warning" id="established"><%= profileable.anno %></span>
        <span class="label label-info" id="founders"><%= profileable.founding_size %></span>
        <span class="label label-info"><%= profileable.founding_size %></span>
        <span class="label label-success">Windows XP, Vista, 7</span>

      <% elsif defined?(category) && category == 'User' %>

        <h3 class="name"><%= profileable.name %> <small>USA</small></h3>
        <span><strong>Info: </strong></span>
        <span class="label label-warning" id="education"><%= profileable.last_education %></span>
        <span class="label label-info" id="marital"><%= profileable.marital_status %></span>
        <span class="label label-info">Apple</span>
        <span class="label label-success">Windows XP, Vista, 7</span>

      <% end %>
    </div>
  </center>

  <hr>

  <center>
    <div class="bio">
      <p class="text-left"><strong>Bio: </strong><br>
        <%= profileable.about %>
      </p>  
    </div>
    <br>
  </center>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Kembali</button>
</div>

