<h3 class="media-heading centered"><%= "Simulasi Hijrah" %></h3><hr>
<form action="#" class="long-inline lead-big" role="form">
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <label for="name">Kamu akan mendapatkan<span>Jumlah Saham</span></label>
      <%= text_field_tag :price, '', placeholder: (@simulation.share_purchased), disabled: true %> lembar saham yang ada dan memiliki <%= @simulation.contribution_percent %>% atas properti.
    </div><br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <label for="company"> Diperkirakan biaya sewa tahunan atas properti adalah sebesar <span>Sewa Tahunan</span></label>
      <%= text_field_tag :maturity, '', placeholder: idr_money(@simulation.annual_rental), disabled: true  %>, yang kemudian akan didiskon oleh porsi kepemilikanmu.
    </div><br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <label for="company"> Untuk memperoleh 100% porsi kepemilikan, kamu diperkirakan membayar <span>Rata-rata nilai pembelian saham</span></label>
      <%= text_field_tag :contribution, '', placeholder: idr_money(@results[:avg_purchase]), disabled: true %> per bulannya.
    </div><br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <label for="company"> Jadi rata-rata selama <%= @simulation.maturity %> tahun setiap bulannya kamu mengeluarkan <span>Total Pengeluaran</span></label>
      <%= text_field_tag :contribution_percent, '', placeholder: idr_money(@results[:avg_total]), disabled: true %> untuk memiliki rumah sepenuhnya.
    </div><br>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <small class="grey centered">Hasil simulasi ini bukan hasil yang pasti karena Kapiten menentukan tingkat ROI berbeda-beda untuk tiap pengajuan.</small>
  </div>
</form>