<div>
  <div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 50px;">
      <h3 class="landing">Simulasi Akad</h3>
      <p class="centered">Kamu dapat mendapatkan prediksi kewajiban kamu apabila kamu mendapatkan pembiayaan </p>
      <p class="centered">di siKapiten dengan mengisi formulir simulasi di bawah ini:</p>
      <br>
      <div class="nav-center">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Murabahah</a></li>
          <li><a href="#tab2" data-toggle="tab">Musyarakah</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <%= form_tag simulation_path, method: 'get', remote: true, class: "form-inline lead-big", role: "form" do %>

              <div class="form-group">
                <label for="name">Saya ingin membeli rumah dengan akad Murabaha seharga Rp <span>Harga rumahnya </span></label>
                
                <%= number_field_tag :price, '', in: 50000000..1000000000, step: 10000000, placeholder: " ", required: true %>
              </div>

              <div class="form-group">
                <label for="company"> dan berniat mencicilnya selama <span>Lama cicilan</span></label>
                <%= number_field_tag :maturity, '', in: 5..10, step: 1, placeholder: " ", required: true %>
                tahun.
              </div>

              <div class="form-group">
                <label for="company"> Modal yang telah saya kumpulkan adalah sebesar <span>Modalmu</span></label>
                <%= number_field_tag :contribution_percent, '', in: 30..90, step: 10, placeholder: " ", required: true %>
                % dari harga rumah.
              </div><br>
              <%= hidden_field_tag :aqad, '', value: "murabaha", required: true %>
              <button type="submit" class="btn btn-default btn-lg submit"> Hitung Cicilan Bulanan </button>
            <% end %>          
          </div>

          <div class="tab-pane fade" id="tab2">
            <%= form_tag simulation_path, method: 'get', remote: true, class: "form-inline lead-big", role: "form" do %>

              <div class="form-group">
                <label for="name">Saya ingin memilih Musyarakah dalam membeli <span>Jenis properti </span></label>
                
                <%= select_tag :tangible, options_for_select([ "Rumah", "Apartemen" ]), prompt: "pilih", required: true %>.
              </div>

              <div class="form-group">
                <label for="name">seharga Rp <span>Harga rumahnya </span></label>
                
                <%= number_field_tag :price, '', in: 50000000..1000000000, step: 10000000, placeholder: " ", required: true %>.
              </div>

              <div class="form-group">
                <label for="company"> Modal yang telah saya kumpulkan adalah sebesar <span>Modalmu</span></label>
                <%= number_field_tag :contribution_percent, '', in: 30..90, step: 10, placeholder: " ", required: true %>
                % dari harga rumah.
              </div><br>

              <div class="form-group">
                <label for="company"> Saya berniat menyewanya selama <span>Lama sewa</span></label>
                <%= number_field_tag :maturity, '', in: 4..15, step: 1, placeholder: " ", required: true %>
                tahun.
              </div><br>
                <%= hidden_field_tag :aqad, '', value: "musharaka", required: true %>
              <button type="submit" class="btn btn-default btn-lg submit"> Hitung Sewa Bulanan </button>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>  
</div>
<style type="text/css">
section {
/*    padding: 100px 0;*/
    text-align: center;
}

  .lead-big {
    font-size: 20px;
    line-height: 48px;
    color: #999;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
    max-width: 235px;
    text-align: center;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
}
.form-inline .form-group label {
  width: inherit;
}
.form-inline .form-group label {
    position: relative;
}
.form-inline .form-group label > span {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    color: #bdc3c7; 
    opacity: 1;
}
.submit.btn.btn-lg {
    font-size: 28px;
    color: #999;
    border: 1px dotted;
    background-color: transparent;
    border-radius: 0;
}

.nav-center {  
  text-align: center;
}
.nav-center  ul.nav {
    display: inline-block;
}
.nav-center  ul.nav li {
      display: inline;
}
.nav-center  ul.nav li a {
        float: left
}
</style>