<div class="modal-header modal-header-primary">
  <h3>Hasil Simulasi</h3>
</div>
<div class="modal-body">
  <center>
  	<% if @sim[:aqad] == 'murabaha' %>
	    <h3 class="media-heading"><%= "Pembelian Rumah Dengan Murabahah" %></h3><hr class="light">

        <form action="#" class="long-inline lead-big" role="form">
          <div class="form-group">
            <label for="name">Apabila kamu memilih Murabaha, diperkirakan rumah akan dijual kepadamu seharga<span>Harga Jual </span></label>
            <%= text_field_tag :tangible, '', placeholder: idr_money(@simulation.marked_up_price), disabled: true  %>
          </div>

          <div class="form-group">
            <label for="name"> dan kamu cukup membayar uang muka sebesar <span>Down Payment Pertama  </span></label>
            <%= text_field_tag :price, '', placeholder: idr_money(@simulation.first_payment), disabled: true %>
          </div>

          <div class="form-group">
            <label for="company"> Perkiraan biaya cicilan per bulan adalah sebesar <span>Cicilan Bulanan</span></label>
            <%= text_field_tag :contribution_percent, '', placeholder: idr_money(@simulation.calc_monthly_installment), disabled: true %>.
          </div><br>

        </form>
	  <%= link_to "Atur Ulang", open_simulation_path(type: 'client', aqad: 'murabaha'), remote: true, class: "btn btn-primary btn-round-lg" %>
	</center>
	<% else  %>
	    <h3 class="media-heading"><%= "Simulasi Musyarakah" %></h3><hr class="light">
        <form action="#" class="long-inline lead-big" role="form">
          <div class="form-group">
            <label for="name">Apabila kamu memilih Musyarakah, kamu cukup membayar uang muka sebesar<span>Down Payment Pertama </span></label>
            <%= text_field_tag :tangible, '', placeholder: idr_money(@simulation.first_payment), disabled: true  %>
          </div>

          <div class="form-group">
            <label for="name">dan kamu akan mendapatkan porsi kepemilikan sebesar <span>Kepemilikan </span></label>
            <%= text_field_tag :price, '', placeholder: (@simulation.contribution_percent.to_s + '%.'), disabled: true %>
          </div>

          <div class="form-group">
            <label for="company"> Perkiraan biaya sewa per bulan atas rumah itu adalah sebesar <span>Sewa Bulanan</span></label>
            <%= text_field_tag :contribution_percent, '', placeholder: idr_money(@simulation.monthly_rent), disabled: true %>.
          </div><br>

          <div class="form-group">
            <label for="company"> Apabila kamu mau menempati rumah tersebut, setiap bulannya kamu hanya perlu membayar <span>Sewa Terdiskon</span></label>
            <%= text_field_tag :maturity, '', placeholder: idr_money(@simulation.rental_fee), disabled: true  %>
          </div><br>
        </form>

		<%= link_to "Atur Ulang", open_simulation_path(type: 'client', aqad: 'musharaka'), remote: true, class: "btn btn-primary btn-round-lg" %>
	<% end %>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>