<div class="col-md-12" id="subcribe-prompt">
	<p>Simpan email kamu di kotak bawah ini dan kami akan kabari kamu ketika platform sudah bisa diakses</p>
	<div class="panel-body" id="landing-subscriber">
		<%= form_tag subscribe_path, method: 'post', html: {role: "form"} do %>
		  <div class="input-group">
		    <%= text_field_tag :email, '', placeholder: "alamat emailmu", class: "form-control" %>
		    <%= hidden_field_tag :category, @category, readonly: true %>
		    <span class="input-group-btn">
		    	<%= submit_tag "Ingatkan Saya", class: "btn btn-primary hidden-xs" %>
		    	<%= submit_tag "Ingatkan Saya", class: "btn btn-xs btn-primary visible-xs" %>
		    </span>
		  </div>
		<% end %> 		
	</div>
</div>	 