<%= link_to '#' do %>
  <img class="img-responsive" src="<%= cl_image_path photo.path, house_tender_options('') %>" alt="image" /> 
	<div class="image-buttons">
	    <a href="#" class="favorite"><i class="fa fa-heart"></i></a>
	    <a href="#" class="add-to-collection"><i class="fa fa-folder"></i></a>
	    <a href="#" class="share"><i class="fa fa-user"></i></a>
	</div>  
<% end %>
<table class="table table-bordered table-striped table-hover table-responsive">
  <tbody>
    <tr>
      <td>Luas Bangunan:<strong> <%= house.property_size %> m<sup>2</sup></strong></td>
      <td>Luas Tanah:<strong> <%= house.lot_size %> m<sup>2</sup></strong></td>
      <td>Harga:<strong><%= idr_money(house.price_ticker) %> jt</strong> </td>
    </tr>
    <tr>
      <td>Tingkat:<strong> <%= house.level %></strong></td>
      <td>Kamar Tidur:<strong> <%= house.bedrooms %> </strong></td>
      <td>Kamar Mandi:<strong> <%= house.bathrooms %> </strong></td>
    </tr>
    <tr>
      <td>Garasi:<strong> <%= house.garages %></strong></td>
      <td>Tahun dibangun:<strong> <%= house.anno %></strong></td>
    <tr>
  </tbody>
</table>