<% meta title: @house.ticker %>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="product-chooser-item">
    <% if house.avatar.blank? %>
      <img src="http://res.cloudinary.com/instilla/image/upload/s--iftDNybA--/c_scale,h_175,w_175/v1452508512/asset/2000px-House_Silhouette.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
    <% else %>
      <%= cl_image_tag(house.avatar, house_photo_options()) %>
    <% end %>   
        
    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title"><%= link_to house.ticker, house_path(house) %></span>
            <span class="description"><%= house.property_size %>m2/<%= house.lot_size %>m2, <%= house.bedrooms %> kamar tidur dan <%= house.bathrooms %> kamar mandi.</span>
<!--            <input type="radio" name="product" value="mobile_desktop" checked="checked"> -->
        </div>
    
    <% unless defined?(fundraising) && fundraising == true %>
    <div class="col-xs-4 col-sm-4 col-md-6">
      <%= link_to house_path(house), class: "btn btn-sm btn-primary" do %>
        <i class="fa fa-search-plus"></i> Lihat
      <% end %>                         
    </div>
    <% else %>
    <div class="col-xs-4 col-sm-4 col-md-6">
      <%= link_to new_tender_path(user_id: current_user, intent: 'fundraising', asset: "Stock", asset_id: house.initial_stock, akad: "musharaka"), class: "btn btn-sm btn-primary", remote: true do %>
      <i class="fa fa-search-plus"></i> Pilih
      <% end %>
    </div>
    <% end %>
    
        <div class="clear"></div>
    </div>
</div>

<!-- Partial item -->
<div class="col-md-10">
    <div class="wp-block-item property-list">
        <div class="wp-block-title">
            <h3><%= link_to house.ticker, house_path(house) %>  <small><%= house.address %></small></h3>
        </div>
        <div class="body">
            <div class="wp-block-img">
                <%= link_to house_path(house) do %>
                    <%= render_house_display(house, '') %>
                <% end %>
            </div>
            <div class="wp-block-content">
                <h4 class="content-title"><%= house.state %></h4>
                <p class="description"><%= house.description || "Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam." %></p>
                <span class="pull-left">
                    <span class="value"><%= idr_money(house.price.to_i) %></span> 
                    <!-- <span class="period">per month</span> -->
                </span>
                <% if defined?(fundraising) && fundraising == true %>
                    <span class="pull-right">
                        <%= button_to "Apply", house_tenders_path(house) %>
                    </span>
                <% end %>
            </div>
        </div>
        <div class="list-footer">
            <ul class="aux-info">
                <li><i class="fa fa-building"></i> <%= house.property_size %>/<%= house.lot_size %> m<sup>2</sup></li>
                <li><i class="fa fa-moon-o"></i> <%= house.bedrooms %> k. Tidur</li>
                <li><i class="fa fa-tint"></i> <%= house.bathrooms %> k. Mandi</li>
                <li><i class="fa fa-car"></i> <%= house.garages %> port</li>
                <li><i class="fa fa-plus-square"></i> <%= house.level %> tingkat</li>
            </ul>
        </div>
    </div>
</div> 