<%= simple_form_for(@house, html: { class: 'form-vertical' }, wrapper: :vertical_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes })  do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <%= render 'houses/place_fields', f: f %>
    <%= render 'houses/characteristics_fields', f: f %>
    <%= render 'houses/situations_fields', f: f %>
  </div>
  <hr>
  <h4 class="media-heading">Unggah Foto Rumah</h4>
  <h5>Foto Properti</h5>
  <%= render 'houses/photos_fields', f: f %>

  <p class="centered">
    <button class='btn btn-lg btn-success'>
      <i class='fa fa-plus-square'></i> Simpan Data
    </button> 
  </p>


<% end %>