<%= simple_form_for(@house, html: { class: 'form-vertical' }, wrapper: :vertical_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes })  do |f| %>
  <%= f.error_notification %>

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="form-inputs">
    <%= render 'houses/place_fields', f: f %>
    <%= render 'houses/characteristics_fields', f: f %>
    <%= render 'houses/situations_fields', f: f %>

    <%= f.input :description, label: "Informasi Tambahan", input_html: { rows: 10 } %>
  </div>
  <hr>
  <h4 class="media-heading">Unggah Foto Rumah</h4>
  <h5>Display Picture</h5>
  <%= render partial: 'elements/direct_photo_upload', locals: { f: f } %>
  <hr>
</div>

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 form-actions">
  <%= submit_tag "Simpan", class: "btn btn-success" %>
</div>

<% end %>

<script>
  $(document).ready(function() {
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({ 
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        maxFileSize: 1000000, // 1MB
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        done: function (e, data) {
          NProgress.done(true);
        },        
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        NProgress.done(true);
        $(".status").text("File berhasil diunggah, silahkan tekan Simpan");
      }
  }
</script>