<div class="col-sm-6 col-xs-12">
<li>
    <a href="#" class="product-photo">
        <% if house.avatar.blank? %>
            <img src="http://res.cloudinary.com/instilla/image/upload/s--iftDNybA--/c_scale,h_175,w_175/v1452508512/asset/2000px-House_Silhouette.png" class="img-responsive" alt="">
        <% else %>
            <%= cl_image_tag(house.avatar, house_photo_options()) %>
        <% end %>                
    </a>

    <h2><a href="#"><%= house.ticker %></a></h2>
<!--     <a href="#" class="product-compare">compare</a> -->

    <div class="product-rating">
        <span><a href="#">Luas Bangunan/Tanah: <%= house.property_size %>m2/<%= house.lot_size %>m2</a></span>
    </div>

    <p class="product-description"><%= house.bedrooms %> kamar tidur dan <%= house.bathrooms %> kamar mandi.</p>

    <%= link_to house_path(house), class: "btn btn-primary btn-xs tip" do %>
        <i class="fa fa-search-plus"></i> Lihat
    <% end %>            
    <p class="product-price"><%= idr_money(house.price_ticker) %> jt</p>

</li>
</div>