<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="product-chooser-item">
    <% if house.avatar.blank? %>
      <img src="http://res.cloudinary.com/instilla/image/upload/s--iftDNybA--/c_scale,h_175,w_175/v1452508512/asset/2000px-House_Silhouette.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="">
    <% else %>
      <%= cl_image_tag(house.avatar, house_photo_options()) %>
    <% end %>	
		
    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
			<span class="title"><%= house.ticker %></span>
			<span class="description"><%= house.property_size %>m2/<%= house.lot_size %>m2, <%= house.bedrooms %> kamar tidur dan <%= house.bathrooms %> kamar mandi.</span>
<!-- 			<input type="radio" name="product" value="mobile_desktop" checked="checked"> -->
		</div>
    
    <div class="col-xs-4 col-sm-4 col-md-6">
      <%= link_to house_path(house), class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-search-plus"></i> Lihat
      <% end %>                         
    </div>
    <div class="col-xs-4 col-sm-4 col-md-6">
    <% if defined?(fundraising) && fundraising == true %>
      <%= link_to new_tender_path(user_id: current_user, intent: 'fundraising', asset: "Stock", asset_id: house.initial_stock), class: "btn btn-sm btn-primary", remote: true do %>
      <i class="fa fa-search-plus"></i> Pilih
      <% end %>
    <% end %>
    </div>
    
		<div class="clear"></div>
	</div>
</div>                   