
<div class="thumbnail house-listing card">
    <%= render partial: 'houses/house_display', locals: {house: house} %>
    <div class="caption">
        <div class="row prose extra-bottom-margin">
            <div class="col-sm-8 col-xs-8">
                <div class="top-desc address">
                    <%= link_to_unless @disable_link, house.address, house_path(house) %> <span class="city small"><%= house.province %></span> 
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="top-desc coral pull-right"><strong><%= "Rp " + idr_concat(house.price, 1000000) + " jt" %></strong></div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-desc">
                <p>
                    <span class="lggrey"><%= house.bedrooms %> Kamar Tidur <sup>.</sup> 
                    <%= house.bathrooms %> Kamar Mandi <sup>.</sup> <%= house.lot_size %>m<sup>2</sup></span>
                </p> 
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p><%= sale_label(house) %> <%= rent_label(house) %> <%= vacant_label(house) %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <ul class="post-links">
                <%= show_footer_link_for_house(house) %>
                <%= fundraising_footer_link(house) %>
                <%= edit_footer_link_for_house(house) %>
              </ul>
            </div>
        </div>        
    </div>
</div>
