<table class="table table-bordered table-striped table-hover table-responsive">
  <tbody>
    <tr>
      <td>Luas Bangunan:<strong> <%= house.property_size %> m<sup>2</sup></strong></td>
      <td>Luas Tanah:<strong> <%= house.lot_size %> m<sup>2</sup></strong></td>
      <td>Harga:<strong><%= idr_money(house.price_ticker) %> jt</strong> </td>
    </tr>
    <tr>
      <td>Tingkat:<strong> <%= house.level %></strong></td>
      <td>Kamar Tidur:<strong> <%= house.bedrooms %> </strong></td>
      <td>Kamar Mandi:<strong> <%= house.bathrooms %> </strong></td>
    </tr>
    <tr>
      <td>Garasi:<strong> <%= house.garages %></strong></td>
      <td>Tahun dibangun:<strong> <%= house.anno %></strong></td>
    <tr>
  </tbody>
</table>