
<div class="thumbnail house-listing card">
    <%= render partial: 'houses/house_display', locals: {house: house} %>
    <div class="caption">
        <div class="row prose extra-bottom-margin">
            <div class="col-sm-8 col-xs-8">
                <div class="top-desc address">
                    <%= link_to_unless @disable_link, house.address %> <span class="city small"><%= house.province %></span> 
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="top-desc coral pull-right"><strong><%= "Rp " + idr_concat(house.price, 1000000) + " jt" %></strong></div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-desc">
                <p>
                    <span class="lggrey"><%= house.bedrooms %> Kamar Tidur <sup>.</sup> 
                    <%= house.bathrooms %> Kamar Mandi <sup>.</sup> <%= house.lot_size %>m<sup>2</sup></span>
                </p> 
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p><%= sale_label(house) %> <%= rent_label(house) %> <%= vacant_label(house) %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
      <ul class="post-links">
        <li><%= link_to "Lihat", house_path(house) %></li>
        <% if current_user && house.access_granted?(current_user) %>
        <li>
            <%= link_to new_house_tender_path(house, intent: 'fundraising'), data: {toggle: 'tooltip', placement: 'top', original_title: 'Buat pengajuan pendanaan'} do %>
                <span class="text-danger">
                    <%= embedded_svg('spark-10-writing.svg', class: 'svg-icon') %>  Pengajuan
                </span>
            <% end %>
        </li>
        <% end %>
      </ul>                    
            </div>
        </div>        
    </div>
</div>
