
<div class="user-menu-container square">
    <div class="user-details">
        <div class="row white-background white" style="margin-left: 0px;">
            <div class="col-md-8 col-xs-4">
                <div class="user-pad">
                    <h3 class="black"><%= @house.ticker %></h3>
                    <h4 class="white"><i class="fa fa-check-circle-o"></i> <%= @house.address %></h4>
<!--                     <h4 class="white"><i class="fa fa-twitter"></i> <%= @house.address %></h4> -->
                    <%= link_fa_to('pencil', 'Profil', edit_admin_house_url(@house, subdomain: '')) if current_user.admin? %>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="user-image">
                    <% if @house.avatar.blank? %>
                        <img src="http://res.cloudinary.com/instilla/image/upload/s--iftDNybA--/c_scale,h_500,w_700/v1452508512/asset/2000px-House_Silhouette.png" class="img-responsive" alt="">
                    <% else %>
                        <%= cl_image_tag(@house.avatar, house_photo_options('zoom')) %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row overview">
            <div class="col-xs-4 user-pad text-center">
                <h3>HARGA</h3>
                <h4><%= idr_concat(@house.price) %> jt</h4>
            </div>
            <div class="col-xs-4 user-pad text-center">
                <h3>FOR SALE</h3>
                <h4><%= @house.for_sale %></h4>
            </div>
            <div class="col-xs-4 user-pad text-center">
                <h3>FOR RENT</h3>
                <h4><%= @house.for_rent %></h4>
            </div>
        </div>
    </div>
<!--     <div class="col-xs-12 user-menu-btns">
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <%= link_to house_path(@house), remote: true, class: "interface btn btn-block btn-primary active", id: "home-button" do %>
              <i class="fa fa-laptop fa-3x"></i>
            <% end %>
        </div>
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <%= link_to marketplace_path, remote: true, class: "interface btn btn-block btn-primary", id: "market-button" do %>
              <i class="fa fa-briefcase fa-3x"></i>
            <% end %>             
        </div>
        <div class="col-xs-4 responsive" style="padding-left: 0px; padding-right: 0px;">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fa fa-coffee fa-3x"></i>
            </a>                    
        </div>
    </div> -->
    <br>
    <div class="col-xs-12 user-menu">
        <div class="user-menu-content active">
            <div class="col-md-3 centered" id="left-view">
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <i class="fa fa-cloud-upload fa-4x"></i>
                    </div>
                    <div class="col-md-12 col-xs-5">
                        <%= render_double_button('lightbulb-o', 'Beli Dengan', 'Pendanaan', new_tender_path(user_id: current_user, intent: 'fundraising', asset: "Stock", asset_id: @house.initial_stock, akad: "musharaka"), true) %>
                    </div>
                    <div class="col-md-12 col-xs-2" style="margin-top: 10px; margin-bottom: 10px;">
                        ATAU
                    </div>
                    <div class="col-md-12 col-xs-5">
                        <%= render_double_button('search', 'Pilih Untuk', 'Menyewa', '', true) %>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
              <div id="home-view">
                <div class="right-display">
                  <div class="item">
                    <div class="wp-block-footer style2 mt-15">
                        <ul class="aux-info">
                            <li><i class="fa fa-building"></i><%= @house.property_size %> m2</li>
                            <li><i class="fa fa-user"></i> <%= @house.bedrooms %> Bedrooms</li>
                            <li><i class="fa fa-tint"></i> <%= @house.bathrooms %> Bathrooms</li>
                            <li><i class="fa fa-car"></i> <%= @house.garages %> Garages</li>
                        </ul>
                    </div>
                  </div>
                  <div class="item">
                    <h5>Info</h5>
                    <%= render 'houses/house_details', house: @house %>
                    <p><%= @house.description %></p>
                  </div>
                  <div class="item">
                    <!-- <h5>Foto</h5> -->
                    <% @photos.each do |photo| %>
                        <%= render 'houses/house_photo', photo: photo %>
                    <% end %>

                    <%= link_to "Unggah Foto", upload_photo_admin_house_path(@house), class: "btn btn-round-lg btn-primary" if current_user.admin? %>
                  </div>
                </div>
              </div>
              <div class="side-view" id="marketplace" style="display: none;">
              </div>
              <div class="side-view" id="houses" style="display: none;">
              </div>                          
            </div>
        </div>
    </div>
</div>