<% meta title: @house.title %>

<div class="portlet">
	<div class="portlet-title">
		<div class="caption caption-red">
			<i class="glyphicon glyphicon-cog"></i>
			<span class="caption-subject text-uppercase" id="house-title"><strong><%= @house.title %></strong></span>
		</div>
        <% if current_user.admin? %>
		<div class="actions pull-right">
            <%= link_to edit_admin_house_path(@house), class: "btn btn-red btn-circle" do %>
				<i class="glyphicon glyphicon-pencil"></i>
            <% end %>
<!-- 			<a href="javascript:;" class="btn btn-red btn-circle">
				<i class="glyphicon glyphicon-trash"></i>
			</a> -->
		</div>
        <% end %>
	</div>
	<div class="portlet-body">
<div class="estate">
    <div class="row">
        <div class="col-md-12">
       <div class="row">
            <div class="col-md-7">
                <div class="product-gallery">
                    <div class="primary-image">
                        <!-- Ideal image size is 700x500, with class of img-responsive -->
                        <% if @house.avatar.blank? %>
                            <img src="http://res.cloudinary.com/instilla/image/upload/s--iftDNybA--/c_scale,h_500,w_700/v1452508512/asset/2000px-House_Silhouette.png" class="img-responsive" alt="">
                        <% else %>
                            <%= cl_image_tag(@house.avatar, house_photo_options('zoom')) %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-info">
                    <div class="wp-block property list no-border">
                        <div class="wp-block-content clearfix">
                            <h4 class="content-title" id="house-state"><%= @house.state %></h4>
                            <p class="mb-15"><%= @house.address %></p>
                            <p class="description mb-15">
                                <%= link_to 'Ajukan Pendanaan', choose_product_path, class: "btn btn-block btn-outlined btn-theme", remote: true  %>
                            </p>
                            <span class="pull-left">
                                <span class="price" id="house-price">
                                	<%= idr_money(@house.price) %>
                                </span> 
<!--                                 <span class="period">
                                	per month
                                </span> -->
                            </span>
                            <span class="pull-right">
                                <span class="capacity">
<!--                                     <i class="fa fa-user"></i>
                                    <i class="fa fa-user"></i> -->
                                </span>
                            </span>
                        </div>
                        <div class="wp-block-footer style2 mt-15">
                            <ul class="aux-info">
                                <li><i class="fa fa-building"></i><%= @house.property_size %> m2</li>
                                <li><i class="fa fa-user"></i> <%= @house.bedrooms %> Bedrooms</li>
                                <li><i class="fa fa-tint"></i> <%= @house.bathrooms %> Bathrooms</li>
                                <li><i class="fa fa-car"></i> <%= @house.garages %> Garages</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROPERTY DESCRIPTION -->
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-framed boxed">
                    <ul class="tabs clearfix">
                        <li class="active"><a href="#tab-1" data-toggle="tab">Info</a></li>
                        <li><a href="#tab-map" data-toggle="tab" data-type="gmap">Foto</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                            <div class="tab-body">
                                <div class="section-title-wr">
                                    <h3 class="section-title left">Keterangan</h3>
                                </div>
                                    <% if @house.description.blank? %> 
                                      <div class="blankslate">
                                        <div class="spacious">
                                          <h3><%= "Belum Ada Keterangan" %></h3>
                                        </div>
                                      </div>
                                    <% else %>
                                        <p><%= @house.description %></p>
                                    <% end %>
                                    <br><br>

                                <div class="section-title-wr">
                                    <h3 class="section-title left">Rincian</h3>
                                </div>
                                <table class="table table-bordered table-striped table-hover table-responsive">
                                    <tbody>
                                        <tr>
                                            <td><strong>Luas Bangunan:</strong> <%= @house.property_size %> Sq Ft</td>
                                            <td><strong>Luas Tanah:</strong> <%= @house.lot_size %> Sq Ft</td>
                                            <td><strong>Harga:</strong> <%= idr_money(@house.price_ticker) %> jt</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tingkat:</strong> <%= @house.level %></td>
                                            <td><strong>Kamar Tidur:</strong> <%= @house.bedrooms %></td>
                                            <td><strong>Kamar Mandi:</strong> <%= @house.bathrooms %></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Garasi:</strong> <%= @house.garages %></td>
                                            <td><strong>Kebun:</strong> <%= @house.greenery %></td>
                                            <td><strong>Tahun dibangun:</strong><%= @house.anno %></td>
                                        <tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-map">
                            <div class="tab-body">
                            <% @photos.each do |photo| %>
                                <div class="col-md-6">

<div class="panel panel-default" id="panel-image">
    <div class="panel-heading">
        <small><%=  %></small>
    </div>
    <div class="panel-image hide-panel-body">
        <%= cl_image_tag(photo.path, { :height => 200, width: 300, quality: 70, :crop => :scale }) %>
    </div>
    <div class="panel-footer text-center">
        <span class="badge"><%=  %></span>
            <%= link_to '#' do %>
                <span class="glyphicon glyphicon-zoom-in"></span>
            <% end %>
            <% if current_user.admin? %>
                <%= link_to '#' do %>
                    <span class="glyphicon glyphicon-download"></span>
                <% end %>
                <%= link_to '#' do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
            <% end %>
    </div>
</div>                                    
                                </div>
                            <% end %>

                            <%= link_to "Unggah Foto", upload_photo_admin_house_path(@house), class: "btn btn-outlined btn-block btn-black" if current_user.admin? %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>

</div>                
	</div>
</div>