<% meta title: "#{@house.address}" %>

<%= render 'header' %>
<div class="container">
  <div class="estate">    
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <div class="listing-address hidden-sm-down" id="listing-address">
          <div class="row">
            <div class="col-xs-12 address">
              <h2 class="street "><%= @house.address %> <small><%= @house.city %></small></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4 class="">Aktif · <%= @house.bedrooms %> kamar tidur <%= @house.bathrooms %> kamar mandi · <%= @house.property_size %>m² · <%= @house.lot_size %>m² tanah</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3 id="house-price">
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M17.35,2.219h-5.934c-0.115,0-0.225,0.045-0.307,0.128l-8.762,8.762c-0.171,0.168-0.171,0.443,0,0.611l5.933,5.934c0.167,0.171,0.443,0.169,0.612,0l8.762-8.763c0.083-0.083,0.128-0.192,0.128-0.307V2.651C17.781,2.414,17.587,2.219,17.35,2.219M16.916,8.405l-8.332,8.332l-5.321-5.321l8.333-8.332h5.32V8.405z M13.891,4.367c-0.957,0-1.729,0.772-1.729,1.729c0,0.957,0.771,1.729,1.729,1.729s1.729-0.772,1.729-1.729C15.619,5.14,14.848,4.367,13.891,4.367 M14.502,6.708c-0.326,0.326-0.896,0.326-1.223,0c-0.338-0.342-0.338-0.882,0-1.224c0.342-0.337,0.881-0.337,1.223,0C14.84,5.826,14.84,6.366,14.502,6.708">
                  </path>
                </svg>
                <%= idr_money(@house.price) %>
              </h3>
            </div>
          </div>          
        </div>
        <section class="listing-section listing-remark">
          <% if @house.description.present? %>
            <p><%= @house.description %></p>
<!--             <div class="border-box">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-xs-2">
                    <img width="40" src="./Opendoor_files/opendoor_logo-f3be78fec51f4044fc812eb23c17bee8.svg" alt="Opendoor logo">
                  </div>
                  <div class="col-xs-10">
                    <h4>Opendoor Certified</h4>
                    <p style="font-size: 12px;">This home has been thoroughly inspected by a third-party professional inspector, and updated to ensure a stress-free move-in.</p>
                  </div>
                </div>
              </div>
            </div> -->
          <% end %>
        </section>
        <section class="listing-section at_a_glance">
          <h5>Sekilas</h5>
          <div class="row features-container">
            <div class="col-sm-2">
              <label>Karakteristik</label>
            </div>
            <div class="col-sm-5 col-xs-6">
              <ul class="">
                <li><div class="feature-label"># Kamar Tidur:</div> <strong class=""><%= @house.bedrooms %></strong></li>
                <li><div class="feature-label"># Kamar Mandi:</div> <strong class=""><%= @house.bathrooms %></strong></li>
                <li><div class="feature-label"># Carport:</div> <strong class=""><%= @house.garages %></strong></li>
                <li><div class="feature-label">Tingkat:</div> <strong class=""><%= @house.level %></strong></li>                
              </ul>
            </div>
            <div class="col-sm-5 col-xs-6">
              <ul class="">
                <li><div class="feature-label">Tahun dibangun:</div> <strong class=""><%= @house.anno %></strong></li>
                <li><div class="feature-label">Luas:</div> <strong class=""><%= @house.property_size %>m²</strong></li>
                <li><div class="feature-label">Luas Tanah:</div> <strong class=""><%= @house.lot_size %>m²</strong></li>
              </ul>
            </div>
          </div>
          <div class="row   features-container">
            <div class="col-sm-2 col-xs-12">
              <label>Status</label>
            </div>
            <div class="col-sm-5">
              <ul class="">
                <li><div class="feature-label">Dijual?:</div> <strong class=""><%= @house.for_sale %></strong>
                </li>
                <li><div class="feature-label">Disewa?:</div> <strong class=""><%= @house.for_rent %></strong></li>
                <li><div class="feature-label">Hipotik:</div> <strong class=""><%= mortgage_left(@house) %></strong></li>
              </ul>
            </div>
            <div class="col-sm-5">
            </div>              
          </div>
        </section>
        <section class="listing-section listing_activity">
          <h5>Aktifitas</h5>
          <div class="table-grid">
            <div class="row">
              <div class="col-xs-5">
                <h3>
                <%= embedded_svg('spark-10-eye.svg', class: 'svg-icon') %>
                <span class="count"><strong class=""><%= @view_count %></strong></span> views </h3>
              </div>
              <div class="col-xs-7">
                <h3>
                <%= embedded_svg('spark-10-fax.svg', class: 'svg-icon') %>
                <span class="count"><small>diperbarui pada <strong class=""><%= @house.updated_at.strftime("%d-%m-%Y") %></strong></small></span> 
                </h3>
              </div>
            </div>
          </div>
        </section>
        <section class="content-item listing-section house-photos" id="gallery">
          <h5>Foto</h5>
          <%= render 'houses/photo_gallery' %>
        </section>
        <section class="report">
          <h5>Laporan</h5>
          <p>Belum ada laporan</p>
<!--           <div class="table-grid">
            <div class="row title">
              <div class="col-xs-8">Nama</div>
              <div class="col-xs-4">Jarak</div>
            </div>
            <div class="row table-content">
              <div class="col-xs-8">School Name</div>
              <div class="col-xs-4">Distance</div>              
            </div>
          </div> -->
        </section>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
  <div class="spacing"></div>
<!-- <section class="about">
  <div class="container">
    <div class="row center-xs">
      <h2 class="extra-bottom-margin">About Opendoor</h2>
    </div>
    <div class="row prose"><div class="col-md-5 col-xs-12 col-md-offset-1"><h5>Who are we?</h5><p>We're a team of 58 people dedicated to changing the real estate business by making buying and selling dramatically easier. Moving has been one of the most stressful events in our lives. With a traditional home sale lasting months full of headaches and uncertainty, we knew there had to be a better experience for buyers and sellers.</p></div><div class="col-md-5 col-xs-12"><h5>We inspect every corner.</h5><p>We do a professional inspection before buying a home and then re-inspect after we're done with renovations.</p><h5 class="top-margin">Home Warranty Included.</h5><p>We stand by our product, so we provide a warranty on the essential items of the home free of charge.</p></div></div>
  </div>
</section>   -->
  <%= render 'upload_photo' %>
</div>
<div class="spacing extra-bottom-margin"></div>

<style type="text/css">

</style>