<% meta title: "Pendaftaran Properti" %>

<section class="intro bordered-section ">
  <div class="container">
    <div class="inner-skeleton">
      <h2>Pendaftaran Properti</h2>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
              <li>
                <%= active_link_to house_step_path(@house, :place), :active => /place/ do %>
                  <span class="step_no">1</span>
                  <span class="step_descr">Lokasi<br />
                  </span>
                <% end %>
              </li>
              <li>
                <%= active_link_to house_step_path(@house, :characteristics), :active => /char/ do %>
                  <span class="step_no">2</span>
                  <span class="step_descr">Karakteristik<br />
                   </span>
                <% end %>
              </li>
              <li>
                <%= active_link_to house_step_path(@house, :situations), :active => /situ/ do %>
                  <span class="step_no">3</span>
                  <span class="step_descr">Kondisi<br />
                  </span>
                <% end %>
              </li>
              <li>
                <%= active_link_to house_step_path(@house, :pictures), :active => /pict/ do %>
                  <span class="step_no">4</span>
                  <span class="step_descr">Display Picture<br />
                  </span>
                <% end %>
              </li>    
            </ul>
            <% unless @independent %>
              <div class="row" id="building-form">
                <%= yield :step_title %>
                <%= simple_form_for(@house, method: :put, url: wizard_path, html: { class: 'form-vertical' }, wrapper: :vertical_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
                  <%= f.error_notification %>

                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <%= yield f %>
                  </div>
                  
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 form-actions directional-buttons">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                        <%= link_to "Sebelumnya", previous_wizard_path, class: "btn btn-inverse btn-round-lg pull-left" unless @disable_previous %>
                      </div>
                      <div class="btn-group" role="group">
                        <%= link_to "Kembali", user_root_path(not_done: @status), class: "btn btn-inverse btn-round-lg" if @house.form_step == 'done' %>
                      </div>
                      <div class="btn-group" role="group">
                        <%= f.submit "Lanjutkan", class: "btn btn-inverse btn-round-lg pull-right" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="row" id="uploading-form">
                <%= yield %>
              </div>
            <% end %>
          </div>
          <!-- End SmartWizard Content -->
          <div class="spacing"></div>
        </div>
      </div>

    </div>
  </div>
</section>

