
<%= render layout: 'form' do  %>
  <%= form_for @house, url: house_step_path(@house, @step), method: :patch do |f| %>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <%= render 'houses/photos_fields', f: f %>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 form-actions">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= link_to "Sebelumnya", previous_wizard_path, class: "btn btn-inverse btn-round-lg pull-left" unless @disable_previous %>
        </div>
        <div class="btn-group" role="group">
          <%= link_to "Kembali", user_root_path(not_done: @status), class: "btn btn-inverse btn-round-lg" if @house.form_step == 'done' %>
        </div>
        <div class="btn-group" role="group">
        </div>
      </div>
    </div>

  <% end %>
<% end %>