<div class="comment-item">
	<strong class="pull-left primary-font"><%= comment.user.name.titleize %></strong>
	<small class="pull-right text-muted">
	   <span class="glyphicon glyphicon-time"></span>
	   <%= time_ago_in_words(comment.created_at) %> ago
	</small>
	</br>
	<li class="ui-state-default">
		<%= comment.body_md %>
	</li>
	</br>
	  <p>
		<% if comment.author?(current_user) || current_user.present? && current_user.admin? || current_user.present? && comment.author?(current_user) %>
	  	  <span><%= link_to "Edit", edit_blog_post_comment_path(comment.commentable, comment.slug), remote: true %></span> |
	  	<% end %>
	  	<span><%= link_to "Balas", new_blog_post_comment_path(@post, parent_comment: comment.id), remote: true %></span>
	  </p>
	

	<% comment.children.find_each do |child| %>
	  	<%= render partial: 'blog/comments/comment', locals: { comment: child } %>
	<% end %>	
</div>