<li class="media">
  <a href="#" class="pull-left">
    <% if bid.bidder.avatar.nil? %>
      <%= cl_image_tag('asset/default-avatar', cloudinary_photo_options('')) %>
    <% else %>
      <%= cl_image_tag(bid.bidder.avatar, cloudinary_photo_options('private')) %>
    <% end %>                     
  </a>
  <div class="media-body">
    <span class="text-muted pull-right">
      <small class="text-muted">
        <%= idr_money(bid.contribution) %>
      </small>
    </span>
    <strong class="text-success"><%= bid.bidder.name %></strong>
    <p>
      <% if bid.summary.nil? %>
        tidak ada pesan
      <% else %>
        <%= bid.summary %>
      <% end %>
    </p>
  </div>
  <div class="media-footer">
    <% if bid.bidder?(current_user) %>
      <%= link_to edit_tender_bid_path(bid.tender, bid), remote: true, class: "btn btn-info btn-circle" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>
      <%= link_to tender_bid_path(bid.tender, bid), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penarikan tawaran'}, class: "btn btn-warning btn-circle" do %>
        <span class="glyphicon glyphicon-trash reset-link"></span> Tarik
      <% end %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to tender_bid_path(bid.tender, bid), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penarikan tawaran'}, class: "btn btn-warning btn-circle" do %>
        <span class="glyphicon glyphicon-trash reset-link"></span> Tarik
      <% end %>              
    <% end %>
  </div>                    
</li>