<%= simple_form_for([@tender, @bid], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :shares, as: :integer, input_html: { min: '1', max: '1000', step: '1' }, label: "Jumlah Saham", required: true, hint: "Maksimal = 1000 saham  |  Harga 1 saham = #{@tender.price_per_share}" %>
	<%= f.input :summary, label: "Pesan", required: false %>
  </div>

  <div class="form-actions">
    <%= f.submit "Simpan", class: "btn btn-outlined btn-black" %>
  </div>
<% end %>
