<%= simple_form_for([@tenderable, @tender], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @aqad == 'murabaha' %>
      <%= f.input :annum, as: :integer, input_html: { min: '5', max: '10', step: '1' }, label: "Lama Cicilan", placeholder: "Tahun", required: true %>
      <%= f.input :seed_capital, as: :integer, input_html: { min: '20', max: '80', step: '5' }, label: "Uang Muka", placeholder: "% dari harga rumah", required: true %> 

    <% else %>
      <%= f.input :annum, as: :integer, input_html: { min: '20', max: '20', step: '0' }, label: "Lama Syirkah", placeholder: "Tahun", required: true %>
      <%= f.input :seed_capital, as: :integer, input_html: { min: '10', max: '80', step: '5' }, label: "Modal Kamu", placeholder: "% dari harga rumah", required: true %> 
    <% end %>
    
    <%= f.input :draft, as: :radio_buttons, collection: published_options, label: "Draft?" %>
    
    <%= f.association :house, collection: @houses, label_method: :ticker, value_method: :id, prompt: "pilih rumah", label: "Rumah Terkait" %>

    <%= f.input :aqad, :as => "hidden", :input_html => { value: @aqad } %>
    <%= f.input :category, :as => "hidden", :input_html => { value: @category } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Kirim", class: "btn btn-outlined btn-black" %>
  </div>
<% end %>