<%= simple_form_for([@tenderable, @tender]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :target, label: "Besaran (Rp)", required: true %>
	  <%= f.input :aqad, collection: aqad_options, selected: @tender.aqad, label: "Jenis Akad", required: true %>
    <%= f.input :use_case, collection: case_options, selected: @tender.use_case, label: "Tujuan Pembiayaan", required: true %>
    <%= f.input :intent, collection: intent_options, selected: @tender.intent, label: "Fungsi", required: true %>
    <%= f.input :price, label: "Harga Aset", required: true %>
    <%= f.input :address, label: "Alamat", required: true %>
    <%= f.input :tangible, collection: tangible_options, selected: @tender.tangible, label: "Bentuk Rumah", required: true %>
    <%= f.input :published, as: :radio_buttons, collection: published_options, label: "Langsung Publikasikan?", required: true %>

  </div>

  <div class="form-actions">
    <%= f.submit "Simpan", class: "btn btn-outlined btn-black" %>
  </div>
<% end %>