<%= simple_form_for([@tenderable, @tender], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @aqad == 'murabahah' %>
      <%= f.input :use_case, as: :string, input_html: { value: 'pembelian'}, label: "Tujuan Pembiayaan", required: true, readonly: true %>
    <% else %>
      <%= f.input :target, label: "Target Dana (Rp)", required: true %>
      <%= f.input :use_case, collection: case_options, prompt: "Pilih", selected: @tender.use_case, label: "Tujuan Pembiayaan", required: true %>
    <% end %>
    <%= f.input :intent, collection: intent_options, prompt: "Pilih", selected: @tender.intent, label: "Fungsi", required: true %>
    <%= f.input :price, label: "Harga Rumah", required: true %>
    <%= f.input :address, label: "Lokasi", required: true %>
    <%= f.input :tangible, collection: tangible_options, prompt: "Pilih", selected: @tender.tangible, label: "Bentuk Rumah", required: true %>
    <%= f.input :published, as: :radio_buttons, collection: published_options, label: "Langsung Publikasikan?", required: true %>
    <%= f.input :aqad, :as => "hidden", :input_html => { value: @aqad } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Simpan", class: "btn btn-outlined btn-black" %>
  </div>
<% end %>