<%= simple_form_for([@tenderable, @tender]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :target, label: "Besaran (Rp)" %>
	<%= f.input :summary, as: :text, label: "Penjelasan Singkat", input_html: {rows: 5, cols: 10} %>
	<%= f.input :aqad, label: "Jenis Akad" %>
    <%= f.input :intent_type, label: "Jenis Tujuan" %>
    <%= f.input :intent_assets, as: :check_boxes, collection: intent_assets_options, checked: @tender.intent_assets, label: "Aset Yang Dicari" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Ajukan", class: "btn btn-outlined btn-black" %>
  </div>
<% end %>