<%= simple_form_for(@tender, html: { class: 'form-vertical' }, wrapper: :vertical_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
  <%= f.error_notification %>

<div class="col-xs-12">
  <div class="form-inputs">
    <% if @category == 'fundraising' %>
      <%= f.input :seed_capital, as: :integer, input_html: { min: '20', max: '80', step: '5' }, label: "Modal Kamu", placeholder: "% dari harga rumah", required: true %>
    <% else %>
      <%= f.input :volume, as: :integer, input_html: { min: '0', max: '1000', step: '1' }, label: "Saham Dijual", placeholder: "jumlah", required: true %>  
      <%= f.input :price, input_html: { class: "slide-input", :data => {'slider-min'=> "100000", 'slider-max'=> "500000000", 'slider-value'=> "0", 'slider-step'=> "50000"} }, label: "Harga", required: true %>
    <% end %>

    <%= f.input :annum, as: :integer, input_html: { min: '1', max: '10', step: '1' }, label: "Durasi", placeholder: "lama kontrak", required: true %>

    <%= f.input :draft, as: :boolean, checked_value: 'yes', unchecked_value: 'no', label: "Draft?" %>

    <%= f.input :aqad, :as => "hidden", :input_html => { value: @aqad } %>
    <%= f.input :asset, :as => "hidden", :input_html => { value: @asset_type } %>
    <%= f.input :asset_id, :as => "hidden", :input_html => { value: @asset_id } %>
    <%= f.input :category, :as => "hidden", :input_html => { value: @category } %>
  </div>

  <div class="form-group">
    <label for="amount" class="col-sm-6 control-label">Nilai (Rp): </label>
    <!-- <span class="help-text">Please choose your amount</span> -->
    <div class="col-sm-6">
      <p id="amount-inputSliderVal" class="price lead"><%= idr_concat(@asset.worth) if @category == 'fundraising'  %></p>
      <span class="price"> jt</span>
    </div>
  </div>
  <% unless @category == 'fundraising' %>
  <div class="form-group">
    <label for="total" class="col-sm-6 control-label"><strong>Durasi: </strong></label>
    <!-- <span class="help-text">(Amount * Days)</span> -->
    <div class="col-sm-6">
      <p id="duration-inputSliderVal" class="price lead">0</p>
      <span class="price"> Tahun</span>
    </div>
  </div>
  <div class="form-group">
    <label for="total" class="col-sm-6 control-label"><strong>Modal: </strong></label>
    <!-- <span class="help-text">(Amount * Days)</span> -->
    <div class="col-sm-6">
      <p id="seed-inputSliderVal" class="price lead">20</p>
      <span class="price"> %</span>
    </div>
  </div>
  <% end %>  
</div>
  <div class="form-actions">
    <%= f.submit "Kirim", class: "btn btn-block btn-primary btn-round-lg" %>
  </div>
<% end %>

<script type="text/javascript">

$(function() {

  var inputSliderValue = 0;
  var humanizer = 1000000;

  function changeValue(){
    var currentSliderValue = inputSliderValue / humanizer;
    $( "#amount-inputSliderVal" ).text( currentSliderValue );
  }

  $(".slide-input").slider();
  $("#tender_price").on("slide", function(slideEvt) {
    inputSliderValue = slideEvt.value;
    changeValue();
  })
  $("#tender_annum").on("slide", function(slideEvt) {
    $("#duration-inputSliderVal").text(slideEvt.value);
  })
  $("#tender_seed_capital").on("slide", function(slideEvt) {
    $("#seed-inputSliderVal").text(slideEvt.value);
  })
});
</script>