<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">                
  <!-- panel 1 -->
  <div class="panel panel-default">
    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false"> 
      <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">  
        <h4 class="panel-title">Proposal</h4>
      </div>
    </span>
    
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

		    <div class="notice notice-info">
		      <strong>Rangkuman</strong> 
		      <p><%= @tender.summary %></p>

		      <strong>Keuangan</strong> 
		      <p class="text">
						<span><strong>Akad</strong> <%= @tender.aqad.titleize %></span>      
		      	<span><strong>Target</strong> <%= idr_money(@tender.target) %></span>
		      	<span><strong>Kontribusi</strong> <%= idr_money(@tender.contributed) %></span>
		      </p>

		      <strong>Penggunaan</strong> 
		      <p class="text">
						<span><strong>Tujuan</strong> <%= @tender.intent_type.titleize %></span>      
		      	<span><strong>Aset Yang Diincar</strong> <%= @tender.intent_assets %></span>
		      </p>      
		    </div>                

      </div>
    </div>
  </div> 
  <!-- / panel 1 -->
  
  <!-- panel 2 -->
  <div class="panel panel-default">
    <!--wrap panel heading in span to trigger image change as well as collapse -->
    <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="panel-title collapsed">Pemohon</h4>
      </div>
    </span>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      	<!-- Tab content goes here -->
      	tab 2 content
      </div>
    </div>
  </div>
  <!-- / panel 2 -->
  
  <!--  panel 3 -->
  <div class="panel panel-default">
    <!--wrap panel heading in span to trigger image change as well as collapse -->
    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
      <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 class="panel-title">Dokumen </h4>
      </div>
    </span>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      <!-- tab content goes here -->
       tab 3 content
      </div>
    </div>
  </div>

</div> <!-- / panel-group -->