<div class="panel-body inf-content">
  <div class="row">
    <div class="col-md-4 text-center">
      <i class="fa fa-file-text fa-4x" style="display: block;"></i>
      <h3>Proposal <%= tender.barcode %></h3>
      <h5><%= tender.state %> </h5>
      <ul title="Ratings" class="list-inline ratings">
        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
      </ul>
        <%= link_to 'Edit', edit_tender_link(tender), class: "btn btn-xs btn-outlined btn-theme", remote: true  %>
        <%= link_to 'Lihat', show_tender_link(tender), class: "btn btn-xs btn-outlined btn-theme"  %>      
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-condensed table-responsive table-user-information">
          <tbody>
            <tr>        
              <td>
                <strong>
                  <span class="glyphicon glyphicon-briefcase text-primary"></span> Akad
                </strong>
              </td>
              <td class="text-primary">
                <%= tender.aqad %>
              </td>
            </tr>
            <tr>    
              <td>
                <strong>
                  <span class="glyphicon glyphicon-user text-primary"></span> Klien
                </strong>
              </td>
              <td class="text-primary"><%= tender.tenderable.name %></td>
            </tr>
            <tr>        
              <td>
                <strong>
                    <span class="glyphicon glyphicon-bookmark text-primary"></span> Kategori
                </strong>
              </td>
              <td class="text-primary"><%= tender.category %> </td>
            </tr>
            <tr>        
                <td>
                  <strong>
                    <span class="glyphicon glyphicon-piggy-bank text-primary"></span> Target 
                  </strong>
                </td>
                <td class="text-primary">
                    <%= idr_money(tender.target) %> 
                </td>
            </tr>
            <tr>        
              <td>
                <strong>
                  <span class="glyphicon glyphicon-eye-open text-primary"></span> Tawaran
                </strong>
              </td>
              <td class="text-primary">
                <%= tender.bids.count %> tawaran
              </td>
            </tr>
            <tr>        
              <td>
                <strong>
                  <span class="glyphicon glyphicon-send text-primary"></span> Dibuat   
                </strong>
              </td>
              <td class="text-primary">
                <%= tender.created_at.strftime("%Y, %B %-d") %>
              </td>
            </tr>
            <tr>        
              <td>
                <strong>
                  <span class="glyphicon glyphicon-pencil text-primary"></span> Terakhir
                </strong>
              </td>
              <td class="text-primary">
                <%= time_ago_in_words(tender.updated_at) %>
              </td>
            </tr>                                    
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>              
