<div class="timeline-panel debits">
    <ul class="timeline-panel-ul">
        <li><span class="importo"><%= link_to tender.ticker, tender_path(tender) %></span></li>
        <li><span class="causale">Pengajuan <%= tender.category %> ini dibuat oleh <%= tender.starter.name %> atas rumah <%= link_to tender.tenderable.ticker, house_path(tender.tenderable) %></span> </li>
        <li>
        	<p><small class="text-muted">
        		<i class="glyphicon glyphicon-money"></i> <%= idr_money(tender.target) %>
        		<i class="glyphicon glyphicon-time"></i> 11/09/2014
        		</small>
        	</p> 
        </li>
    </ul>
</div>