<div class="wp-block property list">
  <div class="ribbon base"><span><%= tender.state %></span></div>
  <div class="wp-block-title">
    <h4 class="tender-title">
      <%= link_to tender.barcode, show_tender_link(tender) %>
    </h4>
    <hr>
  </div>
  <div class="wp-block-body">
    <div class="wp-block-content">
      <h4 class="content-title"><%= tender.aqad.titleize %></h4>
      <p class="description">
        <%= tender.summary %>
      </p>
      <span class="pull-left">
        <span class="price"><%= idr_money(tender.target) %></span> 
        <span class="period">(<%= idr_money(tender.contributed) %>)</span>
      </span>
      <span class="pull-right">
        <span class="capacity">
          <i class="fa fa-user"></i>
          <i class="fa fa-user"></i>
        </span>
    	</span>
  	</div>
  </div>
  <div class="wp-block-footer">
    <ul class="aux-info">
      <li><i class="fa fa-building"></i> <%= tender.tenderable.name %></li>
      <li><i class="glyphicon glyphicon-road"></i> <%= tender.intent_type %></li>
      <li><i class="fa fa-tint"></i> 2 Bathrooms</li>
      <li>
        <% if tender.access_granted?(current_user) %>
          <%= link_to edit_business_tender_path(tender.tenderable, tender), class: "btn btn-xs btn-outlined btn-theme", remote: true do %>
            <i class="fa fa-pencil-square-o"></i> Edit
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to business_tender_path(tender.tenderable, tender), class: "btn btn-xs btn-outlined btn-theme", remote: true do %>
          <i class="fa fa-search-plus"></i> Lihat
        <% end %>
      </li>      
    </ul>
  </div>
</div>		