<li class="media">
  <a href="#" class="pull-left">
    <% if tender.tenderable.avatar.nil? %>
      <%= cl_image_tag('asset/default-avatar', cloudinary_photo_options('')) %>
    <% else %>
      <%= cl_image_tag(tender.tenderable.avatar, cloudinary_photo_options('private')) %>
    <% end %>                     
  </a>
  <div class="media-body">
    <span class="text-muted pull-right">
      <small class="text-muted">
        <%= idr_money(tender.target) %>
      </small>
      <span class="label label-primary"><%= tender.state %></span>
    </span>
    <strong class="text-success"><%= tender.tenderable.name %></strong>
    <p>
      <%= tender.aqad %> untuk  rumah <%= tender.house.ticker %> di <%= tender.house.address %>
    </p>
  </div>
  <div class="media-footer">
      <%= link_to tender_path(tender) do %>
        <span class="glyphicon glyphicon-zoom-in"></span> Lihat
      <% end %>
  </div>                    
</li>