<article class="timeline-entry">
    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-success">
            <i class="entypo-feather"></i>
        </div>

        <div class="timeline-label">
            <h2><%= link_to tender.ticker, tender_path(tender)  %>
               <span>  <%= tender.aqad %> | <%= tender.category %></span><span class="label label-primary pull-right"><%= tender.state %></span></h2>
            <p>Diajukan oleh <strong><%= tender.tenderable.name %> </strong>untuk rumah <%= tender.house.ticker %>.
            </p>
        </div>
    </div>

</article>