<li class="ticket-item" id="<%= tender.barcode %>">
  <div class="row">
    <div class="ticket-user col-md-5 col-sm-12">
      <span class="user-name">
        <strong><%= tender.barcode %></strong>Oleh: <%= link_to tender.tenderable.name, user_path(tender.tenderable) %>
      </span>
      <span class="user-company">
      </span>
    </div>
    <div class="ticket-time  col-md-4 col-sm-6 col-xs-12">
      <div class="divider hidden-md hidden-sm hidden-xs"></div>
      <span class="time">
        <%= link_to 'Edit', '#', class: "btn btn-xs btn-outlined btn-theme", remote: true  %>
        <%= link_to 'Lihat', show_tender_link(tender), class: "btn btn-xs btn-outlined btn-theme"  %> 
      </span>
    </div>
    <div class="ticket-type  col-md-3 col-sm-6 col-xs-12">
      <span class="divider hidden-xs"></span>
      <span class="type">
        <%= tender.state %>
      </span>
    </div>
    <div class="ticket-state bg-palegreen">
        <i class="fa fa-check"></i>
    </div>
</div>
</li>