<div class="panel-body inf-content">
  <div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>        
          <td><strong>
            <span id="aqad" class="glyphicon glyphicon-briefcase text-primary"></span> Akad
            </strong>
          </td>
          <td class="text-primary" id="tender-aqad">
            <strong><%=tender.aqad.titleize %></strong>
          </td>
        </tr>
        <tr>    
          <td>
            <strong>
              <span class="fa fa-clock-o text-primary"></span> Lama 
            </strong>
          </td>
          <td class="text-primary" id="tender-maturity"><%=tender.annum %> Tahun</td>
        </tr>
        <tr>    
          <td>
            <strong>
              <span class="fa fa-money text-primary"></span> Harga
            </strong>
          </td>
          <td class="text-primary" id="price-share"><%= idr_money(tender.price) %> / unit</td>
        </tr>					            
        <tr>					            
            <td>
              <strong>
                <span class="fa fa-cubes text-primary"></span> Sisa/Jumlah
              </strong>
            </td>
            <td class="text-primary">
                <span id="shares-left"><%=tender.shares_left %></span>/<%= tender.volume %> unit
            </td>
        </tr>
        <tr>        
          <td>
            <strong>
              <span class="fa fa-envelope text-primary"></span> Unit
            </strong>
          </td>
          <td class="text-primary">
            <%= tender.unit %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-pencil text-primary"></span> Diperbarui
            </strong>
          </td>
          <td class="text-primary">
            <%= time_ago_in_words(tender.updated_at) %> ago
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="fa fa-building text-primary"></span> Rumah
            </strong>
          </td>
          <td class="text-primary">
            <%= link_to tender.tenderable.house.ticker, house_path(tender.tenderable.house) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>