<div class="info-box">
  <%= link_to tender_path(tender) do %>
    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
    <div class="info-box-content">
      <span class="info-box-text"><%= tender.category %> <%=  tender.ticker %></span>
      <span class="info-box-number"><%= idr_money(tender.target) %></span>
      <div class="progress">
        <div class="progress-bar" style="width: 70%"></div>
      </div>
      <span class="progress-description">
        <%= tender.shares_left %> saham tersisa
      </span>
    </div><!-- /.info-box-content -->
  <% end %>
</div><!-- /.info-box -->