
<div class="wp-block property list">
  
  <div class="ribbon base"><span><%= tender.state %></span></div>
  <div class="wp-block-title">
    <h4 class="tender-title">
      <%= link_to tender.barcode, show_tender_link(tender) %>
    </h4>      
    <hr>
  </div>    
  
  <div class="wp-block-body">
    <p>
      <csmall>
        <%= inline_svg "0084-calendar.svg", class: 'small-icons  asphalt' %>&nbsp;&nbsp;<%= tender.created_at.strftime("%Y, %B %-d") %>
      </csmall> | 
      <csmall>Oleh: <%= link_to tender.tenderable.name, user_path(tender.tenderable) %>
      </csmall> |
      <csmall>
        <%= tender.case %>
      </csmall>  
    </p>

    <div class="wp-block-content">
      <p class="description">
        <%= tender.summary %>
      </p>
      <span class="pull-left">
        <span class="price"><%= idr_money(tender.target) %></span> 
        <span class="period">(<%= idr_money(tender.contributed) %>)</span>
      </span>
      <span class="pull-right">
        <span class="capacity">
          <i class="fa fa-user"></i>
          <i class="fa fa-user"></i>
        </span>
      </span>
    </div>    
  </div>

  
</div>