<% meta title: "Proposal #{@tender.barcode}" %>

<%= render partial: 'elements/modal_placeholder', locals: { modal_name: "tender" } %>

<div class="portlet portlet-bordered">
	<div class="portlet-title tab-row">
		<div class="caption caption-red">
			<i class="fa fa-file-text"></i> 
			<span class="caption-subject bold font-yellow-crusta uppercase">
				<%= "Proposal" %>
			</span>
			<span class="caption-helper"><%= @tender.barcode %></span>
		</div>
		<ul class="nav nav-tabs top-menu">
			<li class="active">
				<a href="#portlet_tab1" data-toggle="tab">
					<i class="fa fa-lg fa-info"></i>
				</a>
			</li>
			<li>
				<a href="#portlet_tab2" data-toggle="tab">
					<i class="fa fa-lg fa-inbox"></i>
					<span class="badge"><%= @bids.count %></span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="portlet-body">
		<div class="tab-content">
			<div class="tab-pane active" id="portlet_tab1">
				<div class="row">
					<div class="col-xs-12">
            <div class="weather-3">
	            <div class="row">

				<div class="col-xs-12">
					<div class="panel-body inf-content">
					  <div class="row">
					    <div class="col-md-4 text-center">
					      <i class="fa fa-file-text fa-4x" style="display: block;"></i>
					      <h3>Proposal <%=@tender.barcode %></h3>
					      <h5><span class="label label-primary"><%=@tender.state %></span></h5> 
					      <% if @tender.access_granted?(current_user) %>
					        <%= link_to 'Edit', edit_tender_link(@tender), class: "btn btn-block btn-outlined btn-theme", remote: true  %>
					      <% else %>
					        <%= link_to 'Danai', new_tender_bid_path(@tender), class: "btn btn-outlined btn-theme", remote: true  %>
					      <% end %>
					    </div>
					    <div class="col-md-8">
					      <div class="table-responsive">
					        <table class="table table-condensed table-responsive table-user-information">
					          <tbody>
					            <tr>        
					              <td>
					                <strong>
					                  <span class="glyphicon glyphicon-briefcase text-primary"></span> Akad
					                </strong>
					              </td>
					              <td class="text-primary">
					                <strong><%=@tender.aqad.titleize %></strong>
					              </td>
					            </tr>
					            <tr>    
					              <td>
					                <strong>
					                  <span class="glyphicon glyphicon-user text-primary"></span> Lama & Margin
					                </strong>
					              </td>
					              <td class="text-primary" id="maturity-margin"><%=@tender.maturity %> Tahun @ <%=@tender.margin %>%</td>
					            </tr>
					            <tr>        
					              <td>
					                <strong>
					                    <span class="glyphicon glyphicon-bookmark text-primary"></span> Dipublikasikan?
					                </strong>
					              </td>
					              <td class="text-primary"><%= draft_or_real?(@tender) %> </td>
					            </tr>
					            <tr>        
					                <td>
					                  <strong>
					                    <span class="glyphicon glyphicon-piggy-bank text-primary"></span> Target 
					                  </strong>
					                </td>
					                <td class="text-primary">
					                    <%= idr_money(@tender.target) %> 
					                </td>
					            </tr>
					            <tr>        
					              <td>
					                <strong>
					                  <span class="glyphicon glyphicon-eye-open text-primary"></span> Tawaran
					                </strong>
					              </td>
					              <td class="text-primary">
					                <%=@tender.bids.count %> tawaran
					              </td>
					            </tr>
					            <tr>        
					              <td>
					                <strong>
					                  <span class="glyphicon glyphicon-send text-primary"></span> Dibuat   
					                </strong>
					              </td>
					              <td class="text-primary">
					                <%=@tender.created_at.strftime("%Y, %B %-d") %>
					              </td>
					            </tr>
					            <tr>        
					              <td>
					                <strong>
					                  <span class="glyphicon glyphicon-pencil text-primary"></span> Terakhir
					                </strong>
					              </td>
					              <td class="text-primary">
					                <%= time_ago_in_words(@tender.updated_at) %> ago
					              </td>
					            </tr>                                    
					          </tbody>
					        </table>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
	        <div class="col-xs-12">			
						<div class="profile-stats mt">
						  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
						      <div class="stats-value pink" id="tender-aqad">
						      	<%= idr_money(@tender.price_per_share) %></div>
						      <div class="stats-title">Harga per Saham</div>
						  </div>
						  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
						      <div class="stats-value pink" id="tender-maturity"><%= @tender.shares_remaining %> Tersisa</div>
						      <div class="stats-title">Unit Saham</div>
						  </div>				  
						  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
						      <div class="stats-value pink" id="tender-target"><%= @tender.funding_progress %> %
						      </div>
						      <div class="stats-title">Progress</div>
						  </div>						    
						</div>
					</div>
					<div class="col-xs-12 mt">
				    <p class="text">
				    	Proposal diajukan oleh <span id="tender-client"><%= link_to @tender.tenderable.name, user_path(@tender.tenderable) %></span>.
							<span>Aset akan difungsikan sebagai <strong><%= @tender.intent unless @tender.intent.nil? %></strong></span>.
							<span>Dana yang terkumpul akan digunakan untuk <strong> <%= @tender.use_case %></strong></span>.
				      <span>Aset bertipe <strong><%= @tender.tangible %></strong></span> dan terletak di <strong><%= @tender.address %></strong>
				    </p>
				    <br>
				    <% if @tender.summary.nil? %>
				     	<p class="text">Belum ada penilaian</p>
				    <% else %>
				     	<p class="text"><%= @tender.summary %></p>
				    <% end %>
					</div>

              </div>
            </div>
	        </div>

					<div class="col-xs-12">
				    <div class="mt">

          <div class="widget-box">
            <div class="widget-header bordered-bottom bordered-themesecondary">
              <i class="widget-icon fa fa-tags themesecondary"></i>
              <h5 class="widget-caption themesecondary">Pendana</h5>
            </div><!--Widget Header-->
            <div class="widget-body">
              <div class="widget-main no-padding">
                <div class="tickets-container">
                <% if @bids.empty? %>
	              <div class="blankslate">
	                <div class="spacious">
	                  <h3><%= "Belum Ada Pendana" %></h3>
	                </div>
	              </div>                
                <% else %>
                  <ul class="tickets-list">
                    <%= render @bids  %>
                  </ul>
                <% end %>
                </div>
              </div>
            </div>
          </div>

		          <br>
				    </div>
					</div>

				</div>			    
			</div>

			<div class="tab-pane" id="portlet_tab2">
				<div class="row">
					<div class="col-xs-12">
            <div class="weather-3 pn centered">
	            <div class="row">
	              <div class="col-md-6 col-sm-12">
	                <i class="fa fa-briefcase centerpiece"></i>
	                <h3>
	                  Bilah Perundingan
	                </h3>
	              </div>
	              <div class="col-md-6 col-sm-12">
	              	<p>Untuk berinteraksi mengenai proposal ini atau bertanya pada pemohon dan calon penawar, silahkan kamu menulis di kotak komentar di bawah ini.</p>
	              </div>
              </div>
            </div>						
					</div>
					<div class="col-xs-12">
						<div id="disqus_thread"></div>
					</div>					
				</div>
			</div>

		</div>
	</div>

</div>
<%= render partial: 'elements/disqus_script', locals: { identifier: @tender.barcode } %>