<% meta title: "Proposal #{@tender.ticker}" %>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-sm-4 col-xs-4">
      <%= link_to user_root_path, class: "" do %>
        <div class="panel dash-button dash-icon">
          <div class="panel-body text-center">
            <h4 class="text-uppercase mar-btm text-sm">Jurnal</h4>
            <i class="ion-ios-monitor"></i>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= link_to tender_path(@tender), remote: true, class: "" do %>
        <div class="panel panel-colorful dash-icon">
          <div class="panel-body text-center">
            <h4 class="text-uppercase mar-btm text-sm">Cover</h4>
            <i class="ion-ios-box"></i>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= link_to discuss_tender_path(@tender), remote: true, class: "" do %>
        <div class="panel panel-colorful dash-icon">
          <div class="panel-body text-center">
            <h4 class="text-uppercase mar-btm text-sm">Diskusi</h4>
            <i class="ion-chatbubbles"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Detil Proposal</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <h5>Info</h5><hr class="light">
        <%= render 'tenders/tender_infos', tender: @tender %>

        <h5>Aset</h5><hr class="light">
        <small>Belum ada aset dimiliki</small>
      </div><!-- /.box-body -->
    </div><!-- /.box --> 
  </div>
  <div class="col-md-8">  
    <div id="home-view">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Rincian Rumah <small><%= link_to "Telusuri", house_path(@tender.tenderable) %></small></h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
					<%= render 'houses/house_details', house: @tender.tenderable.house %>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
			
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Pengusul</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" id="tender-starter">
	      	<ul class="user-profiles-list-basic">
	      		<%= render  partial: 'users/user', locals: { user: @client } %>
	      	</ul>
					<%= render  partial: 'users/user_infos', locals: { user: @client } %>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Pendana</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" id="tender-bidder">
	      	<%= render 'users/users', users: @bidders %>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>

    <div id="side-view" style="display:none;">
    </div>
  </div>
</div>
