<% meta title: "Proposal #{@tender.barcode}" %>

<%= render partial: 'elements/modal_placeholder', locals: { modal_name: "tender" } %>


<div class="portlet portlet-bordered">
	<div class="portlet-title tab-row">
		<div class="caption caption-red">
			<i class="fa fa-file-text"></i> 
			<span class="caption-subject bold font-yellow-crusta uppercase">
				<%= "Proposal" %>
			</span>
			<span class="caption-helper"><%= @tender.barcode %></span>
		</div>
		<ul class="nav nav-tabs top-menu">
			<li class="active">
				<a href="#portlet_tab1" data-toggle="tab">
					<i class="fa fa-lg fa-info"></i>
				</a>
			</li>
			<li>
				<a href="#portlet_tab2" data-toggle="tab">
					<i class="fa fa-lg fa-inbox"></i>
					<span class="badge"><%= @bids.count %></span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="portlet-body">
		<div class="tab-content">
			<div class="tab-pane active" id="portlet_tab1">
	            <div class="weather-3 pn centered">
	              <div class="col-md-6">
	                <i class="fa fa-briefcase centerpiece"></i>
	                <h3>
	                  PROPOSAL <br> <%= @tender.aqad.titleize %>
	                  <i class="fa fa-question-circle fa-lg pop-helper" data-container="body" data-toggle="popover" data-placement="top" title="Other Prep" data-content="<%= credibility_popover_text %>" data-original-title=""></i>
	                </h3>
	              </div>
	              <div class="col-md-6">
	                <div class="home-prompt">
	            		<% if  @tender.access_granted?(current_user) %>
	            			<%= link_to 'Koreksi Proposal', edit_tender_link(@tender), class: "btn btn-outlined btn-theme", remote: true  %>
	            		<% else %>
	            			<%= link_to "Buat Tawaran", new_tender_bid_path(@tender),
								class: "btn btn-outlined btn-theme" %>
	            		<% end %>
	                </div>
	              </div>
	            </div>				
				<div class="profile-stats">
				  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
				      <div class="stats-value pink" id="tender-client"><%= link_to @tender.tenderable.name, user_path(@tender.tenderable) %></div>
				      <div class="stats-title">KLIEN</div>
				  </div>
				  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
				      <div class="stats-value pink" id="tender-target"><%= idr_money(@tender.target) %></div>
				      <div class="stats-title">TARGET</div>
				  </div>
				  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
				      <div class="stats-value pink" id="tender-contributed"><%= idr_money(@tender.contributed) %></div>
				      <div class="stats-title">KONTRIBUSI</div>
				  </div>
				    <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
				        Kredibilitas: 
				    </div>
				    <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
				        Harga: <strong><span id="tender-price"><%= idr_money(@tender.price) %></span></strong>
				    </div>
				    <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
				        Tawaran: <strong><%= @tender.bids.count %></strong>
				    </div>
				    
				</div>
				<br>
				<br>					
			    <div class="notice notice-info">
			      <strong>Tujuan</strong> 
			      <p class="text">
					<span>Aset akan difungsikan sebagai <strong><%= @tender.intent unless @tender.intent.nil? %></strong></span>.
					<span>Dana yang terkumpul akan digunakan untuk <strong> <%= @tender.use_case %></strong></span>.
			      	<span>Aset bertipe <strong><%= @tender.tangible %></strong></span> dan terletak di <strong><%= @tender.address %></strong>
			      </p>
			      <strong>Penilaian</strong> 
			      <% if @tender.summary.nil? %>
			      	<p>Belum ada penilaian</p>
			      <% else %>
			      	<p><%= @tender.summary %></p>
			      <% end %>
			    </div>			    
			</div>

			<div class="tab-pane" id="portlet_tab2">
				<div class="text">
					<h4>Tawaran</h4>
					<% if @bids.empty? %>
						<div class="blankslate">
							<div class="spacious">
								<h3><%= "Belum Ada Tawaran" %></h3>
							</div>
						</div>
					<% end %>
					<% @bids.find_each do |bid| %>
						<div class="msg msg-info"> 
							<span class="glyphicon glyphicon-info-sign"></span> 
							<strong><%= bid.bidder.name %></strong>
							<span class="label label-success"><%= idr_money(bid.contribution) %></span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>
