<div class="col-md-12">
	<h3>Akun <%= current_user.name %></h3>

	<div class="tabbable-panel">
		<div class="tabbable-line">
			<ul class="nav nav-tabs ">
				<li class="active">
					<a href="#tab_default_1" data-toggle="tab">
					Profil </a>
				</li>
				<li>
					<a href="#tab_default_2" data-toggle="tab">
					Data </a>
				</li>
				<li>
					<a href="#tab_default_3" data-toggle="tab">
					Preferensi </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_default_1">
					<h4>Edit Profil Kamu</h4>
					<%= render partial: 'users/profile_form', locals: { user: user } %>
				</div>
				<div class="tab-pane" id="tab_default_2">
				  <% unless current_user.using_omniauth? %>
					<div class="profile-userpic">
					  <% if current_user.avatar.nil? %>
					    <%= cl_image_tag('asset/default-avatar', cloudinary_photo_options('')) %>
					    <p class="text-center">
					    <%= link_to "Unggah Gambar Profil", avatar_user_path(current_user), remote: true, class: "btn btn-outlined btn-theme btn-xs" %></p>
					  <% else %>
					    <p class="text-center">
					    <%= cl_image_tag(current_user.avatar, cloudinary_photo_options('private')) %>
					    <%= link_to "Hapus foto", remove_avatar_user_path(current_user), method: :put, data: {:confirm => 'Kamu yakin mau melanjutkan?', object: 'Penghapusan gambar profil'}, class: 'reset-link btn btn-danger btn-xs' %></p>
					  <% end %>
				    </div>
				  <% end %>
				  <div class="account-form">
				   	<%= render 'users/account_form', user: user %>
				  </div>
				</div>
				<div class="tab-pane" id="tab_default_3">
					<h4>Edit Preferensi Kamu</h4>
					<%= render partial: 'users/preferences', locals: { user: user } %>
				</div>
			</div>
		</div>
	</div>

</div>