<div class="profile-info centered">
  <h2>Info</h2>
  <h5>Pekerjaan</h5>
  <%= user_occupation @user %>

  <h5>Pengalaman Kerja</h5>
  <% if @user.work_experience.nil? || @user.work_experience == '' %>
    <p>Belum Diisi</p>
  <% else %>
    <% @user.work_experience.split(";").each do |w| %>
      <p class="user-career normal-p"><%= w %></p>
    <% end %>
  <% end %>

  <h5 style="margin-top: 25px;">Pendidikan</h5>
  <%= user_education @user %>

  <h5>Keluarga</h5>
  <%= user_family @user %>

  <h5>Bio</h5>
  <%= user_bio @user %>
</div>