<div class="well profile">
  <div class="col-sm-12">
    <div class="col-xs-12 col-sm-6">
      <h2><span id="name"><%= user.name %></span> 
          <small> | <%= link_to "Edit", edit_user_path(user, profile: true), remote: true %></small> 
      </h2>
      <p><strong>Pendidikan Terakhir: </strong>  <%= user.last_education %></p>
      <p><strong>Status Pernikahan: </strong> <%= user.marital_status %> </p>
      <p><strong>Jumlah Tanggungan: </strong> <%= user.number_dependents %> Orang </p>
			<p><strong>Penghasilan Bulanan: </strong> <%= idr_money(user.monthly_income) %> </p>
			<p><strong>Pengeluaran Bulanan: </strong> <%= idr_money(user.monthly_expense) %> </p>
			<p><strong>Pekerjaan: </strong> <%= user.occupation %> </p>
      <p><strong>Pengalaman Kerja: </strong> <br> <%= user.work_experience %></p>
    </div>             
    <div class="col-xs-12 col-sm-6">
      <figure>
        <% if current_user.avatar.nil? %>
          <%= cl_image_tag('asset/default-avatar', cloudinary_photo_options('')) %>
        <% else %>
          <%= cl_image_tag(current_user.avatar, cloudinary_photo_options('') ) %>
        <% end %>
      </figure>
      <p><strong>Biografi: </strong><br> <span id="bio"><%= user.about %></span>  </p>
      <p><strong>Alamat: </strong><span id="address"> <%= user.address %> </p>
    </div>
  </div>            
  <div class="col-xs-12 divider text-center">
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong><%= user.credibility %></strong></h2>                    
      <p>Kredibilitas</p>
    </div>
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong><%= documents.count %></strong></h2>                    
      <p><small>Dokumen</small></p>
    </div>
    <div class="col-xs-12 col-sm-4 emphasis">
      <h2><strong><%= @verifieds.count %></strong></h2>
      <p><small>Terverifikasi</small></p>
    </div>
  </div>
</div>                 