<%= simple_form_for(@user, html: { class: 'form-vertical' },
        wrapper: :vertical_form) do |f| %>
  <%= f.error_notification %>

  <%= f.input :address, as: :text, input_html: { rows: 3 }, label: "Alamat Lengkap", hint: "alamat tidak akan ditunjukkan", required: true  %>
  <%= f.input :location, as: :string, input_html: { rows: 3 }, label: "Lokasi", hint: "nama kota alamatmu", required: true  %>    
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :last_education, label: "Pendidikan Terakhir", required: true, hint: "tingkat dan nama institusi", required: true %>
    </div>
    <div class="col-xs-12">
      <%= f.input :occupation, label: "Pekerjaan", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :monthly_income, label: "Penghasilan Bulanan", required: false, hint: 'tidak akan ditunjukkan' %>
    </div>
    <div class="col-xs-6">
      <%= f.input :monthly_expense, label: "Pengeluaran Bulanan", required: false, hint: 'tidak akan ditunjukkan' %>
    </div>
  </div>    
  <div class="row">
    <div class="col-xs-6">  
      <%= f.input :marital_status, collection: marital_status_options, prompt: "Pilih", selected: @user.marital_status, label: "Status Pernikahan", required: true %>
    </div>
    <div class="col-xs-6">
      <%= f.input :number_dependents, label: "Jumlah Tanggungan", required: true %>
    </div>
  </div>
  <%= f.input :work_experience, as: :text, input_html: { rows: 5 }, label: "Pengalaman Kerja", placeholder: 'Posisi dan nama institusi', hint: "pisahkan tiap pengalaman dengan ';' (koma titik)", required: true %>
  <%= f.input :about, as: :text, input_html: { rows: 5 }, label: "Sekilas Tentang Kamu", hint: "biografi singkat untuk menjelaskan dirimu", required: true  %>    
  
  	<%= f.button :submit, "Simpan", class: "btn btn-primary" %>
  
<% end %>