<div class="panel-body inf-content">
  <h2 class="">Data Diri</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>        
          <td><strong>
            <span id="aqad" class="glyphicon glyphicon-briefcase text-primary"></span> Pekerjaan
            </strong>
          </td>
          <td class="text-primary" id="tender-aqad">
            <strong><%= user.occupation %></strong>
          </td>
        </tr>
        <tr>    
          <td>
            <strong>
              <span class="fa fa-clock-o text-primary"></span> Jumlah Tanggungan 
            </strong>
          </td>
          <td class="text-primary" id="tender-maturity"><%= user.number_dependents %> orang</td>
        </tr>
        <tr>    
          <td>
            <strong>
              <span class="fa fa-money text-primary"></span> Alamat
            </strong>
          </td>
          <td class="text-primary" id="price-share"><%= user.address %></td>
        </tr>                     
        <tr>                      
            <td>
              <strong>
                <span class="fa fa-cubes text-primary"></span> Penghasilan Bulanan
              </strong>
            </td>
            <td class="text-primary">
                <span id="shares-left"><%= idr_money(user.monthly_income) %></span>
            </td>
        </tr>
        <tr>        
          <td>
            <strong>
              <span class="fa fa-envelope text-primary"></span> Pengeluaran Bulanan
            </strong>
          </td>
          <td class="text-primary">
            <%= idr_money(user.monthly_expense) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-pencil text-primary"></span> Diperbarui
            </strong>
          </td>
          <td class="text-primary">
            <%= time_ago_in_words(user.updated_at) %> ago
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="fa fa-building text-primary"></span> Pendidikan
            </strong>
          </td>
          <td class="text-primary">
            <%= user.last_education %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="fa fa-building text-primary"></span> Status
            </strong>
          </td>
          <td class="text-primary">
            <%= user.marital_status %>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>

</div>