
<%= render 'insides/user_header' %>
<% if params[:upload_document] %>	
	<section class="intro padded bordered-section ">
	  <div class="container">
	    <div class="inner-skeleton">
	      <h2>Unggah Berkas Pendukung</h2>
	      <div class="col-md-8 col-md-offset-2">
	      	<%= render 'documents/form' %>
	      </div>
	    </div>
	  </div>
	</section>
	<section class="intro padded">
	  <div class="container">
	    <div class="inner-skeleton centered">
	      <h3>Dokumen yang sudah kamu unggah</h3>	
	      <% unless @documents.blank? %>
	        <% @documents.each do |document| %>
	          <div class="col-xs-6 col-sm-4">
	            <%= render partial: "documents/document", locals: { document: document, thumbnail: true } %>
	          </div>
	        <% end %>
	      <% else %>
	      	<div class="spacing"></div>
	        <h5 class="centered">Belum ada </h5>
	      <% end %>
		</div>
	  </div>
	</section>
<% else %>

  <section class="intro padded no-vertical-padding bordered-section" style="margin-bottom: -30px;">
		<div class="container">
		  <div class="row">
		    <div class="inner-skeleton">
					<div class="col-md-10 col-md-offset-1">
					  <center>
					  	<h3 class="">Pengisian Profil Klien</h3>
					    <%= render 'profile_form' %>
					  </center>
					</div>
		    </div>
		  </div>
		</div>
	</section>

<% end %>

	<section class="intro padded">
	  <div class="container">
	    <div class="inner-skeleton centered">
		  <p><strong>
		  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
		  		<%= link_to "Kembali ke Beranda", user_root_path %>
		  	</strong></p>
		  </div>
		</div>
	</section>

<style type="text/css">
  .upload_button_holder:hover {
  	cursor: pointer;
  }
  .upload_button:hover {
  	cursor: pointer;
  }

</style>