<% meta title: "Pengelolaan Pengguna #{@user.name}" %>

<%= render layout: 'user_layout' do  %>
<% if params[:upload_document] %>	
	<section class="intro padded bordered-section ">
	  <div class="container">
	    <div class="inner-skeleton">
	      <h2>Unggah Berkas Pendukung</h2>
	      <div class="col-md-8 col-md-offset-2">
	      	<%= render 'documents/form' %>
	      </div>
	    </div>
	  </div>
	</section>
	<section class="intro padded">
	  <div class="container">
	    <div class="inner-skeleton centered">
	      <%= render 'documents/documents' %>
		</div>
	  </div>
	</section>
<% else %>

  <section class="intro padded no-vertical-padding bordered-section" style="margin-bottom: -30px;">
		<div class="container">
		  <div class="row">
		    <div class="inner-skeleton">
					<div class="col-md-10 col-md-offset-1">
					  <center>
					  	<h3 class="">Pengisian Profil</h3>
					    <%= render 'profile_form' %>
					  </center>
					</div>
		    </div>
		  </div>
		</div>
	</section>

<% end %>

	<section class="intro padded">
	  <div class="container">
	    <div class="inner-skeleton centered">
		  <p><strong>
		  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
		  		<%= link_to "Kembali ke Home", user_root_path %>
		  	</strong></p>
		  </div>
		</div>
	</section>

<% end %>

<style type="text/css">
  .upload_button_holder:hover {
  	cursor: pointer;
  }
  .upload_button:hover {
  	cursor: pointer;
  }

</style>