<% meta title: "Profil #{@user.name}" %>

<%= render layout: 'user_layout' do  %>

  <div class="white-background">
    <section class="intro bordered-section">
      <div class="container">
        <div class="inner-skeleton">
          <div class="col-md-10 col-md-offset-1">
            <%= render 'profile' %>
          </div>
        </div>
      </div>
    </section>
    <section class="intro bordered-section" style="margin-bottom: -30px;">
      <div class="container">
        <div class="inner-skeleton">
          <h2>Testimonial</h2>
          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <%= render partial: 'comments/comments', locals: { comments: @supports } %>
          </div>
        </div>
      </div>
    </section>    
    <section class="intro bordered-section" style="margin-bottom: -30px;">
      <div class="container">
        <div class="inner-skeleton">
          <h2>Berkas</h2>
          <%= render partial: 'documents/doc_list', locals: { documents: @documents, user: @user } %>
          <div id="documents-manage" style="display: none;">
          </div>
          <% if current_user? @user %>
            <div class="col-xs-6 col-xs-offset-3 centered">
              <p id="manage-button">
                <%= link_to "Kelola Berkas", edit_user_path(current_user, manage_document: true), remote: true, class: 'btn btn-inverse btn-md' %>
              </p>
              <p id="show-button" style="display: none;">
              <%= link_to "Lihat Index", user_path(current_user), remote: true, class: 'btn btn-inverse btn-md'  %>
              </p>
            </div>
          <% end %>          
        </div>
      </div>
    </section>
  </div>

<% end %>


<style type="text/css">
</style>

<script type="text/javascript">
  // $('#like-form').on('click','.socialize',function(e){
  //   e.preventDefault();
  // });
  document.getElementById("like-button").addEventListener("click", function(){
    $("#buying_details").modal('show');
  });
</script>