<%= form_for(@installment) do |f| %>
  <%= render 'elements/error_messages', object: @installment %>

  <div class="field">
    <%= f.label :reservation_id, "Reservasi" %><br>
    <%= f.select :reservation_id, related_reservations %>
  </div>
  <div class="field">
    <%= f.label :pay_day, "Tanggal Pembayaran" %><br>
    <%= f.date_select :pay_day, default: Date.today %>
  </div>
  <div class="field">
    <%= f.label :total, "Total Uang Muka" %><br>
    <%= f.number_field :total, min: 0, max: 1000000, step: 10000 %>
  </div>
  <div class="field">
    <%= f.label :pay_code, "Berita Pembayaran" %><br>
    <%= f.text_field :pay_code %>
  </div>  
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>

<% end %>
