<% meta title: "Mitra Pendana",
    description: "Investasi syariah yang mempunyai manfaat nyata untuk sesama",
    keywords: %w(investasi rumah properti syariah islam)
%>


<section id="home" name="home"></section>
<% if is_opera_mini? %>
<div id="opera-mini-wrap">
  <div class="container">
    <div class="row centered">
      <%= render 'callout' %>      
        <br>      
    </div>
  </div>
</div>
<% else %>
<div class="landing-header" id="funderwrap">
    <div class="container">
      <div class="row centered">
        <%= render 'callout' %>
        <br>
      </div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap --> 
<% end %>

<section class="section" id="desc" name="desc">
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h3 class="landing">Akad</h3>
        <p>Kamu dapat berinvestasi dalam pembiayaan di siKapiten yang  menggunakan akad:</p>
        <br>
        <div class="col-md-6 serv-grids">
          <div class="primary-border">
            <%= inline_svg "0055-price-tags.svg", class: 'mid-icons' %>
            <h4 class="primary">Murabahah</h4>
            <p>Akad jual beli tanpa bunga, bisa secara angsuran atau tunai. Kamu putuskan berapa persen dana yang kamu ingin investasikan dan dapatkan keuntungan yang setara dengan kontribusimu</p>
           </div>
        </div>
        <div class="col-md-6 serv-grids">
          <div class="primary-border">
            <%= inline_svg "0115-users.svg", class: 'mid-icons' %>
            <h4 class="primary">Musyarakah</h4>
            <p>Berpartisipasi dalam kepemilikan bersama atas rumah
            dengan klien dan mitra pendana yang lain. Keuntungan yang kamu dapat adalah pendapatan sewa dari penghuni rumah tersebut dan penjualan porsi kepemilikan. Akad ini dapat dipilih untuk pembangunan, renovasi, pembelian rumah dan pengambilalihan hutang berbunga.</p>
          </div>
        </div>
      </div>
      <br>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->

  <!-- FEATURES WRAP -->
  <%= render 'steps' %>
</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
  <small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Diandra Setiabudi</a></small>
  <%= render 'elements/authorship_credit' %>
  </div>
</section>