<% title("Preferensi #{@firm.name}") %>

<h2>Preferensi Bisnis</h2>

    <div class="col-sm-10">
        <hr>
        <%= simple_form_for :firm_pref, url: biz_save_settings_path, method: "put", as: 'pref_horizontal', html: { class: 'form-horizontal' },
              wrapper: :horizontal_form,
              wrapper_mappings: {
                check_boxes: :horizontal_radio_and_checkboxes,
                radio_buttons: :horizontal_radio_and_checkboxes,
                file: :horizontal_file_input,
                boolean: :horizontal_boolean
              } do |f| %>

            <h4>Uang Muka</h4>
            <%= f.input :dp_state, collection: auto_options, as: :radio_buttons, checked: current_dp_pref(@firm), label: "Pembayaran Uang Muka" %>        

            <%= f.input :dp_percent, as: :select, collection: dp_percentages, selected: current_dp(@firm), prompt: "Pilih % Uang Muka", label: "% Uang Muka" %>

            <%= f.input :dp_deadline, as: :select, collection: dp_deadlines, selected: current_dp_deadline(@firm), label: "Tenggat Waktu" %>
            <hr>
            
            <h4>Otomasi</h4>
            <%= f.input :auto_confirmation_state, as: :select, collection: auto_confirm_options, selected: current_auto_confirmation_pref(@firm), label: "Konfirmasi Otomatis" %>

            <%= f.input :auto_promo_state, collection: auto_options, as: :radio_buttons, checked: current_auto_promo_pref(@firm), label: "Promo Otomatis" %>
            <hr>

            <%= f.button :submit, "Simpan Preferensi Bisnis", class: "btn btn-primary" %>
        <% end %>
    </div>