<%= simple_form_for [:biz, @payment], html: { class: 'form-horizontal' },
              wrapper: :horizontal_form,
              wrapper_mappings: {
                check_boxes: :horizontal_radio_and_checkboxes,
                radio_buttons: :horizontal_radio_and_checkboxes,
                file: :horizontal_file_input,
                boolean: :horizontal_boolean
              } do |f| %>
  <%= f.error_notification %>


    <%= f.input :pay_code, label: "Kode Pembayaran", required: true %>

    <%= f.input :pay_day, required: true, input_html: { "data-behaviour" => "datepicker" }, label: "Tanggal Pembayaran" %>

    <%= f.input :pay_time, as: :time, required: true, label: "Jam Pembayaran" %>
    <%= f.input :total, required: true, label: "Total" %>


  <div class="form-actions">
    <%= f.button :submit, "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>