<%= wiki_page_style %>

<div class="col-md-8">	  
	<div class="wiki_content">
	  <%= link_to "<-- Ke Index Wiki", wiki_all_path %>
	  <h1><%=h @page.title %></h1>
	  
	  <%= wiki_page_info %>
	  <%= wiki_page_actions %>
	  
	  <div class="spacing"></div>

	  <%=wiki_content @page.content %>
	</div>
</div>

<div class="col-md-4">
  <div style="background:white; padding: 20px;">
  	<% if current_user.try(:admin?) %>
      <%= link_to new_wiki_page_path, class: "btn btn-primary btn-round-lg" do %>
        <i class="fa fa-plus fa-3x pull-left"></i>
        <span>Buat Halaman</span><br>
        <b>Pustaka Baru</b>        
      <% end %>
    <% end %>
    <div class="spacing"></div>
  	<h4><%=wt "Materi Lain" %></h4><hr>

  	<ul>
      <% @pages.each do |page| -%>
        <li><%= link_to page.title, wiki_page_path( page ) %></li>
      <% end -%>
    </ul>
    <div class="spacing"></div>
  </div>
</div>