<% meta title: @page.title, description: "Pembahasan tentang #{@page.title}",
     keywords: "Syariah, Islam, Keuangan, #{@page.title}" %>
<%= wiki_page_style %>

<div class="col-md-10 col-md-offset-1">
	<div class="single-column post-content no-select">
	  <h1><%=h @page.title %></h1>
	  
	  <%= wiki_page_info %>
	  <%=  %>
	  
	  <div class="spacing"></div>

	  <%=wiki_content @page.content %>
	</div>
	<div class="single-column post-content">
		<h5>Share This Article!</h5>
		<%= social_share_button_tag(@page.title, url: wiki_page_url(@page), desc: truncate(@page.content, length: 120) ) %>
	</div>	
</div>