<% if current_user.has_houses? %>
  <div class="row">
    <% @houses.each do |house| %>
      <div class="col-md-6">
        <%= render partial: "houses/house", locals:{house: house} %>
      </div>
    <% end %>
<!--     <div class="col-md-6">
      <div class="blankslate long">
        <h4><%= "Daftarkan Rumah" %></h4>
        <%= link_to houses_path(build: 'true'), method: :post do %>
          <h1><i class="ion ion-android-attach"></i></h1>
        <% end %>
      </div>
    </div> -->
  </div>
<% else %>
  <div class="blankslate">
    <div class="spacious">
      <h4><%= "Belum ada rumah yang kamu daftarkan" %></h4>
      <h1><i class="ion ion-android-home"></i></h1>      
      <%= link_to "Daftarkan Rumah", houses_path(build: 'true'), method: :post, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>