<div id="home-view">
  <% if current_user.has_proposals? %>
    <%= render @tenders %>
    <p><small>Maksimal 3 proposal yang dapat kamu ajukan.</small></p>
    <p><%= link_to "Tambah Proposal", choose_path, remote: true, class: "btn btn-md btn-inverse" %></p>
  <% else %>
    <div class="blankslate backgroundless">
      <div class="spacious less-space">
        <h4><%= "Ingin mengajukan pendanaan?" %></h4>
        <h1><i class="ion ion-compose"></i></h1>
        <% if current_user.has_houses? %>
          <p><small>Pilih rumah yang akan kamu ajukan untuk didanai</small></p>
          <p><%= link_to "Pilih Rumah", choose_path, remote: true, class: "btn btn-lg btn-primary" %></p>
        <% else %>
          <p><small>Daftarkan rumah yang kamu inginkan terlebih dahulu</small></p>
          <p><%= link_to "Daftarkan Rumah", houses_path(build: 'true'), method: :post, class: "btn btn-lg btn-primary" %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="choose" class="side-view" style="display: none;">
</div>  
<div id="returns" class="side-view" style="display: none; margin-top: 30px;">
  <%= link_to "Kembali", user_root_path, remote: true %>
</div>