<% meta title: "Home" %>

<!--   <div class="col-sm-6">
    <div class="box widget locations">
      <div class="row">
        <div class="col-md-12 col-xs-3">
          <div class="avatar">
            <i class="fa fa-home fa-5x"></i><br>
          </div>
        </div>
        <div class="col-md-12 col-xs-6">
          <div class="details">
            <h2>Pendaftaran Rumah</h2>
            <p>Rumah yang telah kamu daftarkan: <strong><%= @houses_count %></strong></p>
          </div>          
        </div>
        <div class="col-md-12 col-xs-3">          
          <div class="details">
            <%= link_to houses_path(build: 'true'), method: :post do %>
              <i class="fa fa-plus fa-3x"></i>
            <% end %>
          </div>
            <div class="col-xs-12 visible-xs mt">
            </div>
            <div class="col-md-6 col-xs-12">
            <% if current_user.has_houses? %>
              <%= link_to houses_path do %>
                <i class="fa fa-chevron-right fa-3x"></i>
              <% end %>
            <% end %>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box widget locations">
      <div class="row">
        <div class="col-md-12 col-xs-4">
          <div class="avatar">
            <i class="fa fa-folder fa-5x"></i><br>
          </div>
        </div>
        <div class="col-md-12 col-xs-5">
          <div class="details">
            <h2>Pengajuan Pendanaan</h2>
            <p>Proposal yang telah kamu ajukan: <strong><%= @tender_count %></strong></p>
          </div>          
        </div>
        <div class="col-md-12 col-xs-3">
          <div class="details">
            <% if current_user.has_proposals? %>
              <%= link_to tender_path(@tender) do %>
                <i class="fa fa-chevron-right fa-3x"></i>
              <% end %>            
            <% else %>
              <%= link_to new_tender_path do %>
                <i class="fa fa-plus fa-3x"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
<div class="row">
  <div id="home-view">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title mb">
          <h5><i class="fa fa-align-left"></i> Portofolio</h5>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <h4 class="sub-title">Proposal yang kamu ajukan <span class="badge"><%= @tenders.count %></span></h4>
          <%= render 'request' %>

          <div class="spacing"></div>

          <h4 class="sub-title">Rumah yang kamu daftarkan <span class="badge"><%= @houses.count %></span></h4>
          <%= render 'listing_house' %>

        </div>
      </div>
    </div>
  </div>
  <div id="choose" class="side-view" style="display: none;">
  </div>
  <div id="returns" class="side-view"  style="display: none;">
    <%= link_to "Kembali Ke Portofolio", user_root_path, remote: true %>
  </div>
</div>