<% meta title: "Home" %>

<section class="intro padded bordered-section white-background top-section">
  <div class="container">
    <div class="prose extra-bottom-margin centered">
      <h2 class="fh5co-lead">Hai, <%= current_user.name %>!</h2>
      <%= render_user_thumb(current_user, 'img-circle circle-border m-b-md img-center') %>
      <h5 class="sub-title centered">
        <%= render_user_auth_choice(current_user) %>
      </h5>      
    </div>
    <div class="spacing"></div>
  </div>
</section>
<section class="intro padded bordered-section ">
  <div class="container">
    <div id="home-view" style="">
      <div class="col-md-7 col-sm-8 extra-bottom-margin">
        <h4 class="sub-title centered">Proposal <span class="badge"><%= @tenders.count %></span></h4>
        <%= render 'request' %>
      </div>
      <div class="col-md-5 col-sm-4">
        <%= render 'listing_house' %>
      </div>
    </div>
    <div id="choose" class="side-view" style="display: none;">
    </div>  
    <div id="returns" class="side-view"  style="display: none;">
      <%= link_to "Kembali Ke Portofolio", user_root_path, remote: true %>
    </div>
  </div>
</section>

<style type="text/css">

</style>