<% meta title: "Beranda" %>

<div class="portlet portlet-bordered">
  <div class="portlet-title">
    <div class="caption caption-red">
      <i class="fa fa-home"></i> 
      <span class="caption-subject bold font-yellow-crusta uppercase">
        <%= "Beranda" %>
      </span>
      <span class="caption-helper"><%=  %></span>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#portlet_tab2" aria-controls="info" role="tab" data-toggle="tab">Pendana</a></li>
      <li role="presentation"><a href="#portlet_tab3" aria-controls="bantuan" role="tab" data-toggle="tab">Klien</a></li>
    </ul>
  </div>
  

  <div class="portlet-body">
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="portlet_tab2">
        <div class="row">
          <div class="col-md-12 col-sm-12 mt">
            <% if current_user.tenders.empty? %>
              <div class="blankslate">
                <div class="spacious">
                  <h3><%= "Belum Ada Proposal" %></h3>
                </div>
              </div>
            <% else %>
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="clearfix"></div>
              <h3>Penawaran</h3>
              <hr>
              <% if @tenders.empty? %>
                <div class="blankslate">
                  <div class="spacious">
                    <h3><%= "Belum Ada Penawaran" %></h3>
                  </div>
                </div>
              <% else %>
                <ul class="media-list">
                  <%= render @tenders %>
                </ul>
                <% end %>
            </div>
          </div>
        </div>            

            <% end %>
          </div>          
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="portlet_tab3">
          <div class="row stylish-panel">
            <div class="col-md-6">
              <div>
                <i class="fa fa-file fa-3x"></i>
                <h2>Ajukan Pendanaan</h2>
                <p>
                  Tempat mengurus segala hal yang berurusan dengan urusan berlangganan kamu seperti pembayaran, pencetakan bukti bayar, dan lain-lain.
                </p>
                  <%= link_to 'Ajukan Murabahah', new_tender_path(user_id: current_user.id, type: 'murabaha', intent: 'house purchase'), class: "btn btn-outlined btn-theme"  %>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <i class="fa fa-home fa-3x"></i>
                <h2>Galeri Rumah</h2>
                <p>
                  Untuk mengatur akun-akun usaha yang telah anda buat, mengaksesnya, atau membuat akun usaha baru, klik tombol di bawah ini.
                </p>
                <%= link_to 'Lihat Galeri', houses_path, class: "btn btn-block btn-outlined btn-theme" %>
              </div>            
            </div>
          </div>
          <div class="row stylish-panel">
            <br>
            <div class="col-md-6">
              <div>
                <i class="fa fa-cog fa-3x"></i>
                <h2>Pengaturan</h2>
                <p>
                  Untuk mengatur akun-akun usaha yang telah anda buat, mengaksesnya, atau membuat akun usaha baru, klik tombol di bawah ini.
                </p>
                <%= link_to 'Ubah Pengaturan', '#', class: "btn btn-block btn-outlined btn-theme", remote: true  %>
              </div>
            </div>   
            <div class="col-md-6">
              <div>
                <i class="fa fa-smile-o fa-3x"></i>
                <h2>Bantuan</h2>
                <p>
                  Atur akses dan tindakan yang bisa dilakukan tiap pengguna yang berkaitan.
                </p>
                <%= link_to 'Minta bantuan', contact_path, class: "btn btn-block btn-outlined btn-theme", remote: true  %> 
              </div>
            </div>            
          </div>

      </div>

    </div>
  </div>

  
</div>