<% meta title: "Home" %>

<section class="intro padded bordered-section white-background top-section">
  <div class="container" id="home-cover">
    <div class="prose extra-bottom-margin centered">
      <h2 class="fh5co-lead">Hai, <%= current_user.name %>!</h2>
      <%= render_user_thumb(current_user, 'img-circle circle-border m-b-md img-center') %>
      <h5 class="sub-title centered">
        <%= render_user_auth_choice(current_user) %>
      </h5>      
    </div>
    <div class="spacing"></div>
  </div>
</section>
<div class="white-background">
  <div class="col-md-12 hidden-sm hidden-xs">
    <div class="spacing"></div>
  </div>
  <section class="intro padded no-vertical-padding bordered-section" style="margin-bottom: -30px;">
    <div class="container">
      <div class="row">
        <div class="inner-skeleton">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <%= render 'home_view' %>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<%= render 'trading/tenders/tender_modal' %>
<style type="text/css">


</style>