<% meta title: "Home" %>

<%= render partial: 'elements/modal_placeholder', locals: { modal_name: 'home' } %>

<div class="home" style="">
  <h3 class="primary"><i class="ion ion-flag"></i> Markas</h3><hr class="light">

  <div class="row" id="home-view">
    <div class="col-md-12 right-display">
      <ul class="nav nav-tabs list-group list-group-horizontal centered">
        <li class="list-group-item active">
          <a data-target="#investment" data-toggle="tab">Investasi</a>
        </li>
        <li class="list-group-item">
          <a data-target="#financing" data-toggle="tab">Pengajuan</a>
        </li>        
      </ul>
      <!-- <div class="row"> -->
        <div class="tab-content">
          <div class="tab-pane active" id="investment">
            <% if @bids.present? %>
              <div class="item">
                <%= render partial: 'bids/bid', collection: @bids  %>
              </div>
              <div class="blankslate long">
                <h4><%= "Tambah Investasi" %></h4>
                <%= link_to tenders_path do %>
                  <h1><i class="ion ion-android-add-circle"></i></h1>
                <% end %>
              </div>
            <% else %>
              <div class="blankslate">
                <div class="spacious">
                  <h4><%= "Belum Ada Investasi" %></h4>
                  <h1><i class="ion ion-briefcase"></i></h1>
                  <%= link_to "Pilih Investasi", tenders_path, class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane" id="financing">
            <div class="item">
              <div class="row">
                <div class="col-md-4">
                  <%= render partial: 'tenders/tenders', locals: {tenders: @tenders}  %>
                </div>
                <div class="col-md-8">
                  <% if @documents.present? %>
                    <% @groups.each do |category, documents| %>
                      <h5 class="primary"><%= category.titleize %></h5><hr>
                      <div class="row">
                        <div class="col-xs-12">
                          <% docs_per_category(category).each do |doc| %>
                            <span class="label label-primary" style="margin-right: 5px;">
                              <%= doc %>  <%= document_checklist(doc) %>
                            </span>
                          <% end %>
                        </div>
                        <% documents.each do |document| %>
                          <div class="col-xs-6 col-sm-4">
                            <%= render partial: "documents/document", locals: { document: document, thumbnail: true } %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <%= link_to "Unggah Dokumen", new_document_path, remote: true, class: "btn btn-primary" %>
                  <% else %>
                  <div class="blankslate">
                    <div class="spacious">
                      <h4><%= "Belum Ada Dokumen" %></h4>
                      <h1><i class="ion ion-android-attach"></i></h1>
                      <%= link_to "Unggah Dokumen", new_document_path, remote: true, class: "btn btn-primary" %>
                    </div>
                  </div>
                  <% end %>                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-3"></div>
              <div class="col-md-4 col-sm-6 col-xs-9">
                
              </div>
            </div>
          </div>
        </div>
      <!-- </div>       -->
    <!-- </div> -->
  </div>
</div>