        <div class="col-md-6">
          <div class="weather-3 pn centered">
            <i class="fa fa-briefcase"></i>
            <h3>BISNIS</h3>
            <div class="">
              <div class="row">
                  <h5 class="centered">PROFIL</h5>
                <div class="col-sm-6 col-xs-6 pull-left">
                  <p>
                    <%= link_to 'Lihat', business_path(biz), class: "btn btn-xs btn-outlined btn-theme", remote: true  %>
                  </p>
                </div>
                <div class="col-sm-6 col-xs-6 pull-right">
                  <p>
                    <%= link_to 'Edit', edit_business_path(biz), class: "btn btn-xs btn-outlined btn-theme", remote: true  %>
                  </p>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-md-6">
          <div class="weather-3 pn centered">
            <i class="fa fa-institution"></i>
            <h3>PEMBIAYAAN</h3>
            <div class="">
              <div class="row">
                <h5 class="centered">Pengajuan</h5>
                <div class="col-sm-12 col-xs-12">
                  <p class="centered">
                    <%= link_to 'Buat', new_business_tender_path(biz), class: "btn btn-outlined btn-theme", remote: true %>
                    <%= link_to 'Daftar', business_tenders_path(biz), class: "btn btn-outlined btn-theme", remote: true %>
                  </p>
                </div>
              </div>
            </div>
          </div>        
        </div>
              Semua Proposal Terbuka
        <% biz.tenders.each do |tender| %>
          <strong><span class="badge"><%= tender.barcode %></span></strong> 
          <span class="badge target"><%= idr_money(tender.target) %></span>
          <span><%= link_to 'Lihat', business_tender_path(biz, tender), class: "btn btn-xs btn-outlined btn-theme" %></span>          
          <span><%= link_to 'Koreksi', edit_business_tender_path(biz, tender), class: "btn btn-xs btn-outlined btn-theme", remote: true %></span>
        <% end %>