<div id="faq">
	<div class="container">
		<div class="row">
			<h3 class="landing">Sekilas Tanya-Jawab</h3>
			<br>
			<div class="col-lg-8 col-lg-offset-2">
				<!-- Accordion START -->
        <div class="accordion">
            <div class="panel-group" id="accordion1">

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
      <div class="panel-heading active">
        <h3 class="panel-title">
          Bagaimana pembiayaan rumah bisa dilakukan tanpa hutang dan bunga?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        Keuangan syariah menganjurkan beberapa jenis akad (perjanjian) yang bisa digunakan dalam kasus ini. Akad-akad yang dimaksud adalah: Musyarakah (kepemilikan bersama), Ijarah (sewa), dan Murabahah (Penjualan). Akad-akad inilah yang akan diterapkan di siKapiten.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa yang dimaksud dengan murabahah?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Murabahah sederhananya adalah akad jual-beli barang yang boleh dilakukan secara angsuran atau tunai selama mematuhi rambu-rambu syariah Islam. Salah satu rambu yang penting adalah barang harus telah dimiliki secara fisik oleh penjual sebelum akad jual-beli dilakukan. Dalam hal dimana penjual belum memiliki barangnya, maka pemesanan boleh dilakukan namun tidak boleh ada kontrak jual-beli yang mengikat si pemesan/pembeli, dengan kata lain apabila pembeli ingin membatalkan pesanan atau transaksi, tidak ada konsekuensi baginya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Kalau musyarakah?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseThree1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Berbeda dengan murabahah, musyarakah mutanaqishah (MMQ) adalah akad syirkah (berkerja sama) salah satunya untuk kepemilikan bersama atas suatu barang. Barang tersebut kemudian disewakan kepada kamu sebagai rekan syirkah, jika kamu mau memakainya (dalam hal rumah, tinggal di rumah tersebut), atau kepada pihak ketiga. Si penyewa barang (rumah), kamu atau pihak ketiga, kemudian membayar sewa kepada pihak syirkah yang tidak menggunakan aset tersebut. Rekan syirkah atau pihak ketiga dapat membeli porsi kepemilikan rekan yang lain selama ada persetujuan dari rekan tersebut. Ketika barang dimiliki penuh (100%) oleh satu rekan, maka syirkah disebut selesai. Yang perlu diingat adalah tidak ada kewajiban bagi kamu atau pihak syirkah lain untuk menyewa aset atau membeli habis kepemilikan rekan syirkah yang lain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa pembiayaan ini bisa dijamin kebenarannya dari sisi syariah?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseFour1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Insya Allah, kami berinteraksi secara konstan dengan para ahli fiqih dan keuangan syariah untuk menjamin apa yang kami tawarkan dari aspek produk, akad, dan kontrak 100% sesuai dengan syariah. Untuk peraturan tentang akad murabahah dan musyarakah bisa dilihat <%= link_to "di sini", service_terms_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Informasi-informasi apa saja yang harus diberikan?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseFive1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam mengisi formulir dan proposal pembiayaan, informasi mengenai bisnis serta tujuan wajib diperlukan untuk menghindari maysir dan gharar. Informasi pribadi yang diminta adalah nomor identitas (KTP), nomor telepon, akun sosial media (Twitter, Facebook). Dalam beberapa kasus, informasi tambahan seperti slip gaji, bukti bayar kebutuhan (sewa, listrik, telepon) akan diminta. Nomor PIN rekening bank dan info sensitif lainnya tidak akan diminta.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bagaimana bila saya gagal membayar atau memenuhi kewajiban?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseSix1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam Islam, kerugian harus ditanggung oleh semua pihak yang terlibat dalam akad, seperti yang telah dituliskan dalam kontrak. Selama kamu jujur dalam berbisnis dan pelaporannya, maka kerugian akan diterima bersama. Untuk murabahah, apabila kamu gagal membayar angsuran setelah beberapa bulan, maka sesuai dengan kontrak, aset yang kamu beli tersebut harus dijual dan hasil penjualannya digunakan untuk membayar kewajibanmu tersebut dan selebihnya dikembalikan kepada kamu. Untuk musyarakah, kewajiban yang ada hanyalah membayar sewa apabila kamu memutuskan menggunakan aset syirkah(rumah). Apabila kamu gagal membayar uang sewa untuk beberapa bulan, maka kamu diwajibkan keluar dari rumah namun masih memiliki kepemilikan atas rumah tersebut.
      </div>
    </div>
  </div>

            </div><!--/#accordion1-->
        </div>
        <!-- Accordion END -->
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</div>			