<div class="portlet portlet-bordered">
  <div class="portlet-title">
    <div class="caption caption-red">
      <i class="fa fa-home"></i> 
      <span class="caption-subject bold font-yellow-crusta uppercase">
        <%= "Beranda" %>
      </span>
      <span class="caption-helper"><%=  %></span>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#portlet_tab2" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
      <li role="presentation"><a href="#portlet_tab1" aria-controls="pembiayaan" role="tab" data-toggle="tab">Pembiayaan</a></li>
      <li role="presentation"><a href="#portlet_tab3" aria-controls="bantuan" role="tab" data-toggle="tab">Bantuan</a></li>
    </ul>
  </div>
  

  <div class="portlet-body">
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="portlet_tab2">
        <div class="row">
          <div class="col-md-12">
            <%= render 'pages/userbox' %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="portlet_tab1">
        <div class="row">               
          <div class="col-md-12">
            <div class="weather-3 pn centered">
              <div class="col-md-4">
                <i class="fa fa-bank centerpiece mt"></i>
                <h3>
                  PEMBIAYAAN
                  <i class="fa fa-question-circle fa-lg pop-helper" data-container="body" data-toggle="popover" data-placement="top" title="Other Prep" data-content="<%= credibility_popover_text %>" data-original-title=""></i>
                </h3>
              </div>
              <div class="col-md-8">
                <div class="home-prompt">
                  <div class="row">
                  <div class="mt col-xs-6">
                  <%= link_to 'Ajukan Murabahah', new_user_tender_path(current_user, aqad: 'murabahah'), class: "btn btn-outlined btn-theme btn-md", remote: true  %></div>
                  <div class="mt col-xs-6">
                  <%= link_to 'Ajukan Musyarakah', new_user_tender_path(current_user, aqad: 'musyarakah'), class: "btn btn-outlined btn-theme btn-md", remote: true  %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <% if current_user.tenders.empty? %>
              <div class="blankslate">
                <div class="spacious">
                  <h3><%= "Belum Ada Proposal" %></h3>
                </div>
              </div>
            <% else %>
              <%= render current_user.tenders  %>
            <% end %>
          </div>
        </div>  
      </div>

      <div role="tabpanel" class="tab-pane" id="portlet_tab3">
        <%= render 'pages/help' %>
      </div>

    </div>
  </div>

  
</div>