<div class="container-fluid home-tour">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 centered">
            <div class="proposition">
                <h2>Hijrah</h2>
                <%= embedded_svg('iconmonstr-key-9.svg', class: 'svg-bg') %>
                <p>Membeli rumah impian tanpa terlibat dalam hutang dan riba dengan membentuk syirkah bersama rekan pendana, menggunakan akad Musyarakah Mutanaqishah.</p>
                <div class="spacing"></div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buying_details">Telusuri</button> -->

            </div>
        </div>
    </div>
</div>
<div class="spacing"></div>
<section class="inspect-itemize detail-box active extra-bottom-margin">
    <div class="container prose">
        <div class="row centered what-to-expect">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h2>Apa saja manfaat<br> dari Program Hijrah oleh Kapiten?</h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12 col-md-4 col-md-offset-1">
                <h5 class="primary">
                    <div class="checkmark">
                        <%= embedded_svg('spark-10-check.svg', class: '') %>
                    </div>Tanpa Hutang
                </h5>
                <p>Our home inspector climbs onto the roof, pokes at the foundation, and crawls into attic space looking for water condensation or penetration. Walls, ceilings, and electrical fixtures are examined for any signs of water leakage or mold.</p>
                <h5 class="primary">
                    <div class="checkmark"><%= embedded_svg('spark-10-check.svg', class: '') %></div>Biaya &amp; Risiko Ditanggung Bersama
                </h5>
                <p>We check for broken seals on glass, deteriorating tread steps, decking, garages and settlement cracks.</p>
                <h5 class="primary">
                    <div class="checkmark"><%= embedded_svg('spark-10-check.svg', class: '') %></div>Kewajiban Lebih Fleksibel
                </h5>
                <p>The roof is examined for loose shingles or tiles, and the flashing is tested for tightness. All drains are tested for a tight connection to the house. Skylights and chimneys also are examined for proper sealants.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-1">
                <h5 class="primary">
                    <div class="checkmark">
                        <%= embedded_svg('spark-10-check.svg', class: '') %>
                    </div>Tanpa Penyitaan
                </h5>
                <p>All the electrical components are examined to ensure they fit and are operating safely.</p>
                <h5 class="primary">
                    <div class="checkmark">
                        <%= embedded_svg('spark-10-check.svg', class: '') %>
                    </div>Bantuan Di Setiap Saat
                </h5>
                <p>We check all the doors, floors, stairways, counters, cabinetry,and windows, and appliances if applicable.</p>
            </div>
        </div>
        <div class="spacing extra-bottom-margin"></div>
        <div class="row centered extra-bottom-margin">
            <h2>Ilustrasi Skema Hijrah</h2>
            <div class="col-sm-8 col-sm-offset-2">
                <%= image_tag('//res.cloudinary.com/instilla/image/upload/s--y2dlKwAu--/c_scale,w_400/v1461426824/svg/combination_of_contracts.svg', class: 'img-responsive')  %>
            </div>                    
        </div>
        <div class="spacing extra-bottom-margin"></div>
        <div class="row centered">
            <div class="col-xs-12">
                <%= link_to "Pelajari Skema", '/how_it_works', class: 'btn btn-lg btn-inverse' %>
                <%= link_to '#', data: {toggle: "modal", target: "#buying_details"}, class: "btn btn-primary btn-round-lg", id: "BT2" do %>
                    <i class="fa fa-calculator fa-3x pull-left"></i>
                    <span>Jalankan Simulasi</span><br><b>Untuk Hijrah</b>
                <% end %>
          
            </div>
        </div>
    </div>
</section>
<section class="closing detail-box active" style="margin-top: 60px;">
  <div class="container prose">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2 class="centered">Berikut ini persyaratannya:</h2>
      </div>    
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <ul class="list-group">
          <li class="list-group-item">Belum pernah memiliki rumah</li>
          <li class="list-group-item">Properti yang diinginkan berlokasi di daerah Jabodetabek</li>
          <li class="list-group-item">Properti yang diinginkan memenuhi kriteria minimum Kapiten</li>
          <li class="list-group-item">Memiliki modal sebesar minimal 20% dari harga rumah</li>
          <li class="list-group-item">Bersedia memberikan data diri serta menjalani proses seleksi secara jujur oleh Kapiten</li>
        </ul>        
      </div>
    </div>
  </div>
</section>      


<%= render 'pages/buying_details' %>


<script type="text/javascript">
  document.getElementById("BT2").addEventListener("click", function(){
      $("body").addClass("disable-nprogress");
      // $("#buying_details").show();
      // $("#BT1").show();
  });
  document.getElementById("BT3").addEventListener("click", function(){
      $("#simulation-result").hide();
      $("#BT3").hide();
      $("#simulation").show();
  });  
</script>