
 --><div class="profile-userpic">
  <% if current_user.avatar.nil? %>
    <%= cl_image_tag('asset/default-avatar', cloudinary_photo_options('')) %>
    <p class="text-center">
    <%= link_to "Unggah Gambar Profil", avatar_user_path(current_user), remote: true, class: "btn btn-outlined btn-theme btn-xs" %></p>
  <% else %>
    <p class="text-center">
    <%= cl_image_tag(current_user.avatar, cloudinary_photo_options('private')) %>
    <%= link_to "Hapus foto", remove_avatar_user_path(current_user), method: :put, data: {:confirm => 'Kamu yakin mau melanjutkan?', object: 'Penghapusan gambar profil'}, class: 'reset-link btn btn-danger btn-xs' %></p>
  <% end %>

</div>
<div class="profile-usertitle">
  <div class="profile-usertitle-name">
    <%= current_user.name %>
  </div>
  <div class="profile-usertitle-job">
    <%= %>
  </div>
</div>
