<div class="col-md-12">
  <div class="weather-3 pn centered">
    <div class="col-md-4">
      <i class="fa fa-smile-o centerpiece mt"></i>
      <h3>
        PROFIL
        <i class="fa fa-question-circle fa-lg pop-helper" data-container="body" data-toggle="popover" data-placement="top" title="Other Prep" data-content="<%= credibility_popover_text %>" data-original-title=""></i>
      </h3>
    </div>
    <div class="col-md-8">
      <div class="home-prompt">
        <%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-outlined btn-theme mt", :remote => true %>
        <%= link_to 'Lihat', user_path(current_user), class: "btn btn-outlined btn-theme mt" %>
        <%= link_to 'Unggah Berkas', new_document_path, class: "btn btn-outlined btn-theme mt"  %>                  
      </div>
    </div>
  </div>
</div>  
<div class="profile-userpic">
  <% if current_user.avatar.nil? %>
    <%= image_tag('default-avatar', class: "img-responsive") %>
  <% else %>
    <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
  <% end %>
</div>
<div class="profile-usertitle">
  <div class="profile-usertitle-name">
    <%= current_user.name %>
  </div>
  <div class="profile-usertitle-job">
    <%= user_authority(current_user) %>
  </div>
</div>
<div class="profile-stats">
  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
      <div class="stats-value pink">85</div>
      <div class="stats-title">KREDIBILITAS</div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
      <div class="stats-value pink"><%= @documents.count %></div>
      <div class="stats-title">DOKUMEN</div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
      <div class="stats-value pink">0</div>
      <div class="stats-title">RESPON</div>
  </div>  
</div>