<%= render 'layouts/messages' %>
<div class="col-md-8 col-md-offset-2 intro-section">
	<h3 class="sub-heading">
		<%= t "landing.heading" %>
	</h3><hr>
	<h1 class="intro">
		<%= t "landing.headline_2" %>
	</h1>

</div>
<div class="col-md-10 col-md-offset-1 white" id="subcribe-prompt">
<!-- 	<% if user_signed_in? %>
	  <%= link_to "Keluar", destroy_user_session_path, data:{method: :delete}, class: "btn btn-lg btn-outlined btn-white" %>
	<% else %>
	  <%= link_to "Masuk", new_user_session_url(subdomain: ''), class: "btn btn-lg btn-outlined btn-white" %>
	<% end %> -->
	<%= render 'elements/subscribe_form' %>
</div>