<% meta title: "Solusi investasi properti yang syariah dan nyaman", description: '',
     keywords: '' %>
<section class="about-section" id="saving-product">
  <div class="about-cont about-to-left">
    <div class="container">
        <div class="row">
          <!-- ABOUT TEXT SECTION -->
          <div class="col-md-6">
            <!-- ABOUT TITLE -->
            <h3 class="" style="opacity: 1;">Cara berinvestasi properti yang nyaman, berdampak sosial, dan Halal.</h3>
            <!-- ABOUT DESCRIPTION -->
            <p class="" style="opacity: 1;">Kami di Kapiten yakin bahwa investasi yang menguntungkan juga dapat bermanfaat besar secara sosial, dalam hal ini, membantu sebuah keluarga memiliki rumah untuk pertama kalinya secara halal.</p>
          </div>

          <!-- ABOUT IMAGE -->
          <div class="col-md-6 about-img">
            <img src="">
          </div>
        </div>
    </div>
  </div>
</section>
<section class="section home-tour works" id="screens works">
  <div class="grid">
    <div class="section-heading text-center">
      <h2 class="section-title">Manfaat</h2>
      <h1 class="section-headline">Beberapa alasan untuk memilih berinvestasi di platform Kapiten</h1>
    </div>
    <div class="row tour-items">
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><i class="fa fa-star fa-4x"></i></span>
        
        <!-- FEATURE TITLE -->
        <h5>Halal</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>Berdasarkan prinsip dan metode yang sesuai syariah Islam dan kontrak yang jelas.</p>
        
      </div>
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><i class="fa fa-gift fa-4x"></i></span>
        
        <!-- FEATURE TITLE -->
        <h5>Berdampak Sosial</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>Selain mendapatkan keuntungan, investasimu membantu sebuah keluarga mempunyai rumah untuk pertama kalinya.</p>
        
      </div>
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><i class="fa fa-hotel fa-4x"></i></span>
        
        <!-- FEATURE TITLE -->
        <h5>Nyaman</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>We'll handle everything, dari kontrak, serah terima, dan lain-lain.</p>
        
      </div>
    </div>  
    <div class="tour-observe">
      <div class="section-heading centered">
        <h2 class="section-title">Produk</h2>
        <h1 class="section-headline">Kami menyediakan berbagai layanan dalam </h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="article-list-basic">
            <li>
              <a href="#">
                <img src="http://res.cloudinary.com/instilla/image/upload/s--HjbjwXjc--/c_scale,w_400/v1454471660/sea-sunset-bird-flying_qv7mju.jpg" alt="Industrial Mech" />
              </a>
              <div>
                <h2><a href="#">Hijrah</a></h2>
                <p>Skema kepemilikan rumah tanpa hutang untuk mereka yang belum memiliki rumah, namun sudah memiliki modal.</p>
              </div>
            </li>            
          </ul>
        </div>
        <div class="col-md-6">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              
              <!-- panel 1 -->
              <div class="panel panel-default">
                <!--wrap panel heading in span to trigger image change as well as collapse -->
                <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">Manfaat</h4>
                  </div>
                </span>
                
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                  <!-- Tab content goes here -->
                  Crowdfunding adalah sistem pendanaan yang bersumber pada banyak pihak. Manfaat dari crowdfunding atau pendanaan gotong royong adalah mekanisme permintaan dan penawaran yang efisien. Di Kapiten, para pendana mendapatkan hak imbal hasil atas kontribusi mereka. Untuk mengetahui lebih lanjut mengenai investasi di Kapiten, silahkan <%= link_to "klik di sini", funding_job_url(subdomain:'') %>.
                  </div>
                </div>
              </div> 
              <!-- / panel 1 -->
              
              <!-- panel 2 -->
              <div class="panel panel-default">
                  <!--wrap panel heading in span to trigger image change as well as collapse -->
                  <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title collapsed">Persyaratan</h4>
                      </div>
                  </span>

                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                      <!-- Tab content goes here -->
                        Musyarakah Mutanaqishah
                        (MMQ), adalah akad kepemilikan
                        bersama atas suatu aset. Pihak yang
                        memakai aset harus membayar
                        biaya sewa kepada pemilik aset
                        yang tidak menggunakannya. Porsi
                        kepemilikan dapat diperjual-belikan                        
                      </div>
                  </div>
              </div>
              <!-- / panel 2 -->
              
              <!--  panel 3 -->
              <div class="panel panel-default">
                  <!--wrap panel heading in span to trigger image change as well as collapse -->
                  <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                      <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h4 class="panel-title">Cara</h4>
                      </div>
                  </span>

                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                        <!-- tab content goes here -->
                         tab 3 content
                        </div>
                      </div>
                    </div>
          </div> <!-- / panel-group -->
           
          <div class="centered">
            <%= link_to open_simulation_path(type: 'client', aqad: 'musharaka'), remote: true, class: "btn btn-primary btn-round-lg" do %>
              <i class="fa fa-calculator fa-3x pull-left"></i>
              <span>Jalankan Simulasi</span><br>
              <b>Untuk Hijrah</b>        
            <% end %>
          </div>              
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section section-dk container-fluid home-tour">
  <div class="grid">
    <div class="section-heading text-center">
      <h2 class="section-title">Proses</h2>
      <h1 class="section-headline">Alur Program Investasi Rumah Kapiten</h1>
    </div>
    <div class="blankslate">
      <div class="spacious">
        <h3 class="coral"><%= "Coming Soon" %></h3>
      </div>
    </div>
  </div>     
</div>
<div class="section container-fluid">
  <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <h1 class="text-center">Kapiten masih dalam pengembangan.</h1>
       <h4 class="text-center text-info">we just have to make a few finishing touches</h4>
       <h2 class="text-center"></h2>
       <%= form_tag subscribe_path, method: 'post', html: {role: "form"}, class: "col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1" do %>
         <div class="input-group input-group-lg text-center">
          <%= text_field_tag :email, '', placeholder: "alamat emailmu", class: "form-control input-lg" %>
          <%= hidden_field_tag :category, @category, readonly: true %>
          <span class="input-group-btn">
            <button class="btn btn-primary" >Kabari Saya</button>
          </span>
         </div>
       <% end %>
     </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<!-- <div class="section section-dk container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-push-4">
      <h2>100% Responsive</h2>
      <p class="lead">Keuntungan dari investasi yang kamu peroleh di Kapiten dapat kamu kumpulkan. Dan ketika sudah mencapai titik yang kamu butuhkan, kamu bisa langsung mengajukan pendanaan di Kapiten. Sebagai manfaat tambahan, karena kamu sudah membangun reputasi yang bagus dengan Kapiten melalui serangkaian pendanaan, maka kamu akan mendapatkan diskon biaya.</p>
    </div>
    <div class="col-md-4 col-md-pull-7 text-center">
      <div class="fa fa-mobile fa-4x circles"></div>
    </div>
  </div>
</div> -->