<% title("Home") %>
  
  <h3><i class="fa fa-home"></i> Home</h3>  
  
  <h3 class="head text-center">Hai, <%= current_user.full_name %></h3>
  <p class="narrow text-center">
    <%= current_user.current_reservations.count %> Reservasi
  </p>

  <p class="narrow text-center">
    <span class="label label-success"><%= current_user.current_reservations.confirmed.count %> Terkonfirmasi</span> 
    <span class="label label-info"><%= current_user.current_reservations.waiting.count %> Menunggu Konfirmasi</span>
    <span class="label label-warning"><%= current_user.current_reservations.pending.count %> Pending</span>
  </p>

  <p class="text-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Cari Arena
    </button>    
  </p>  

  <%= render 'elements/test_modal' %>
  <%= render 'elements/reservations_modal' %>
  <%= render 'elements/arenas_modal' %>

  <div class="row stylish-panel">    
  
    <div class="col-md-6">
      <div>
        <i class="glyphicon glyphicon-pushpin fa-3x"></i>
        <h3>Reservasi</h3>
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myReservations">
          Lihat Reservasi Saya
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <i class="fa fa-flag fa-3x"></i>
        <h3>Arena</h3>
        <p>
          <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myArenas">
            Lihat Arena Favorit Saya
          </button>
        </p>
        <p>
          <%= link_to "Lihat Daftar Arena", venues_path, class: "btn btn-info btn-md" %>
        </p>
      </div>
    </div>
  

  </div>