<% meta title: "Solusi investasi properti yang syariah dan nyaman", description: '',
     keywords: '' %>

<section class="intro padded text-center">
  <div class="container">
    <div class="prose">
      <h2>Skema investasi di Sikapiten</h2>
      <h1 class="highlight">Bagaimana rincian skema yang disusun oleh Kapiten?</h1>
    </div>
  </div>
</section>
<section class="select centered">
  <div class="container">
      <ul class="nav nav-tabs select-step">
        <li role="presentation" id="select-overview" class="active ">
          <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-bookmark.svg', class: 'svg-bg') %>
            </div>
            <h6>Teknis</h6>
          </a>
        </li>
        <li role="presentation" id="select-inspection" class="">
          <a href="#white_paper" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-overview.svg', class: 'svg-bg') %>
            </div>
            <h6>Prosedur</h6>
          </a>
        </li>
        <li role="presentation" id="select-closing" class="">
          <a href="#action" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-writing.svg', class: 'svg-bg') %>
            </div>
            <h6>Pertanyaan</h6>
          </a>
        </li>
      </ul>
  </div>
</section>
<div class="section container-fluid">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <%= render 'pages/technical' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="white_paper">
      <%= render 'pages/investor_process' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="action">
      <%= render 'pages/investment_faq' %>
    </div>    
  </div>
</div>
<div class="section padded detail-box">
  <div class="container">
    <div class="row centered prose">
      <h4>Masih ragu atau bingung?</h4>
      <h2>Silahkan Lihat Penjelasan Mendalam</h2>
      <div class="col-xs-12">
          <%= meta_events_tracked_link_to 'https://drive.google.com/uc?export=download&id=0B56oZhUexrPbTm9TaHUzd1pJSjQ', class: "btn btn-success btn-round-lg",
            :meta_event => { :category => :user, :event => :download,
                            :properties => { :file => 'investment_white_paper' } } do %>
              <i class="fa fa-file-pdf-o fa-3x pull-left"></i>
              <span>Lihat Versi</span><br><b>PDF</b>
          <% end %>    
      </div>
    </div>  
  </div>
</div>
<%= render 'pages/reminder' %>



<style type="text/css">

</style>