<% meta title: "Solusi investasi properti yang syariah dan nyaman", description: '',
     keywords: '' %>

<section class="intro padded text-center">
  <div class="container">
    <div class="prose">
      <h2>Skema investasi di Sikapiten</h2>
      <h1 class="highlight">Bagaimana rincian skema yang disusun oleh Kapiten?</h1>
    </div>
  </div>
</section>
<section class="select centered">
  <div class="container">
      <ul class="nav nav-tabs select-step">
        <li role="presentation" id="select-overview" class="active ">
          <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-bookmark.svg', class: 'svg-bg') %>
            </div>
            <h6>Teknis</h6>
          </a>
        </li>
        <li role="presentation" id="select-inspection" class="">
          <a href="#white_paper" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-overview.svg', class: 'svg-bg') %>
            </div>
            <h6>Prosedur</h6>
          </a>
        </li>
        <li role="presentation" id="select-closing" class="">
          <a href="#action" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-writing.svg', class: 'svg-bg') %>
            </div>
            <h6>Pertanyaan</h6>
          </a>
        </li>
      </ul>
  </div>
</section>
<div class="section container-fluid">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <%= render 'pages/technical' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="white_paper">
      <%= render 'pages/investor_process' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="action">
      <section class="closing detail-box active">
        <div class="container prose">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <%= render 'elements/faq' %>          
            </div>
          </div>          
        </div>
      </section>    
    </div>    
  </div>
</div>
<%= render 'pages/reminder' %>

<!-- <div class="section section-dk container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-push-4">
      <h2>100% Responsive</h2>
      <p class="lead">Keuntungan dari investasi yang kamu peroleh di Kapiten dapat kamu kumpulkan. Dan ketika sudah mencapai titik yang kamu butuhkan, kamu bisa langsung mengajukan pendanaan di Kapiten. Sebagai manfaat tambahan, karena kamu sudah membangun reputasi yang bagus dengan Kapiten melalui serangkaian pendanaan, maka kamu akan mendapatkan diskon biaya.</p>
    </div>
    <div class="col-md-4 col-md-pull-7 text-center">
      <div class="fa fa-mobile fa-4x circles"></div>
    </div>
  </div>
</div> -->

<style type="text/css">
  .box-faq {
    margin-bottom: 60px;
}
</style>