<% meta title: "Solusi Pendanaan Rumah Secara Syariah", description: 'Kami di Kapiten telah merancang skema pendanaan rumah yang sesuai dengan kebutuhamnu menggunakan metode yang sesuai syariah untuk membantumu.',
     keywords: 'Pendanaan rumah syariah, beli rumah syariah, kredit rumah syariah, takeover hutang riba' %>

<%= render partial: 'elements/modal_placeholder', locals: { modal_name: "main" } %>  

<section class="intro padded centered">
  <div class="container">
    <div class="prose">
      <h2>Miliki rumah dengan cara yang bebas riba</h2>
      <h1 class="highlight">Dengan skema Hijrah yang telah kami susun.</h1>
    </div>
  </div>
</section>
<section class="select centered">
  <div class="container">
      <ul class="nav nav-tabs select-step">
        <li role="presentation" id="select-overview" class="active ">
          <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-bookmark.svg', class: 'svg-bg') %>
            </div>
            <h6>Overview</h6>
          </a>
        </li>
        <li role="presentation" id="select-inspection" class="">
          <a href="#white_paper" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-overview.svg', class: 'svg-bg') %>
            </div>
            <h6>Prosedur</h6>
          </a>
        </li>
        <li role="presentation" id="select-closing" class="">
          <a href="#action" aria-controls="home" role="tab" data-toggle="tab">
            <div class="step-icon">
              <%= embedded_svg('spark-10-writing.svg', class: 'svg-bg') %>
            </div>
            <h6>Pertanyaan</h6>
          </a>
        </li>
      </ul>
  </div>
</section>
<div class="section container-fluid">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <%= render 'pages/kepemilikan_overview' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="white_paper">
      <%= render 'pages/client_process' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="action">
      <section class="closing detail-box active">
        <div class="container prose">
          <div class="row">
            <%= render 'pages/client_faq' %> 
          </div>          
        </div>
      </section>    
    </div>    
  </div>
</div>