<%
	meta title: "Platform pembiayaan syariah",
    description: "Tak perlu lagi bingung lagi untuk mencari modal yang berbasis syariah bagi usahamu, kami bantu kamu memilih aqad syariah,  membuat pengajuannya, dan mengurus kontraknya.",
    keywords: %w(pembiayaan keuangan syariah islam)
%>


<section id="home" name="home"></section>
<% if is_opera_mini? %>
<div id="opera-mini-wrap">
	<div class="container">
		<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>			
		</div>
	</div>
</div>
<% else %>
<div id="headerwrap">
    <div class="container">
    	<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	
<% end %>

<section class="section" id="desc" name="desc">
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h3 class="landing">Manfaat</h3>
				<p>Kamu Dapat mengajukan pembiayaan di siKapiten untuk:</p>
				<br>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
						<%= inline_svg "0001-home.svg", class: 'mid-icons' %>
						<h4 class="primary">Pembelian Rumah</h4>
						<p>Sudah temukan rumah impian kamu tapi bingung bayarnya? Ajukan di sini</p>
				   </div>
				</div>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
						<%= inline_svg "0013-paint-format.svg", class: 'mid-icons' %>
						<h4 class="primary">Konstruksi Rumah</h4>
						<p>Butuh uang untuk bangun rumah di tanah milikmu atau mau renovasi rumah? Tidak masalah, bisa kami bantu</p>
				  </div>
				</div>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
						<%= inline_svg "0066-lifebuoy.svg", class: 'mid-icons' %>
						<h4 class="primary">Pembebasan Hutang</h4>
						<p>Sudah terlibat dalam hutang berbunga dengan bank? Jangan khawatir, kami bisa bantu kamu juga. </p>
				  </div>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FEATURES WRAP -->
	<%= render 'pages/features' %>
	<!-- FAQ -->
	<%= render 'pages/faq' %>
</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Diandra Setiabudi</a></small>
	<%= render 'elements/authorship_credit' %>
  </div>
</section>