<%
	meta title: "Platform pembiayaan syariah",
     description: "Tak perlu lagi bingung lagi untuk mencari modal yang berbasis syariah bagi usahamu, kami bantu kamu memilih aqad syariah,  membuat pengajuannya, dan mengurus kontraknya.",
     keywords: %w(pembiayaan keuangan syariah islam)
%>

<section id="home" name="home"></section>
<div id="headerwrap">
	<%= render 'layouts/navigation' %>
    <div class="container">
    	<div class="row centered">
    		<%= render 'layouts/messages' %>
    		<div class="col-md-10 col-md-offset-1 intro-section">
				<h1 class="intro">
					Platform Pembiayaan <span class="colored-text"><strong>Syariah</strong></span> Untuk Bisnis Online-mu
				</h1>
				<h3 class="sub-heading">
					Tak perlu lagi bingung lagi untuk mencari modal yang berbasis syariah bagi usahamu, kami bantu kamu memilih aqad syariah,  membuat pengajuannya, dan mengurus kontraknya.
				</h3>
				<%= link_to "Kunjungi Blog Kami", root_url(subdomain: "blog"), class: "btn btn-outlined btn-white" %>
    		</div>
			<div class="col-md-6 col-md-offset-3" id="subcribe-prompt">
				<h3 class="sub-heading">Masih dalam pengembangan!</h3>
				<p class="white">Simpan email kamu dengan mengisi kotak di bawah ini dan kami akan kabari ketika kamu sudah bisa mengakses siKapiten</p>
				<br>			
				<div class="panel panel-primary">
					<div class="panel-body" id="landing-subscriber">
						<%= render 'elements/subscribe_form' %>
					</div>
				</div>
			</div>    		
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	


<section class="section" id="desc" name="desc">
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h3 class="landing">Manfaat</h3>
				<p>Gunakan modal yang didapatkan untuk tujuan-tujuan berikut ini</p>
				<br>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
						<% unless is_opera_mini? %>
						<i class="fa fa-cubes fa-3x primary" aria-hidden="true"> </i>
						<% end %>
						<h4 class="primary">Menambah Stok</h4>
						<p>Butuh modal untuk meningkatkan persediaan dagangan kamu? Maka pembiayaan dengan akad murabahah tepat untuk kamu. Toko online atau offline bukan masalah.</p>
				   </div>
				</div>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
					<% unless is_opera_mini? %>
						<i class="fa fa-life-ring fa-3x primary" aria-hidden="true"> </i>
					<% end %>
						<h4 class="primary">Meningkatkan Produksi</h4>
						<p>Butuh beli mesin, peralatan, dan sebagainya untuk menambah produksi? Banyak akad yang cocok untuk kebutuhan ini.</p>
				  </div>
				</div>
				<div class="col-md-4 serv-grids">
					<div class="primary-border">
					<% unless is_opera_mini? %>
						<i class="fa fa-truck fa-3x primary" aria-hidden="true"> </i>
					<% end %>
						<h4 class="primary">Ekspansi Pasar</h4>
						<p>Ingin menjual di lebih banyak tempat? Atau mau menjamah pasar impor/ekspor? Jangan khawatir, tetap ada pembiayaan syariah yang tepat untuk kamu.</p>
				  </div>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FEATURES WRAP -->
	<%= render 'pages/features' %>
	<!-- FAQ -->
	<%= render 'elements/faq' %>
</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Yusuf Cahyo, Diandra Setiabudi</a></small>        
  </div>
</section>