<% metamagic site: ENV["SITE_NAME"], title: :site %>
<%
	meta description: "Miliki rumah tanpa terlibat hutang berbunga, kami bantu mewujudkan mimpimu dengan menggunakan aqad dan mematuhi rambu syariah Islam.",
    keywords: %w(pembiayaan keuangan syariah islam)
%>


<section id="home" name="home"></section>
<% if is_opera_mini? %>
<div id="opera-mini-wrap">
	<div class="container">
		<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>			
		</div>
	</div>
</div>
<% else %>
<div class="landing-header" id="headerwrap">
    <div class="container">
    	<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	
<% end %>
<div>

<%= render 'pages/mantra' %>
<%= render 'pages/customers' %>
<%= render 'pages/aqads' %>


<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<!-- <small>© 2015 by PT Kapiten Teknologi Indonesia -->
	<%= render 'elements/authorship_credit' %>
  </div>
</section>
<%= vanity_js %>