<% metamagic site: ENV["SITE_NAME"], title: :site %>
<%
	meta description: "Miliki rumah tanpa terlibat hutang berbunga, kami bantu mewujudkan mimpimu dengan menggunakan aqad dan mematuhi rambu syariah Islam.",
    keywords: %w(pembiayaan keuangan syariah islam)
%>


<section id="home" name="home"></section>
<% if is_opera_mini? %>
<div id="opera-mini-wrap">
	<div class="container">
		<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>			
		</div>
	</div>
</div>
<% else %>
<div class="landing-header" id="headerwrap">
    <div class="container">
    	<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	
<% end %>
<div>
  <div class="container">
    <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
    	<div class="col-md-6 col-sm-12">
			<%= link_to "Ke Ruang Diskusi", blog_discussion_path(subdomain: ''), class: "btn btn-block btn-outlined btn-black hidden-xs" %>
			<%= link_to "Ke Ruang Diskusi", blog_discussion_path(subdomain: ''), class: "btn btn-sm btn-outlined btn-black visible-xs" %>    	
    	</div>
		<div class="col-md-6 col-sm-12">
			<%= link_to "Kunjungi Blog Kami", root_url(subdomain: 'blog'), class: "btn btn-block btn-outlined btn-black hidden-xs" %>
			<%= link_to "Kunjungi Blog", root_url(subdomain: 'blog'), class: "btn btn-sm btn-outlined btn-black visible-xs" %>
		</div>
    </div>
</div>	
<section class="section" id="desc" name="desc">
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="landing">Alasan</h3>
					<p>Alasan kami sederhana, yaitu meningkatkan kesejahteraan populasi unbankable dengan membantu mereka memiliki rumah</p>
					<br>
					<h3 class="landing">Caranya?</h3>
					<p>Dengan platform crowdfunding ini, kami ingin membantu terjadinya transaksi investasi dan pembiayaan antara populasi unbankable dan para investor sebagai crowdfunder.</p>
					<br>					
					<h3 class="landing">Crowdfunding?</h3>
					<p>Crowdfunding secara sederhana adalah sistem pendanaan gotong royong. Alih-alih dikucurkan oleh bank, pengajuan pembiayaanmu di platform Kapiten akan didanai oleh para investor, yang dapat berupa pihak yang dikenal dan juga pihak asing.</p><br><br>
					<h3 class="landing">Unbankable?</h3>
					<p>Segmen unbankable adalah orang-orang yang tidak dapat dilayani oleh industri perbankan karena kurangnya dokumen dan hal formalitas lainnya. Mereka mempunyai penghasilan yang biasanya tunai, namun bukan merupakan gaji tetap. Kami ingin membantu mereka mendapatkan layanan finansial berupa pembiayaan rumah.</p><br><br>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
</section>

<section class="stripe stripe-partners ic-boxes" id="desc" name="desc">
  <div class="container">
  	<div class="row">
  		<h3 class="text-center">Membangun masa depan yang tentram bersama, rumah demi rumah</h3>
	    <div class="col-xs-12 col-sm-4">
	    	<%= link_to for_clients_path do %>
	        <div class="project">
	            <figure class="img-responsive">
	                <img src="http://res.cloudinary.com/instilla/image/upload/c_scale,w_350/v1449582605/asset/family-1003816_640.jpg">
	                <figcaption>
	                    <span class="project-details">Pembeli Rumah</span>
	                    <span class="project-creator">pihak yang membutuhkan pembiayaan</span>
	                </figcaption>
	                <span class="hovered">
	                    <button class="btn btn-info btn-action" type="submit" >Telusuri </button>
	                </span>
	            </figure>
	        </div>
	        <% end %>
	    </div>
	    <div class="col-xs-12 col-sm-4">
	    	<%= link_to for_investors_path do %>
	        <div class="project">
	            <figure class="img-responsive">
	                <img src="http://res.cloudinary.com/instilla/image/upload/c_scale,w_350/v1449582605/asset/telephone-586266_640.jpg">
	                <figcaption>
	                    <span class="project-details">Investor</span>
	                    <span class="project-creator">pihak yang membantu membiayai</span>
	                </figcaption>
	                <span class="hovered">
	                        <button class="btn btn-info btn-action" type="submit" >Telusuri </button>
	                </span>
	            </figure>
	        </div>
	        <% end %>
	    </div>
	    <div class="col-xs-12 col-sm-4">
			<%= link_to for_developers_path do %>	    
	        <div class="project">
	            <figure class="img-responsive">
	                <img src="http://res.cloudinary.com/instilla/image/upload/c_scale,h_233,w_350/v1449582919/asset/signature-962355_640.jpg">
	                <figcaption>
	                    <span class="project-details">Developer</span>
	                    <span class="project-creator">developer dan penjual rumah</span>
	                </figcaption>
	                <span class="hovered">
	                        <button class="btn btn-info btn-action" type="submit" >Telusuri </button>
	                </span>
	            </figure>
	        </div>
	        <% end %>
	    </div>        

  	</div>
  </div>
</section>

<section>
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<div class="col-md-10 col-md-offset-1">
					<h3 class="landing">Akad</h3>
					<p>Akad-akad yang digunakan di platform ini adalah sebagai berikut:</p>
					<br>
					<div class="col-md-4 serv-grids">
						<div class="primary-border">
							<h4 class="primary">Murabahah</h4>
							<p>Akad jual beli amanah, bisa secara angsuran atau tunai. </p>
					   </div>
					</div>
					<div class="col-md-4 serv-grids">
						<div class="primary-border">
							<h4 class="primary">Musyarakah</h4>
							<p>Kepemilikan bersama untuk rumah</p>
					  </div>
					</div>
					<div class="col-md-4 serv-grids">
						<div class="primary-border">
							<h4 class="primary">Ijarah</h4>
							<p>Sewa rumah secara syariah</p>
					  </div>
					</div>					
					<div class="col-sm-8 col-sm-offset-2">
						<br>
						<div class="embed-container">  
							<%= youtube_embed("PtjetoVwBPw") %>
						</div>
					</div>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FAQ -->
	<%= render 'pages/faq' %>	
</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<small>© 2015 by PT Kapiten Teknologi Indonesia
	<%= render 'elements/authorship_credit' %>
  </div>
</section>
<%= vanity_js %>