<%
	meta title: "Platform pembiayaan syariah untuk rumah",
    description: "Miliki rumah tanpa terlibat hutang berbunga, kami bantu mewujudkan mimpimu dengan menggunakan aqad dan mematuhi rambu syariah Islam.",
    keywords: %w(pembiayaan keuangan syariah islam)
%>


<section id="home" name="home"></section>
<% if is_opera_mini? %>
<div id="opera-mini-wrap">
	<div class="container">
		<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>			
		</div>
	</div>
</div>
<% else %>
<div class="landing-header" id="headerwrap">
    <div class="container">
    	<div class="row centered">
			<%= render 'value_prompt' %>  		
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	
<% end %>
<div>
  <div class="container">
    <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
    	<div class="col-md-3">
    	</div>
		<div class="col-md-3 col-xs-6">
			<%= link_to "Kunjungi Blog Kami", root_url(subdomain: 'blog'), class: "btn btn-lg btn-outlined btn-black hidden-xs" %>
			<%= link_to "Kunjungi Blog", root_url(subdomain: 'blog'), class: "btn btn-sm btn-outlined btn-black visible-xs" %>
		</div>
		<div class="col-md-3 col-xs-6">
			<%= link_to "Halaman Pendana", root_url(subdomain: 'dana'), class: "btn btn-lg btn-outlined btn-black hidden-xs" %>
			<%= link_to "Pendana", root_url(subdomain: 'dana'), class: "btn btn-sm btn-outlined btn-black visible-xs" %>
		</div>
		<div class="col-md-3">
		</div>
    </div>
</div>	
<section class="section" id="desc" name="desc">
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="landing">Manfaat</h3>
					<p>Rumah Impian. Hidup Tenang. Tanpa Bunga. Menggunakan akad-akad syariah, kamu tidak perlu terjerat hutang berbunga dan dirundung kekhawatiran setiap harinya. Kami bantu kamu di setiap tahapan. </p>

					<h3 class="landing">Crowdfunding?</h3>
					<p>Crowdfunding secara sederhana adalah sistem pengumpulan dana gotong royong. Dalam kasus siKapiten, pengajuan pembiayaanmu akan didanai oleh para rekan pendana kami sebagai aktivitas investasi.</p>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<h3 class="landing">Akad</h3>
					<p>Kamu Dapat mengajukan pembiayaan di siKapiten dengan memilih akad:</p>
					<br>
					<div class="col-md-6 serv-grids">
						<div class="primary-border">
							<%= inline_svg "0055-price-tags.svg", class: 'mid-icons' %>
							<h4 class="primary">Murabahah</h4>
							<p>Akad jual beli tanpa bunga, bisa secara angsuran atau tunai. Rumah yang kamu inginkan harus belum dimiliki olehmu. Hanya untuk pembelian rumah.</p>
					   </div>
					</div>
					<div class="col-md-6 serv-grids">
						<div class="primary-border">
							<%= inline_svg "0115-users.svg", class: 'mid-icons' %>
							<h4 class="primary">Musyarakah</h4>
							<p>Kepemilikan bersama untuk rumah dengan mitra pendana kami. Kamu dapat menyewa rumah tersebut untuk dipakai sendiri atau disewakan kepada pihak ketiga. Dapat dipilih untuk pembangunan, renovasi, pembelian rumah dan pengambilalihan hutang berbunga.</p>
					  </div>
					</div>
					<div class="col-sm-8 col-sm-offset-2">
						<br>
						<div class="embed-container">  
							<%= youtube_embed("PtjetoVwBPw") %>
						</div>
					</div>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
	<%= render 'elements/simulation' %>
	<!-- FEATURES WRAP -->
	<%= render 'pages/features' %>
	<!-- FAQ -->
	<%= render 'pages/faq' %>

</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Diandra Setiabudi</a></small>
	<%= render 'elements/authorship_credit' %>
  </div>
</section>