<% title("Hai!") %>

<%= render 'layouts/navigation' %>

<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
    	<div class="row centered">
    		<%= render 'layouts/messages' %>
    		<div class="col-lg-12">
				<h1>siKapiten Syariah</h1>
				<h3>Membantumu memilih pembiayaan syariah yang tepat</h3>
				<br>
    		</div>
    		
    		<div class="col-lg-2">
    			<h5>Tampilan Yang Ramah</h5>
    			<p>Tidak perlu pusing melihat banyak pilihan</p>
    			<%= image_tag("arrow1.png", class: "hidden-xs hidden-sm hidden-md") %>
    		</div>
    		<div class="col-lg-8">
    			<%= image_tag("app-bg.png", class: "img-responsive") %>
    		</div>
    		<div class="col-lg-2">
    			<br>
    			<%= image_tag("arrow2.png", class: "hidden-xs hidden-sm hidden-md") %>
    			<h5>Bantuan di setiap tahap</h5>
    			<p>Kami akan bantuk kamu mendapatkan pembiayaan dari awal  hingga proses telah seleasi demi kemudahan kamu</p>
    		</div>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->

<section class="section" id="desc" name="desc">
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Membantu Kamu Dalam</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<%= image_tag("intro03.png", alt: "", class: "center-block") %>
					<h3>Monitoring</h3>
					<p>Membantu kamu dalam mengurus pengajuan dan memenuhi persyaratan yang ada.</p>
				</div>						
				<div class="col-lg-4">
					<%= image_tag("intro01.png", alt: "", class: "center-block") %>
					<h3>Konsultasi</h3>
					<p>Memberikan konsultasi secara langsung melalui live chat atas masalah yang dihadapi atau pertanyaan yang dimiliki.</p>
				</div>
				<div class="col-lg-4">
					<%= image_tag("intro02.png", alt: "", class: "center-block") %>
					<h3>Pengelolaan</h3>
					<p>Bantu kamu kelola kewajiban-kewajiban yang harus kamu penuhi sesudah mendapatkan pembiayaan.</p>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<!-- FEATURES WRAP -->
	<%= render 'pages/features' %>
</section>

<section id="showcase" name="showcase">
	<div class="container">
		<div class="row narrow text-center">
			<div class="col-md-6 col-md-offset-3">
			<h3>Masih dalam pengembangan!</h3>
			<h5 class="white">Simpan email kamu dengan mengisi kotak di bawah ini dan kami akan kabari ketika kamu sudah bisa mengakses siKapiten</h5>
			<br>			
			<div class="panel panel-default">
				<div class="panel-body">
					<%= render 'elements/subscribe_form' %>
				</div>
			</div>				
			</div>
		</div>
	</div>
</section>

<section id="footerwrap">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
    <br>
	<small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Yusuf Cahyo, Diandra Setiabudi</a></small>        
  </div>
</section>		