<% title("Hai!") %>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Futsalista</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Tentang</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Fitur</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontak</a>
                    </li>
                    <li>
                        <%= link_to "Blog", posts_path %>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <% if request.variant.include? :phone %>
        <header id="mobile">
    <% else %>
        <header id="desktop">
    <% end %>
        <div class="header-content">
            <div class="header-content-inner">
                <%= render 'layouts/messages' %>
                <h3>Futsalista</h3>
                <hr>
                <h1>Booking Futsal Court As Easy As 1, 2, 3</h1>
                <h5>finding available hours and connecting players</h5>
                <% if Rails.env.production? %>
                    <h5>We'll Contact You When It's Ready</h5>
                    <small>Simpan email kamu dan kami akan kabari ketika kamu sudah bisa mengakses Project Z</small>
                    <%= form_for(:subscriber) do |f| %>
                        <div class="input-group-subscribe">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <%= f.text_field :email, required: true, placeholder: "alamat email kamu" %>
                                <%= f.submit "Simpan Email", class: "btn btn-info btn-sm" %>
                            </div>
                        </div>
                    <% end %>             
                <% else %>
                    <br>
                    <%= link_to "Daftar", new_user_registration_path, class: "btn btn-success btn-xl page-scroll" %>
                    <%= link_to "Masuk", new_user_session_path, class: "btn btn-primary btn-xl page-scroll" %>
                <% end %>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="primary">
                    <h2 class="section-heading">Fitur</h3>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <span class="glyphicon glyphicon-saved bigger wow bounceIn text-primary" aria-hidden="true"></span>
                        <h4>Mudah</h4>
                        <p class="primary-color">
                            Lihat lapangan dan pesan untuk tanggal tertentu.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <span class="glyphicon glyphicon-star bigger wow bounceIn text-primary" data-wow-delay=".1s" aria-hidden="true"></span>
                        <h4>Waiting-List</h4>
                        <p class="primary-color">
                            Bila kamu berada di waiting list, kamu akan dikabari apabila ada pembatalan pesanan untuk lapangan yang kamu inginkan.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <span class="glyphicon glyphicon-queen bigger wow bounceIn text-primary" data-wow-delay=".2s" aria-hidden="true"></span>
                        <h4>Sparring</h4>
                        <p class="primary-color">
                            Kurang pemain atau ingin menguji skill kamu? Temukan lawan sparring di sini
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <div id="product-modal" class="modal fade">
        <div class="modal-dialog">
            <div id="inner-product-modal" class="modal-content"></div>
        </div>
    </div>

    <aside class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>30 hari lagi!</h2>
                <h4>Setelah rilis, kami akan kontak kamu via email apabila kamu mengisi kotak di bawah ini</h4>
                <%= form_for(:subscriber) do |f| %>
                    <div class="input-group-subscribe">
                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                            <%= f.text_field :email, required: true, placeholder: "isi alamat email kamu" %>
                            <%= f.submit "Simpan Email", class: "btn-success btn-sm wow tada" %>
                        </div>
                    </div>
                <% end %>
                <div class="row col-md-12">
                    <h4>Untuk sementara ini, silahkan kunjungi blog kami</h4>
                    <p><%= link_to "Kunjungi Blog Kami", posts_path, class: "btn btn-default btn-xl" %>  </p>                        
                </div>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
                    <hr class="primary">
                    <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
                </div>
            </div>
            <%= render '/elements/form_contact' %>
            <br>
        </div>
    </section>

</body>