<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Kapiten</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <%= link_to "Blog", root_url(subdomain: "blog") %>
            </li>
            <li>
              <%= link_to "Daftar", new_user_session_url(subdomain: "") %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Markas", user_root_url(subdomain: '') %>
              </li>
              <li>
                <%= link_to "Keluar", destroy_user_session_path, data:{method: :delete} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="inner cover centered">
        <h1 class="cover-heading">Cara berinvestasi properti yang nyaman, berdampak sosial, dan Halal.</h1>
        <div class="spacing"></div>
        <p class="lead">Kapiten adalah tempat dimana kamu bisa membantu sebuah keluarga memiliki rumah dengan berinvestasi menggunakan prinsip dan kontrak berbasis syariah. 
        <div class="spacing"></div>
        <p class="lead"><a class="btn btn-lg btn-info" href="#">Learn
        more</a></p>
      </div>

    </div>
  </div>
</div>

<%= render 'pages/customers' %>

<section id="reminder">
  <div class="container">
    <div class="section-heading text-center">
      <h1>Mari Bergabung</h1>
      <div class="section-divider"></div>
      <p>Membangun masa depan yang tentram bersama, rumah demi rumah</p>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 white" id="subcribe-prompt">
        <%= render 'elements/subscribe_form' %>
      </div>    
      <div class="col-md-12 white suggestions">
        <%= link_to about_us_url(subdomain: ''), class: "btn btn-white btn-round-lg" do %>
            <i class="fa fa-group fa-3x pull-left"></i>
            <span>Cek Tentang</span><br>
            <b>Kapiten</b>
        <% end %>
        <%= link_to root_url(subdomain: 'blog'), class: "btn btn-white btn-round-lg" do %>
            <i class="fa fa-newspaper-o fa-3x pull-left"></i>
            <span>Kunjungi Blog</span><br>
            <b>Kapiten</b>
        <% end %>
      </div>
  </div>
</section>

<section id="footerwrap" style="padding-top: 40px;padding-bottom: 40px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
  </div>
</section>
<%= render 'layouts/footer' %>