<% title("Hai!") %>
<div class="wrapper">
	<%= render 'layouts/navigation' %>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
						<%= render 'elements/phone_mockup' %>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<div class="content" id="key-message">
							<div class="pull-middle">
								<h1 class="page-header">
									Pesan lapangan futsal, tanpa repot
								</h1>
								<p class="lead">
									masuk, cek jadwal, booking, dan konfirmasi pembayaran uang muka. Tanpa perlu menelepon.
								</p>
								<br>
                <h5>Sedang dalam pengembangan!</h5>
                <small>Simpan email kamu dan kami akan kabari ketika kamu sudah bisa mengakses futsalHero</small>
								<div class="panel panel-default">
									<div class="panel-body">
										<%= render 'elements/subscribe_form' %>
									</div>
								</div>
							</div>              
						</div>
					</div>

				</div>
			</div>
		</header>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
						<%= render 'elements/phone_mockup' %>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="content">
							<div class="pull-middle">
								<h2 class="h1 page-header">Tentang Fitur</h2>
								<ul class="media-list">
									<li class="media">
										<a class="media-left" href="#">
											<span class="glyphicon glyphicon-pushpin icon text-success"></span>
										</a>
										<div class="media-body">
											<h3 class="media-heading">Online Booking</h3>
											<p>Cek jadwal yang telah dipesan di arena dan lapangan yang kamu minati kemudian lakukan reservasi</p>
										</div>
									</li>
									<li class="media">
										<a class="media-left" href="#">
											<span class="glyphicon glyphicon-sort icon text-success"></span>
										</a>
										<div class="media-body">
											<h3 class="media-heading">Waiting-List</h3>
											<p>Bila kamu berada di waiting list, kamu akan dikabari apabila ada pembatalan pesanan untuk lapangan yang kamu inginkan.</p>
										</div>
									</li>
									<li class="media">
										<a class="media-left" href="#">
											<span class="glyphicon glyphicon-credit-card icon text-success"></span>
										</a>
										<div class="media-body">
											<h3 class="media-heading">Bayar uang muka dengan mudah</h3>
											<p>Amankan reservasi kamu dengan membayar uang muka via transfer bank</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-justify">
						<div class="content">
								<div class="pull-middle">
										<h4><strong>Describe your product.</strong></h4>
										<p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
										<small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
								</div>
						</div>
					</div>
				  <div class="col-md-4 text-justify">
						<div class="content">
								<div class="pull-middle">
										<h4><strong>Describe your product.</strong></h4>
										<p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
										<small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
								</div>
						</div>
					</div>
				  <div class="col-md-4 text-justify">
						<div class="content">
								<div class="pull-middle">
										<h4><strong>Describe your product.</strong></h4>
										<p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
										<small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
								</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
                    <hr class="primary">
                    <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
                </div>
            </div>
            <%= render 'elements/form_contact' %>
            <br>
        </div>
    </section>		
		<footer class="footer text-center">
			<div class="container">
					<small>© Copyright 2015. Co-founded by: <a href="#">Galih Muhammad, Pamungkas Hendra, Yusuf Hakim</a></small>
			</div>
		</footer>
</div>