<% meta title: "Solusi Investasi Properti Secara Syariah", description: 'Dengan Kapiten kamu bisa membantu sebuah keluarga memiliki rumah dengan berinvestasi menggunakan prinsip dan kontrak berbasis syariah. ',
     keywords: 'Investasi properti syariah, Investasi syariah, Investasi properti, kontrak syariah' %>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">siKapiten</h3>

          <ul class="nav masthead-nav">
            <li class="">              
            </li>
            <li>
              <!-- <a class="btn btn-lg btn-info" href="#works">Learn more</a> -->
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Markas", user_root_url(subdomain: '') %>
              </li>
              <li>
                <%= link_to "Keluar", destroy_user_session_path, data:{method: :delete} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <%= render 'layouts/messages' %>
      </div>
      <div class="inner cover centered">
        <h1 class="cover-heading">Meningkatkan kesejahteraan bersama dengan <strong>investasi properti</strong></h1>
        <div class="spacing"></div>
        <p class="lead">Kapiten adalah tempat dimana kamu bisa membantu sebuah keluarga memiliki rumah dengan berinvestasi menggunakan prinsip dan kontrak berbasis syariah. 
        <div class="spacing"></div>
        <!-- <p class="lead"><a class="btn btn-lg btn-info" href="#works">Telusuri</a></p> -->
      </div>

    </div>
  </div>
</div>
<section class="section home-tour works" id="screens works">
  <div class="grid">
    <div class="section-heading text-center">
      <h2 class="section-title">Manfaat</h2>
      <h1 class="section-headline">Beberapa alasan untuk memilih berinvestasi di platform Kapiten</h1>
    </div>
    <div class="row tour-items">
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><%= icon('star', class: 'fa-4x') %></span>
        
        <!-- FEATURE TITLE -->
        <h5>Halal</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>Berdasarkan prinsip dan metode yang sesuai syariah Islam dan kontrak yang jelas.</p>
        
      </div>
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><%= icon('gift', class: 'fa-4x') %></span>
        
        <!-- FEATURE TITLE -->
        <h5>Berdampak Sosial</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>Selain mendapatkan keuntungan, investasimu membantu sebuah keluarga mempunyai rumah untuk pertama kalinya.</p>
        
      </div>
      <div class="benefit-item col-md-4 col-sm-12">                    
        <!-- FEATURE ICON -->
        <span><%= icon('hotel', class: 'fa-4x') %></span>
        
        <!-- FEATURE TITLE -->
        <h5>Nyaman</h5>
        
        <!-- FEATURE DESCRIPTION -->
        <p>We'll handle everything, dari kontrak, serah terima, dan lain-lain.</p>
        
      </div>      
      <div class="benefit-item col-md-6 col-md-offset-3">
        <%= link_to "Telusuri", funding_job_url(subdomain: ''), class: 'btn btn-lg btn-primary' %>      
      </div>
    </div>
  </div>
</section>

<%= render 'pages/customers' %>
<!-- render sub jobs here when completed -->
<%= render 'pages/reminder' %>

<%= render 'layouts/disclaimer' %>

<section id="footerwrap" style="padding-top: 40px;padding-bottom: 40px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
  </div>
</section>

<%= render 'layouts/footer' %>