<% meta title: "Solusi Investasi Properti Secara Syariah", description: 'Dengan Kapiten kamu bisa membantu sebuah keluarga memiliki rumah dengan berinvestasi menggunakan prinsip dan kontrak berbasis syariah. ',
     keywords: 'Investasi properti syariah, Investasi syariah, Investasi properti, kontrak syariah' %>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">siKapiten</h3>

          <ul class="nav masthead-nav">
            <li class="">              
            </li>
            <li>
              <!-- <a class="btn btn-lg btn-info" href="#works">Learn more</a> -->
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Markas", user_root_url(subdomain: '') %>
              </li>
              <li>
                <%= link_to "Keluar", destroy_user_session_path, data:{method: :delete} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <%= render 'layouts/messages' %>
      </div>
      <div class="inner cover centered">
        <h1 class="cover-heading">Investasi properti <strong> yang halal, mudah, dan bermanfaat</strong></h1>
        <div class="spacing"></div>
        <p class="lead">Sikapiten adalah komunitas yang bertujuan untuk membantu keluarga memiliki rumah melalui aktifitas investasi.</p>
        <div class="spacing"></div>
      </div>

    </div>
  </div>
</div>
<section class="explaining-kapiten padded centered extra-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="prose">
          <h2 class="fh5co-lead">Berjamaah dalam bermuamalah</h2>
          <h5 class="fh5co-sub-lead">Keuntungan Investasi di Sikapiten</h5>
        </div>
      </div>
    </div>
    <div class="spacing extra-bottom-margin"></div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="row center-xs around-xs">
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('//res.cloudinary.com/instilla/image/upload/v1461390836/svg/paper-pin.svg') %>
            <div class="illustrated-point-description">
              <h4>Sesuai Syariah.</h4>
              <p>Menggunakan Musyarakah sebagai akad dan mengikuti standar yang ditetapkan oleh AAOIFI.</p>
            </div>
          </li>
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('//res.cloudinary.com/instilla/image/upload/v1461391107/svg/couch.svg') %>
            <div class="illustrated-point-description">
              <h4>Mudah</h4>
              <p>We'll handle everything, dari kontrak, serah terima, dan lain-lain.</p>
            </div>
          </li>
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('http://res.cloudinary.com/instilla/image/upload/v1461390717/svg/places-taj-mahal.svg') %>
            <div class="illustrated-point-description">
              <h4>Bermanfaat</h4>
              <p>Mendapat keuntungan sekaligus membantu sesama menjauhi riba</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/customers' %>
<section class="explaining-kapiten intro padded centered extra-bottom-margin">
  <div class="container">
    <div class="prose">
      <h2>Bahu-membahu menjauhi riba</h2>
      <h1 class="highlight">Pendaftaran untuk pengajuan proposal sudah dibuka</h1>
    </div>
    <div class="spacing"></div>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Telusuri →", '/how_it_works', class: 'btn btn-lg btn-primary' %>
        <%= link_to "Telusuri →", '/how_it_works', class: 'btn btn-lg btn-primary' %>
      </div> 
    </div>
  </div>
</section>
<!-- render sub jobs here when completed -->

<section id="footerwrap" style="padding-top: 40px;padding-bottom: 40px;">
  <div class="container">
    <%= render 'layouts/disclaimer' %>
  </div>
</section>

<style type="text/css">
</style>