<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Kapiten</h3>

          <ul class="nav masthead-nav">
            <li class="">
              
            </li>
            <li>
              <a class="btn btn-lg btn-info" href="#works">Learn more</a>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Markas", user_root_url(subdomain: '') %>
              </li>
              <li>
                <%= link_to "Keluar", destroy_user_session_path, data:{method: :delete} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="inner cover centered">
        <h1 class="cover-heading">Meningkatkan kesejahteraan bersama dengan gotong royong</h1>
        <div class="spacing"></div>
        <p class="lead">Kapiten adalah tempat dimana kamu bisa membantu sebuah keluarga memiliki rumah dengan berinvestasi menggunakan prinsip dan kontrak berbasis syariah. 
        <div class="spacing"></div>
        <!-- <p class="lead"><a class="btn btn-lg btn-info" href="#works">Telusuri</a></p> -->
      </div>

    </div>
  </div>
</div>

<%= render 'pages/customers' %>
<!-- render sub jobs here when completed -->
<%= render 'pages/reminder' %>

<!-- <section id="footerwrap" style="padding-top: 40px;padding-bottom: 40px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Ingin tahu lebih lanjut?</h2>
            <hr class="primary">
            <p>Jangan ragu untuk menghubungi kami dengan mengisi form di bawah ini </p>
        </div>
    </div>
    <%= render 'elements/form_contact' %>
  </div>
</section> -->
<%= render 'layouts/footer' %>