<div class="tab-pane fade in active" id="main">
  <div class="container">
    <h2><i class="glyphicon glyphicon-flag"></i> <%= (@venue.name) %></h2>  

  <div class="row">
  <div class="col-md-4">
    <div class="row login_box">
      <div class="col-md-12 col-xs-12 white" align="center">
        <h1><%= @venue.name %></h1>
        <%= render partial: 'relationships/follow_form', locals: { followed: @venue } %>
        <span><%= @venue.address %></span>
      </div>
        <div class="col-md-6 col-xs-6 follow line white" align="center">
            <h3>
                 <%= @venue.courts.count %> <br/> <span>LAPANGAN</span>
            </h3>
        </div>
        <div class="col-md-6 col-xs-6 follow line white" align="center">
          <h3>
               <%= @venue.average_price %> <br/> <span>TARIF/Jam</span>
          </h3>
        </div>
        
        <div class="col-md-12 col-xs-12 login_control">
          <%= render partial: 'elements/clear_search_button', locals: { path: venue_path(@venue) } %>
          <%= render 'reservations/search_form' %>
        </div>
    </div>
  </div>
  <div class="well col-md-8">
    
      <% if search_params_exist? %>

        <%= render 'reservations/reservation_prompt' %>

      <% else %> 
      <h3>Pemesanan 7 hari ke depan</h3>
      <div class="panel-group" id="court-accordion" role="tablist" aria-multiselectable="false">
        <% @court_group.each_with_index do |(court, bookings), index| %>
          <div class="panel panel-primary">
            <a data-toggle="collapse" data-parent="#court-accordion" href="#collapse<%= court.id %>" aria-expanded="false" aria-controls="collapse<%= court.id %>">
              <div class="panel-heading" role="tab" id="court-<%= court.id %>">
                <h5 class="panel-title">
                  <%= court.name %>
                <span class="badge"><i class="fa fa-chevron-down"></i></span>                        
                </h5>
                <span class="pull-right badge"id="report">
                  <%= bookings.count %> Pesanan
                </span>
              </div>
            </a>
            <div id="collapse<%= court.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="court-<%= court.id %>">
              <div class="panel-body reservation">
              <%= render partial: 'reservations/reservations', locals: { collection: bookings } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    

  </div>

  </div>        

  </div>
</div>