<%= search_form_for @ven_search, url: user_root_path, builder: SimpleForm::FormBuilder do |f| %>

	<div class="field">
		<%= f.input :name_cont, as: :string, class: "form-control", label: "Nama Arena" %>
	</div>
	<div class="field">
		<%= f.input :province_eq, collection: province_lists,  class: "form-control", label: "Provinsi", html: { index: nil } %>
	</div>
	<div class="field">
		<%= f.input :address_cont, as: :string, class: "form-control", label: "Alamat" %>
	</div>
	<br>
    <div class="actions" align="center">
    	<%= render partial: 'elements/clear_search_button', locals: { path: user_root_path } %>
    	<%= f.submit "Cari", class: "btn btn-primary" %>
    </div>            

<% end %>
<hr>