
<ul>
  <h3>Uang Muka</h3>
  <li>Penerapan: <%= @firm.settings(:down_payment).state %></li>
  <li>Besaran: <%= @firm.settings(:down_payment).percentage %> %</li>
  <li>Tenggat Pembayaran: <%= @firm.settings(:down_payment).deadline %></li>
</ul>

<ul>
  <h3>Otomasi</h3>
  <li>Konfirmasi: <%= @firm.settings(:auto_confirmation).state %></li>
  <li>Promosi: <%= @firm.settings(:auto_promo).state %></li>
</ul>