<div class="v-card">
	<!-- Header -->
	<header>
		<ul class="list-inline">
			<li class="active"><a href="#front" data-toggle="tab">Sekilas</a></li>
			<li class=""><a href="#confirmed" data-toggle="tab">Terkonfirmasi</a></li>
			<li class=""><a href="#pending" data-toggle="tab">Daftar Tunggu</a></li>
			<li class=""><a href="#fee" data-toggle="tab">Tarif</a></li>
		</ul>
	</header>
	<!-- tab Content -->
	<div class="tab-content">

		<div class="tab-pane active in" id="front">
			<div class="education">
				<h4><i class="fa fa-folder color"></i> Sekilas</h4><hr>
				<div class="row">

					<div class="col-md-12 col-sm-12">
						<div class="education-item">
							<h4>Reservasi Tercatat </h4>

							<h5>
								Terkonfirmasi 
								<span class="label label-primary"><%= @confirmed.count %></span>

								Menunggu Konfirmasi
								<span class="label label-primary" id="paid"><%= @waiting.count %></span>

								Daftar Tunggu
								<span class="label label-primary"><%= @pending.count %></span>
							</h5>

						</div>
						<hr>
					</div>
					<div class="col-md-12 col-sm-12">
						<h4>Menunggu Konfirmasi </h4>
						<%= render partial: 'elements/booking_calendar', locals: { collection: @waiting } %>  
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="confirmed">
			<%= render partial: 'elements/booking_calendar', locals: { collection: @confirmed } %>       
		</div>
		<div class="tab-pane fade" id="fee">
			<div class="row">
			<div class="col-sm-12">
				<div class="education-item">
					<h4>Tarif </h4>

					<% venue.courts.each do |court| %>
						<%= render partial: 'biz/courts/preferences', locals: { court: court, venue: venue } %>
					<% end %>

				</div>
				<hr>
			</div>						
			</div>
		</div>		
		<div class="tab-pane fade" id="pending">
			<%= render partial: 'elements/booking_calendar', locals: { collection: @pending } %>       
		</div>



	</div>
	
</div>  