<% title("Langganan") %>

<h1>Halaman Akun Langganan</h1><hr>

	<div class="col-sm-12">
	 <div class="profile">
        <div class="col-sm-12">
            <h2><%= @subscription.firm.name %></h2>
            <p><strong>Status: </strong> <%= (@subscription.state.titleize) %></p>
            <p><strong>Jenis Paket: </strong>
                <span class="tags"><%= @subscription.category %></span> 
            </p>
        </div>
        <div class="col-xs-12 divider text-center">
            <div class="col-xs-12 col-sm-6 emphasis">
                <h3 id="next-bill"><strong>Rp <%= @subscription.current_bill %></strong></h3>
                <p><small>Tagihan Selanjutnya</small></p>
            </div>
            <div class="col-xs-12 col-sm-6 emphasis">
                <h3 id="next-deadline"><strong> <%= @subscription.end_date %></strong></h3>
                <p><small>Pembayaran Selanjutnya</small></p>
                <%= link_to "Catat Pembayaran", new_biz_payment_path, class: "btn btn-success btn-block" %>
            </div>            
        </div>

	 </div>                 
	</div>	

  <div class="col-sm-12">
    <div class="panel report panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">
          Riwayat Pembayaran Tagihan
        </h3>
      </div>   
        <% if @subscription.payments.count == 0 %>
        	<h5 class="text-center">Belum Ada Pembayaran</h5>
        <% else %>    
        
        <ul class="list-group">
          <%= render partial: 'biz/payments/payment', collection: @subscription.payments %>
         </ul>

       <% end %>
    </div>
  </div>