<% if defined?(zoomed) && zoomed %>
<div class="panel panel-default zoomed" id="panel-image">
<% else %>
<div class="panel panel-default" id="panel-image">
<% end %>
    <div class="panel-heading">
        <h3 class="panel-title"><%= document.name %> | <%= document.state_machine.current_state %></h3>
    </div>
    <div class="panel-image hide-panel-body">
        <% if defined?(thumbnail) && thumbnail %>
		    <%= cl_image_tag(document.public_id, cloudinary_thumbnail_options ) %>
        <% elsif defined?(zoomed) && zoomed %>
            <%= cl_image_tag(document.public_id, cloudinary_zoomed_options ) %>
        <% end %>
    </div>
    <div class="panel-footer text-center">
        <% if @admin %>
            <%= link_to cl_private_download_url("my_private_image", :jpg, :attachment => true) do %>
                <span class="glyphicon glyphicon-download"></span>
            <% end %>
            <%= link_to admin_document_path(document), remote: true do %>
                <span class="glyphicon glyphicon-zoom-in"></span>
            <% end %>
            <% if defined?(checking) && checking %>
                <%= render 'admin/documents/checking' %>
            <% end %>
        <% else %>
            <%= link_to document_path(document), remote: true do %>
                <span class="glyphicon glyphicon-zoom-in"></span>
            <% end %>        
            <%= link_to edit_document_path(document) do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
        <% end %>
        <%= link_to document_path(document), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan dokumen'} do %>
            <span class="glyphicon glyphicon-trash reset-link"></span>
        <% end %>
    </div>
</div>