<ul class="document-listing" style="padding-left: 0px;">
  <li class="centered grey">
    <h4><%= "Berkas Pengajuan" %></h4>
    <small>Unggah dokumen untuk meneruskan proses pengajuanmu</small>
  </li> 
  <% if @documents.present? %>  
    <% @documents.each_with_index do |doc, index| %>
      <li class="">
        <div class="row listing-container">
        <div class="col-md-4 left-detail">
          <div class="s-grid-inner">
            <%= doc.category %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="s-grid-outer">
            <div class="s-grid-inner">
              <div class="col-xs-8" style="padding-left: 0px;">
                <%= link_to doc.ticker, document_path(doc) %>
                <p class="listing-data">Last modified was <%= time_ago_in_words(doc.updated_at) %> ago</p>
              </div>
              <div class="col-xs-4 listing-actions float-right">
              <%= link_to edit_document_path(doc), class: "btn btn-info btn-xs" do %>
                <i class="fa fa-pencil"></i> Edit
              <% end %>                   
              </div>
            </div>
          </div>
        </div>
        </div>  
      </li>
    <% end %>
    <li class="centered grey">
      <p>
        <%= link_to "Tambah Dokumen", edit_user_path(current_user, upload_document: true), class: "btn btn-primary" %>
      </p>
    </li>    
  <% else %>
  <% end %>
    <li class="centered grey">
      <h1><i class="ion ion-compose"></i></h1>
      <p>
        <%= link_to "Unggah Berkas", edit_user_path(current_user, upload_document: true), class: "btn btn-primary" %>
      </p>
    </li>  
</ul>