<% if defined?(zoomed) && zoomed %>
<div class="panel panel-default zoomed" id="panel-image">
<% else %>
<div class="panel panel-default" id="panel-image">
<% end %>
    <div class="panel-heading">
        <small><%= document.ticker %></small>
    </div>
    <div class="panel-image hide-panel-body">
        <% if defined?(thumbnail) && thumbnail %>
		    <%= cl_image_tag(document.public_id, cloudinary_thumbnail_options ) %>
        <% elsif defined?(zoomed) && zoomed %>
            <%= cl_image_tag(document.public_id, cloudinary_zoomed_options ) %>
        <% end %>
    </div>
    <div class="panel-footer text-center">
        <span class="badge"><%= document.state %></span>
        <% if @admin %>
            <%= link_to cl_private_download_url("my_private_image", :jpg, :attachment => true) do %>
                <span class="glyphicon glyphicon-download"></span>
            <% end %>
            <%= link_to admin_document_path(document), remote: true do %>
                <span class="glyphicon glyphicon-zoom-in"></span>
            <% end %>
            <%= link_to edit_document_path(document) do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>            
            <% if defined?(checking) && checking %>
                <%= render 'admin/documents/checking' %>
            <% end %>
        <% else %>
            <% unless defined?(zoomed) && zoomed %>
                <%= link_to document_path(document), remote: true, class: 'zoom-link' do %>
                    <span class="glyphicon glyphicon-zoom-in"></span>
                <% end %>
            <% end %>
        <% end %>
        <% unless defined?(zoomed) && zoomed %>
            <%= link_to document_path(document), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan dokumen'}, class: 'delete-link' do %>
                <span class="glyphicon glyphicon-trash reset-link"></span>
            <% end %>
        <% end %>
    </div>
</div>