<div class="col-sm-4">
  <% if defined?(types) %>
  <div class="" style="max-height: 300px;overflow: auto;">
    <ul class="list-group checked-list-box hidden-xs">
      <li class="list-group-item">
        <strong>Daftar Jenis Dokumen</strong>
      </li>
      <% types.each do |doc| %>
        <li class="list-group-item">
          <small><%= doc %></small>  <%= document_checklist(doc) %>
        </li>
      <% end %>
    </ul>
    <div class="visible-xs">
      <% types.each do |doc| %>
        <span class="label label-primary" style="margin-right: 5px;">
          <%= doc %>  <%= document_checklist(doc) %>
        </span>
      <% end %>
    </div>    
  </div>
  <% end %>
</div>
<div class="col-sm-8">
  <div id="direct_upload">
    <h3>Unggah Bukti <%= category.titleize %></h3>
    <p>Format yang diterima adalah .jpg, .png, dan .pdf. Bisa dengan mengklik tombol 'Unggah' atau dengan drag dan drop ke dalam area bergaris</p>
    <%= form_for(@document) do |f| %>
      <% if defined?(edit) && edit %>
      <div class="form_line">
        <%= f.label :image_id, "Dokumen:" %>
        <div class="form_controls">
          <%= render partial: "documents/document", locals: { document: @document, thumbnail: true } %>
        </div>
      </div>      
      <% else %>
      <div class="form_line">
        <%= f.label :image_id, "Dokumen:" %>
        <div class="form_controls">
          <div class="upload_button_holder">
            <%= link_to("Unggah", "#", :class => "upload_button") %>
            <%= f.cl_image_upload :image_id, upload_preset: "ftisnjlh", :return_delete_token=>true, class: "cloudinary-fileupload" %>
          </div>
          <span class="status"></span>
        </div>
      </div>
      <% end %>
      <div class="form_line">
        <%= f.label :doc_type, "Jenis Dokumen:" %>
        <div class="form_controls">
          <%= f.select :doc_type, types, selected: @document.doc_type, prompt: "Pilih", required: true %>
        </div>
      </div>    
      <div class="form_line">
        <div class="form_controls">
          <div class="preview"></div>
        </div>
      </div>
      <div class="form_line">
        <div class="form_controls">
          <%= f.submit "Simpan", class: "btn btn-outlined btn-theme" %>
          <% if @error %><span class="error"><%= @error %></span><% end %>
        </div>
      </div>
      <%= f.hidden_field :bytes %>
      <%= f.hidden_field :public_id %>
      <%= f.hidden_field :category, value: category, readonly: true, required: true %>
    <% end %>
  </div>
</div>


<div id="info"></div>

<script>
  $(document).ready(function() {
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({ 
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        //maxFileSize: 20000000, // 20MB
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        NProgress.done(true);
        $("#document_bytes").val(data.result.bytes);
        $("#document_public_id").val(data.result.public_id);
        $(".status").text("");
        var preview = $(".preview").html('');
        $.cloudinary.image(data.result.public_id, {
          format: 'jpg', width: 50, height: 50, crop: "fit"
        }).appendTo(preview);

        $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          html('&times;').
          appendTo(preview).
          click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('');
              $('#info').html('');
              $("#photo_bytes").val('');
              $('input[name="document[image_id]"]').remove();
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
      });
    });
    
    function view_upload_details(upload) {
      // Build an html table out of the upload object
      var rows = [];
      $.each(upload, function(k,v){
        rows.push(
          $("<tr>")
            .append($("<td>").text(k))
            .append($("<td>").text(JSON.stringify(v))));
      });
      $("#info").html(
        $("<div class=\"upload_details\">")
          .append("<h2>Upload metadata:</h2>")
          .append($("<table>").append(rows)));
    }
</script>
