<% meta title: "Unggah Dokumen" %>

<div class="portlet portlet-bordered">

<!-- Nav tabs -->
<div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Identitas</a></li>
        <li role="presentation"><a href="#earning" aria-controls="earning" role="tab" data-toggle="tab">Penghasilan</a></li>
        <li role="presentation"><a href="#expense" aria-controls="expense" role="tab" data-toggle="tab">Pengeluaran</a></li>
        <li role="presentation"><a href="#collateral" aria-controls="collateral" role="tab" data-toggle="tab">Kepemilikan</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="identity">
        <%= render partial: 'form', locals: { category: "identitas", types: identity_docs } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="earning">
      	<%= render partial: 'form', locals: { category: "penghasilan", types: earning_docs } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="expense">
      	<%= render partial: 'form', locals: { category: "pengeluaran", types: expense_docs } %>
      </div>
      <div role="tabpanel" class="tab-pane" id="collateral">
      	<%= render partial: 'form', locals: { category: "kepemilikan", types: collateral_docs } %>
      </div>
    </div>
</div>


  	<strong>
  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
  		<%= link_to "Kembali ke Beranda", user_root_path %>
  	</strong>
  	
  </div>
