<div class="court-pref">
	<div class="col-md-3">
		<%= court.name %>
    <span>
      <%= link_to "Atur", preferences_biz_venue_court_path(venue, court), remote: true, id: "pref-court-#{court.id}" %>
    </span>									
	</div>
	<div class="col-md-9">
		<h5>
			Kenaikan Menurut Hari<br>
			<span class="label label-success">
				status: <%= court.settings(:primeday).state %>
			</span>
			<span class="label label-success">
				kapan: <%= court.settings(:primeday).active %>
			</span>
			<span class="label label-success">
				besaran: +<%= court.settings(:primeday).increase %>
			</span>
		</h5>

		<h5>
			Kenaikan Menurut Jam<br>
			<span class="label label-success">
				status: <%= court.settings(:primetime).state %>
			</span>
			<span class="label label-success">
				kapan: <%= court.settings(:primetime).start_at %>-<%= court.settings(:primetime).end_at %>
			</span>
			<span class="label label-success">
				besaran: +<%= court.settings(:primetime).increase %>
			</span>
		</h5>											
	</div>

</div>