
<div class="col-md-12">
  <%= simple_form_for([:admin, @post], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    <%= f.input :meta_description, class: "form-control monospaced-control", placeholder: "singkat, padat, jelas" %>

    <div id="direct_upload">
      <p>Format yang diterima adalah .jpg, .png, dan .pdf.</p>
      <div class="form_line">
        <%= f.label :header, "Gambar Header:" %>
        <div class="form_controls">
          <div class="upload_button_holder">
            <%= link_to("Unggah", "#", :class => "upload_button") %>
            <%= f.cl_image_upload :image_id, upload_preset: "d5vmq2xa", :return_delete_token=>true, class: "cloudinary-fileupload" %>
            <%= f.hidden_field :header %>
          </div>
          <span class="status"></span>
        </div>
      </div>
    </div>

    <%= f.input :topic, class: "form-control monospaced-control", placeholder: "Topic of the post" %>

    <%= f.input :tags_text, class: "form-control monospaced-control", placeholder: "separated by comma" %>

    <%= f.input :draft, as: :boolean %>
    
    <% if @post.header.present? %>
      <p>Klik Box Untuk Menghapus</p>
      <%= cl_image_tag(@post.header, { transformation: 'media_lib_thumb', format: :jpg} ) %>
      <%= link_to "Hapus", remove_header_admin_post_path(@post), method: :put %>
    <% end %>

    <%= f.input :content_md, as: :text, input_html: {rows: 40}, class: "form-control monospaced-control", placeholder: "Post content (Markdown format)..." %>
  </div>
  <div class="form-actions">
    <%= f.submit "Simpan", class: "btn btn-outlined btn-black" %>
  </div>


<% end %>
  
</div>
<script>
  $(document).ready(function() {
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({ 
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        //maxFileSize: 20000000, // 20MB
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        NProgress.done(true);
        $("#post_header").val(data.result.public_id);
        $(".status").text("");
        var preview = $(".preview").html('');
        $.cloudinary.image(data.result.public_id, {
          format: 'jpg', width: 50, height: 50, crop: "fit"
        }).appendTo(preview);

        $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          html('&times;').
          appendTo(preview).
          click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('');
              $('#info').html('');
              $("#photo_bytes").val('');
              $('input[name="post[meta_image]"]').remove();
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
      });
    });
    
    function view_upload_details(upload) {
      // Build an html table out of the upload object
      var rows = [];
      $.each(upload, function(k,v){
        rows.push(
          $("<tr>")
            .append($("<td>").text(k))
            .append($("<td>").text(JSON.stringify(v))));
      });
      $("#info").html(
        $("<div class=\"upload_details\">")
          .append("<h2>Upload metadata:</h2>")
          .append($("<table>").append(rows)));
    }
</script>