<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<div class="col-md-9">
<%= form_for [:admin, @post], role: "form" do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :title, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_description, "Deskripsi Artikel" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :meta_description, class: "form-control monospaced-control", placeholder: "singkat, padat, jelas" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_image, "Lokasi Online Gambar Header" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :meta_image, class: "form-control monospaced-control", placeholder: "url gambar", required: false %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :topic, "Topic" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :topic, class: "form-control monospaced-control", placeholder: "Topic of the post" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :tags_text, "Tags Text" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :tags_text, class: "form-control monospaced-control", placeholder: "separated by comma" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-12">
      <%= f.check_box :draft %> <%= f.label :draft, "draft" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :updated_at, "Published date" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.datetime_select :updated_at, class: "form-control" %>
    </div>
  </div>
</div>

<!-- <div class="form-group">
  <%= f.label :header, "Upload Header Image" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.attachinary_file_field :header, :cloudinary => { :transformation => {:width=>750, :height=>563, :crop=>:limit } } %>
    </div>
  </div>
</div>
 -->
<!-- <div class="form-group">
  <%= f.label :delete_image, "Klik Box Untuk Menghapus" %>
  <div class="row">
    <div class="col-xs-12">
    <% if @post.header.present? %>
      <%= cl_image_tag(@post.header.path, { :width => 300, :height => 150, :crop => :scale } ) %>
      <%= f.check_box :delete_image, checked: false %>
    <% end %>
    </div>
  </div>
</div>
 -->
<div class="form-group">
  <%= f.label :content_md, "Content" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_area :content_md, rows: 40, class: "form-control monospaced-control", placeholder: "Post content (Markdown format)..." %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 padded">
    <button class='btn btn-outlined btn-black'>
      <i class='fa fa-plus-square'></i> Simpan
    </button> - <%= link_to "Cancel", admin_posts_path %>
  </div>
</div>


<% end %>
  
</div>