<% title("Published posts") %>
<h3 class="page-title">Posts <small>Published</small></h3>
<p><%= link_to "Back to Admin", admin_root_path %></p>
<hr/>
<div class="row">
  <div class="col-sm-4">Published: <%= link_to "#{pluralize(@published_post_count, 'post')}", admin_posts_path %></div>
  <div class="col-sm-4">Drafts: <%= link_to "#{pluralize(@draft_post_count, 'draft')}", admin_posts_drafts_path %></div>
  <div class="col-sm-4"><%= link_to "New post", new_admin_post_path %></div>
</div>
<p class="pagination-summary"><%= page_entries_info @posts %></p>
<%= link_to "Ke Halaman Blog", root_url(subdomain: 'blog') %>
<hr/>

<div id="posts-list">
<% @posts.each do |post| %>
  <%= render partial: 'blog/posts/post', locals: { post: post } %>
  <div class="spacing"></div>
<% end %>
</div>

<div class="pagination-control text-center">
  <%= paginate @posts %>
</div>	
