<p class="lead text-center">
	Hasil Pencarian
</p><hr>
<p>
	<%= @reservations.count %> pesanan terdaftar pada <%= @rev_search.date_reserved_eq %>, antara jam
	<%= @rev_search.start_gteq %>-<%= @rev_search.start_lteq %>, silahkan isi formulir di bawah untuk memesan atau lakukan pencarian kembali.
</p>
<%= render partial: 'reservations/form' %>

<%= render partial: 'reservations/reservations', locals: { collection: @reservations, type: type } unless @reservations.empty? %>