<% if defined?(type) && type == 'firm' %>
  <li class="ticket-item">
    <div class="row">
      <div class="ticket-user col-md-5 col-sm-12">
        <span class="user-name"><%= reservation.date_reserved %></span>
        <span class="user-company"><i class="fa fa-clock-o"></i><%= reservation.start %> - <%= reservation.finish %></span>
      </div>
      <div class="ticket-time  col-md-4 col-sm-6 col-xs-12">
        <div class="divider hidden-md hidden-sm hidden-xs"></div>
        <i class="glyphicon glyphicon-pencil"></i>
        <span class="time"><%= time_ago_in_words(reservation.created_at) %> ago</span>
      </div>
      <div class="ticket-type  col-md-3 col-sm-6 col-xs-12">
        <span class="divider hidden-xs"></span>
        <span class="type"><%= reservation.court.venue.name %>: <%= reservation.court.name %></span>
      </div>
      <div class="ticket-state bg-palegreen">
        <i class="fa fa-check"></i>
      </div>
    </div>
  </li>
<% else %>
  <li class="ticket-item">
    <div class="row">
      <div class="ticket-user col-md-5 col-sm-12">
        <span class="user-name"><%= reservation.date_reserved %></span>
        <span class="user-company"><i class="fa fa-clock-o"></i><%= reservation.start %> - <%= reservation.finish %></span>
      </div>
      <div class="ticket-time  col-md-4 col-sm-6 col-xs-12">
        <div class="divider hidden-md hidden-sm hidden-xs"></div>
        <i class="glyphicon glyphicon-pencil"></i>
        <span><%= reservation.court.venue.name %></span>
        <span class="time"><%= reservation.court.name %></span>
      </div>
      <div class="ticket-type  col-md-3 col-sm-6 col-xs-12">
        <span class="divider hidden-xs"></span>
        <span class="type"><%= reservation.state_machine.current_state %></span>
        <%= link_to "Konfirmasi", confirm_reservation_path(reservation), method: :put if reservation.first_in_line? %>
      </div>
      <div class="ticket-state bg-palegreen">
        <i class="fa fa-check"></i>
      </div>
    </div>
  </li>
<% end %>