<%= search_form_for @rev_search, url: venue_path(@venue) do |f| %>

  <div class="field">
    <%= f.label :date_reserved_eq, "Tanggal" %><br>
    <%= f.date_select :date_reserved_eq, label: "Tanggal" %>
  </div>

  <div class="field">
    Tentukan Jam Mulai?
    <%= check_box_tag "show-start-filter" %> 
  </div>
  <div class="field" id="start-filter">
    <%= f.label :start_gteq, label: "Jam" %><br>
    <%= f.time_select :start_gteq, { minute_step: 60 }, include_blank: true %>
    <%= f.time_select :start_lteq, { minute_step: 60 }, include_blank: true %>    
  </div>
  
  <div class="field">
    Tentukan Lapangan?
    <%= check_box_tag "show-court-filter" %> 
  </div>

  <div class="field" id="court-filter">
    <%= f.label :court_id_eq, "Lapangan" %><br>
    <%= f.text_field :court_id_eq %>
  </div>  
  <div class="actions">
    <%= f.submit "Cari", class: "btn btn-primary" %>
  </div>
<% end %>