<%= search_form_for @rev_search, url: venue_path(@venue), builder: SimpleForm::FormBuilder do |f| %>

  <div class="field">
    <%= f.input :date_reserved_eq, :required => true, :input_html => { "data-behaviour" => "datepicker" }, label: "Tanggal" %>
  </div>

  <div class="field">
    Tentukan Rentang Jam?
    <%= check_box_tag "show-start-filter" %> 
  </div>
  <div class="field" id="start-filter">
    <%= f.time_select :start_gteq, { minute_step: 60 }, include_blank: true %> -
    <%= f.time_select :start_lteq, { minute_step: 60 }, include_blank: true %>    
  </div>
  
  <div class="field">
    Tentukan Lapangan?
    <%= check_box_tag "show-court-filter" %> 
  </div>

  <div class="field" id="court-filter">
    <%= f.input :court_id_eq, collections: @venue.courts.map{ |c| [c.name, c.id] }, label: "Lapangan" %>
  </div>  
  <div class="actions">
    <%= f.submit "Cari", class: "btn btn-primary" %>
  </div>
<% end %>