<div class="quantumCard bid-card">
  <div class="quantumCardAccent"></div>

  <div class="quantumCardContent">
    <div class="row">
      <div class="col-xs-9" style="padding-top: 10px;">
        <h5>#<%= bid.ticker %></h5>
        <h3 class="bid-value"><%= idr_money(bid.contribution) %></h3>
        <p><span class="bid-volume"><%= bid.volume %></span> lembar for #<%= bid.tender.ticker %> </small></p>
      </div>
      <div class="col-xs-3">
        <div class="social">
          <ul>
            <li style="width:33%;">
              <%= link_to tender_path(bid.tender) do %>
                <span class="fa fa-search-plus"></span>
              <% end %>
            </li>
            <li style="width:34%;">
              <%= link_to edit_tender_bid_path(bid.tender, bid), remote: true do %>
                <span class="fa fa-pencil"></span>
              <% end %>
            </li>
            <li style="width:34%;">
            </li>
          </ul>
        </div>
      </div>
    </div>          
  </div>
</div>