<section class="widget card">
    <% unless @display_it %>
        <div class="widget-controls">
            <a href="#"><i class="fa fa-refresh"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    <% end %>
    <div class="widget-body">
        <div class="widget-middle-overflow windget-padding-md clearfix bg-danger text-white">
            <h3 class="mt-lg mb-lg">#<%= bid.ticker %> - <span class="fw-semi-bold"><%= idr_money(bid.contribution) %></span></h3>
            <ul class="tags text-white pull-right">
                <li><a href="#"><%= bid.volume %> lembar</a></li>
            </ul>
        </div>
        <p class="text-light fs-mini mt-sm">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
            thoughts, ideas. </p>
    </div>
    <footer class="bg-body-light">
        <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li>
                <%= link_to bid.tender.ticker, tender_path(bid.tender) %>
            </li>
            <li><%= link_to "Edit", edit_tender_path(bid.tender) %></li>
            <li>
                <%= link_to "Hapus", tender_bid_path(bid.tender, bid), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan tawaran', toggle: 'tooltip', placement: 'top', original_title: 'Hapus'} %>
            </li>
        </ul>
    </footer>
</section>