<div class="timeline-panel debits">
  <div class="row">
    <div class="col-md-8 col-sm-7 col-xs-7" style="border-right: 1px solid #d4d4d4;">
        <h3 class="coral"><%= bid.ticker %></span></h3>
        <h4 class=""><%= idr_money(bid.contribution) %><small> <%= bid.volume %> lembar </small></h4>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-5">
        <div class="list-wing">
            <ul class="timeline-panel-ul">
                <li><h5> <%= link_to bid.tender.ticker, tender_path(bid.tender) %></h5></li>
                <li><i class="ion ion-person"></i> <%= bid.tender.starter.name %></li>
                <li><i class="ion ion-pricetag"></i> <%= idr_money(bid.tender.price) %></li>
            </ul>
        </div>
    </div>
  </div>
    <div class="timeline-footer">
        <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
        <a><i class="glyphicon glyphicon-share"></i></a>
    </div>
</div>