<% title("Masuk") %>


<div class="border-form-div" style="margin-top: 50px;">
  <div class="row col-md-6 col-md-offset-3">

  <h3 class="text-center">Masuk Ke Dalam Sesi Penggunaan</h3>
  <hr>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email, as: :string, label: "Email", class: "form-control", required: true %>
    <%= f.input :password, class: "form-control", label: "Kata Kunci", placeholder: "masukkan password kamu, minimal 8 karakter", required: true %>

    <% if devise_mapping.rememberable? -%>
      <%= f.hint "*Jangan klik kotak 'Simpan Sesi' kalau kamu tidak menggunakan perangkat pribadi", class: "small" %>    
      <%= f.input :remember_me, as: :boolean, checked_value: true, unchecked_value: false, label: 'Simpan Sesi' %>    
    <% end -%>

    <%= f.button :submit, "Masuk", class: "btn btn-block btn-primary", data: {disable_with: "Memasuki sesi...."} %>
  <% end %>
  <%= render "devise/shared/links" %>
    
  </div>
</div>