<% title("Analytics") %>

<%= column_chart @daily_visits, library: {hAxis: {title: "Hari"}, vAxis: {title: "Jumlah Pengunjung"} }  %>

<%= line_chart @recent_visits, library: {hAxis: {title: "Minggu Ke"}, vAxis: {title: "Jumlah Pengunjung"} }  %>


<%=  %>

<div class="nav-center">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Blog</a></li>
    <li><a href="#tab2" data-toggle="tab">User</a></li>
    <li><a href="#tab3" data-toggle="tab">Document</a></li>
    <li><a href="#tab4" data-toggle="tab">Proposal</a></li>
    <li><a href="#tab5" data-toggle="tab">Landing</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
 	  <table class="table table-striped">
		<tr>
		  <th>Name</th>
		  <th>Title</th>
		  <th>Created At</th>
		  <th>Visit ID</th>
		  <th></th>
		</tr>

		<% @blog_events.each do |event| %>

		<tr>
		  <td><%= event.name %></td>
		  <td><%= event.title %></td>
		  <td><%= event.time.strftime("%Y/%m/%-d") %></td>
		  <td><%= event.visit_id %></td>
		  <td><%= link_to "Edit", '#' %></td>
		</tr>

		<% end %>

	  </table>

	  <div class="text-center">
	    <%= paginate @blog_events %>
	  </div>
    </div>

	<div class="tab-pane fade" id="tab2">
 	  <table class="table table-striped">
		<tr>
		  <th>Name</th>
		  <th>Title</th>
		  <th>Created At</th>
		  <th>Visit ID</th>
		  <th></th>
		</tr>

		<% @user_events.each do |event| %>

		<tr>
		  <td><%= event.name %></td>
		  <td><%= event.title %></td>
		  <td><%= event.time.strftime("%Y/%m/%-d") %></td>
		  <td><%= event.visit_id %></td>
		  <td><%= link_to "Edit", '#' %></td>
		</tr>

		<% end %>

	  </table>

	  <div class="text-center">
	    <%= paginate @user_events %>
	  </div>	
	</div>

	<div class="tab-pane fade" id="tab3">
 	  <table class="table table-striped">
		<tr>
		  <th>Name</th>
		  <th>Title</th>
		  <th>Created At</th>
		  <th>Visit ID</th>
		  <th></th>
		</tr>

		<% @document_events.each do |event| %>

		<tr>
		  <td><%= event.name %></td>
		  <td><%= event.title %></td>
		  <td><%= event.time.strftime("%Y/%m/%-d") %></td>
		  <td><%= event.visit_id %></td>
		  <td><%= link_to "Edit", '#' %></td>
		</tr>

		<% end %>

	  </table>

	  <div class="text-center">
	    <%= paginate @document_events %>
	  </div>	
	</div>

	<div class="tab-pane fade" id="tab4">
 	  <table class="table table-striped">
		<tr>
		  <th>Name</th>
		  <th>Title</th>
		  <th>Created At</th>
		  <th>Visit ID</th>
		  <th></th>
		</tr>

		<% @proposal_events.each do |event| %>

		<tr>
		  <td><%= event.name %></td>
		  <td><%= event.title %></td>
		  <td><%= event.time.strftime("%Y/%m/%-d") %></td>
		  <td><%= event.visit_id %></td>
		  <td><%= link_to "Edit", '#' %></td>
		</tr>

		<% end %>

	  </table>

	  <div class="text-center">
	    <%= paginate @proposal_events %>
	  </div>		
	</div>

	<div class="tab-pane fade" id="tab5">
 	  <table class="table table-striped">
		<tr>
		  <th>Name</th>
		  <th>Title</th>
		  <th>Created At</th>
		  <th>Visit ID</th>
		  <th></th>
		</tr>

		<% @simulation_events.each do |event| %>

		<tr>
		  <td><%= event.name %></td>
		  <td><%= event.title %></td>
		  <td><%= event.time.strftime("%Y/%m/%-d") %></td>
		  <td><%= event.visit_id %></td>
		  <td><%= link_to "Edit", '#' %></td>
		</tr>

		<% end %>

	  </table>

	  <div class="text-center">
	    <%= paginate @simulation_events %>
	  </div>			
	</div>			
  </div>
</div>