<% title("Admin Dashboard") %>
<h1>Admin <small>Dashboard</small></h1>
<div class="row">
  <div class="col-sm-3 col-xs-6">
    <h3>Menu</h3>
    <h4><%= link_to "Users", admin_users_path %> <small>- <%= "#{pluralize(@user_count, 'user')}" %></small></h4>
    <h4><%= link_to "Articles", admin_posts_path %> <small>- <%= "#{pluralize(@post_count, 'post')}" %></small></h4>
    <h4><%= link_to "Documents", admin_documents_path %> <small>- <%= "#{pluralize(@doc_count, 'docs')}" %></small></h4>
    <h4><%= link_to "Proposals", admin_tenders_path %> <small>- <%= "#{pluralize(@tender_count, 'tender')}" %></small></h4>
    <h4><%= link_to "Subscribers", admin_subscribers_path %><small>- <%= "#{pluralize(@subs_count, 'subscribers')}" %></small></h4>
    <h4><%= link_to "Analytics", admin_analytics_path %></h4>
    <hr/>
  </div>

  <div class="col-sm-3 col-xs-6">
    <h3>Recent Subscribers</h3>
    <ul class="list-unstyled">
      <% @last_subscribers.each do |subs| %>
      <li class="list-padded-bottom">
        <%= subs.email %><br/>
        <small>
          <%= time_ago_in_words(subs.created_at)%> ago
        </small>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-3 col-xs-6">
    <h3>Last Sign Ups</h3>
    <ul class="list-unstyled">
      <% @last_signups.each do |user| %>
      <li class="list-padded-bottom">
        <%= user.email %><br/>
        <small><%= time_ago_in_words(user.created_at)%> ago</small>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-3 col-xs-6">
    <h3>Last Sign Ins</h3>
    <ul class="list-unstyled">
      <% @last_signins.each do |user| %>
      <li class="list-padded-bottom">
        <%= user.email %><br/>
        <small>
          <% unless user.last_sign_in_at.nil? %>
          <%= time_ago_in_words(user.last_sign_in_at)%> ago
          <% else %>
          never
          <% end %>
        </small>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-12 col-xs-12">
    <%= render 'outbound' %>
  </div>

</div>
