<% meta title: "Rumah | Admin Dashboard" %>

<h1>Rumah <small>Admin Dashboard</small></h1>
<p><%= link_to "Buat Rumah", new_admin_house_path %></p>

<div class="text-center">
  <%= paginate @houses %>
</div>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Publisher</th>
    <th>Alamat</th>
    <th>Updated At</th>
    <th>Status</th>
    <th>Harga</th>
    <th></th>
  </tr>

  <% @houses.each do |house| %>

  <tr>
    <td><%= link_to house.title, house_path(house) %></td>
    <td><%= house.publisher.name %></td>
    <td><%= truncate(house.address, length: 20 ) %></td>
    <td><%= time_ago_in_words(house.updated_at)%> ago</td>
    <td><%= house.state %></td>
    <td><%= idr_money(house.price) %></td>
    <td><%= link_to "Proses", edit_admin_house_path(house) %></td>
  </tr>

  <% end %>

</table>

<div class="text-center">
  <%= paginate @houses %>
</div>
