  <%= form_for([:admin, @house], url: {action: "update"}) do |f| %>

<div id="direct_upload">
  <p>Format yang diterima adalah .jpg atau .png maksimal 1 MB. Bisa dengan mengklik tombol 'Unggah' atau dengan drag dan drop ke dalam area bergaris</p>
  <div class="form_line">
  	<div class="form_controls">
    	<%= f.submit "Belum ada gambar", class: "btn btn-primary", disabled: true %>
    </div>
  </div>
  <div class="form_line">
    <%= f.label :image_id, "Foto:" %>
    <div class="form_controls">
	  <%= f.attachinary_file_field :photos %>
    </div>
  </div>

    <div class="form_line">
      <div class="form_controls">
      	<span class="status"></span>
        <div class="preview"></div>
      </div>
    </div>
</div>

    
    <button class='btn btn-outlined btn-theme'>
      <i class='fa fa-plus-square'></i> Simpan
    </button> - <%= link_to "Cancel", house_path(@house) %>

  <% end %>
<script>
// $('photo_submit').on('keyup', function(event){
//   if event.target.val().length > 0 {
//     $('.commentSubmit').attr('disabled', false);
//   } else {
//     $('.commentSubmit').attr('disabled', true);
//   }
// });
</script>