<div class="row">
	<div class="col-sm-12">
		<legend>Deal <%= @deal.barcode %> | Tender <%= link_to @deal.tender.barcode, tender_path(@deal.tender) %></legend>
	</div>
	<!-- panel preview -->
	<div class="col-sm-5">
		<h4>Rincian:</h4>
		<div class="panel panel-default">
			<div class="panel-body form-horizontal payment-form">
				<%= form_for @deal, html: {role: "form"} do |f| %>

				<div class="form-group">
					<%= f.label :category, 'Category', class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :category, class: "form-control", required: true %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :state, 'Status', class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.text_field :state, class: "form-control", required: true %>
					</div>
				</div> 
				<div class="form-group">
					<%= f.label :amount, 'Nilai', class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.number_field :amount, class: "form-control", required: true %>
					</div>				
				</div>
				<div class="form-group">
					<%= f.label :maturity, 'Tempo (tahun)', class: "col-sm-3 control-label" %>
					<div class="col-sm-9">
						<%= f.number_field :maturity, class: "form-control", required: true %>
					</div>				
				</div>
				<div class="form-group">
					<div class="col-sm-12 text-right">
						<%= f.submit "Simpan", class: 'btn btn-outlined btn-black' %>
					</div>
				</div>
				<% end %>
			</div>
		</div>            
	</div> <!-- / panel preview -->
	<div class="col-sm-7">
		<h4>Proposal:</h4>
		<div class="panel panel-default">
			<%= render partial: 'tenders/tender', locals: {tender: @deal.tender} %>
		</div>
	</div>
	<div class="col-sm-12">
		<h4>Participant:</h4>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table preview-table">
						<thead>
							<tr>
								<th>Client</th>
								<th>Pekerjaan</th>
								<th>Offered?</th>
								<th>Term Sheet</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%= @client.name  %></td>
								<td><%= @client.occupation  %></td>
								<td><%= @client.has_been_offered_term_sheet?(@deal)  %></td>
								<td><%= link_to "Offer", new_admin_term_sheet_path(deal_id: @deal.id, recipient_type: @client.class.name, recipient_id: @client.id) %></td>
							</tr>
						</tbody> <!-- preview content goes here-->
					</table>				
					<table class="table preview-table">
						<thead>
							<tr>
								<th>Crowdfunder</th>
								<th>Shares</th>
								<th>Value</th>
								<th>Offered?</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @bids.find_each do |bid| %>
							<tr>
								<td><%= bid.bidder.name  %></td>
								<td><%= bid.shares  %></td>
								<td><%= bid.contribution  %></td>
								<td><%= bid.bidder.has_been_offered_term_sheet?(@deal) %></td>
								<td><%= link_to "Offer", new_admin_term_sheet_path(deal_id: @deal.id, recipient_type: bid.bidder.class.name, recipient_id: bid.bidder.id) %></td>
							</tr>
							<% end %>
						</tbody> <!-- preview content goes here-->
					</table>
				</div>                            
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr style="border:1px dashed #dddddd;">
				<button type="button" class="btn btn-primary btn-block">Submit all and finish</button>
			</div>                
		</div>
	</div>
</div>