
<li class="mt">
    <%= link_fa_to("dashboard", " Main Dash", admin_root_path) %>
</li>
<li class="sub-menu">
    <%= link_fa_to("users", " Users", admin_users_path) %>
</li>
<li class="sub-menu">
    <%= link_fa_to("plane", " User Mode", user_root_path) %>
</li>            
<li class="sub-menu">
    <%= link_fa_to("book", " Articles", admin_posts_path) %>
</li>
<li class="sub-menu">
	<%= link_fa_to("newspaper-o", " Blog", root_url(subdomain: "blog")) %>
</li>