<!-- BLUE WRAP -->
<section class="intro padded bordered-section white-background " id="blog-header">
  <div class="container" id="home-cover" style="margin-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
      <div class="prose extra-bottom-margin centered">
		    <h1>Jurnal Kapiten</h1>
		    <h4>Pengetahuan tentang ekonomi & keuangan syariah</h4>
      </div>
    </div>
  </div>
</section>
<section id="post-nav" style="border-bottom: 1px solid #C6C6C6;;">
  <div class="container">
    <ul id="post-tabs" class="nav nav-tabs centered">
      <%= active_link_to 'Blog', blog_path, :wrap_tag => :li %>
      <%= active_link_to 'Wiki', wiki_all_path, :active => :exclusive, :wrap_tag => :li %>
    </ul><!--/post-tabs-->
  </div>
</section>

<!-- BLOG CONTENT -->


<div id="blog-body" class="container mtb">
  <div class="row">
 	<%= render 'layouts/messages' %>
 	<% if @index %>
	 	<div class="col-md-7">
	 	  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "blog" } %>
		  <%= yield %>
			<div class="spacing"></div>
		</div>
	    <!-- SIDEBAR -->
	 	<div class="col-md-5">
	 	  
	 	  
		  <div class="spacing"></div>
	 	</div>
	<% else %>
	 	<div class="col-md-10 col-md-offset-1">
	 	  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "blog" } %>
		  <%= yield %>
			<div class="spacing"></div>
		</div>		
	<% end %>
  </div><!-- <! row  -->
</div>


<!-- FOOTER -->
<%= render 'layouts/footer' %>

<style type="text/css">
	#blog-header {
		background: url('http://res.cloudinary.com/instilla/image/upload/s--Y7ApUb9---/c_scale,w_1200/v1456927292/asset/pexels-photo-25109.jpg') no-repeat center center scroll;
/*  background: 
    url('//res.cloudinary.com/instilla/image/upload/s--BdUvbz2j--/c_scale,w_1200/v1458692370/man-hands-working-technology_2_sestkk.jpg') no-repeat center center scroll;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    min-height: 400px;
  .overlay{    
    background: rgb(0, 236, 240); background: rgba(0, 236, 240, 0.5);
  }


</style>