<!-- BLUE WRAP -->
<div id="blue">
    <div class="container">
		<div class="row white centered">
		  <h2>Blog siKapiten</h2>
		  <p>Untuk mengikuti perkembangan atau artikel terbaru,<br> follow @si_kapiten di Twitter dan like halaman sikapiten syariah di Facebook </p>
		  <%= link_to "Ke Halaman Utama", root_url(subdomain: ""), class: "btn btn-sm btn-outlined btn-white" %>
		  <%= link_to "Ke Halaman Blog", root_url(subdomain: "blog"), class: "btn btn-sm btn-outlined btn-white" unless @index %>
		  <%= link_to "Ke Beranda", user_root_url(subdomain: ""), class: "btn btn-sm btn-white" if user_signed_in? %>
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
 
<!-- BLOG CONTENT -->
<div id="blog-body">

<div class="container mtb">
  <div class="row">
 	<%= render 'layouts/messages' %>
 	<% if @index %>
	 	<div class="col-md-7">
	 	  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "blog" } %>
		  <%= yield %>
			<div class="spacing"></div>
		</div>
	    <!-- SIDEBAR -->
	 	<div class="col-md-5">
	 	  
			<div class="blankslate">
				<div class="spacious">
					<h3><%= "Kapitenpedia" %></h3>
					<p><%= "untuk kamu yang ingin mendalami muamalah" %></p>
					<%= link_to 'Telusuri', wiki_all_path, class: "btn btn-primary"  %>
				</div>
			</div> 	  
	 	  
		  <div class="spacing"></div>
	 	</div>
	<% else %>
	 	<div class="col-md-10 col-md-offset-1">
	 	  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "blog" } %>
		  <%= yield %>
			<div class="spacing"></div>
		</div>
	 	<div class="col-md-10 col-md-offset-1">
	 	  
			<div class="blankslate">
				<div class="spacious">
					<h3><%= "Kapitenpedia" %></h3>
					<p><%= "untuk kamu yang ingin mendalami muamalah" %></p>
					<%= link_to 'Telusuri', wiki_all_path, class: "btn btn-primary"  %>
				</div>
			</div> 	  
	 	  
		  <div class="spacing"></div>
	 	</div>			
	<% end %>
  </div><!-- <! row  -->
</div>


<!-- FOOTER -->
<%= render 'layouts/footer' %>