<!-- BLUE WRAP -->
<div id="blue">
    <div class="container">
		<div class="row white centered">
		  <h2>Blog siKapiten</h2>
		  <h5>Tentang ekonomi & keuangan syariah, kesuksesan dan kebahagiaan dunia + akhirat</h5>
		  <p>Untuk mengikuti perkembangan atau artikel terbaru, follow @si_kapiten di Twitter dan gabung ke grup sikapitensyariah di Facebook </p>
		  <%= link_to "Ke Halaman Utama", root_url(subdomain: ""), class: "btn btn-sm btn-outlined btn-white" %>
		  <% if !current_page?(root_url(subdomain: 'blog')) %>
			<%= link_to "Ke Halaman Blog", root_url(subdomain: "blog"), class: "btn btn-sm btn-outlined btn-white" %>
		  <% else %>
		  	<%= link_to "Ke Ruang Diskusi", blog_discussion_path, class: "btn btn-sm btn-white btn-outlined" %>
		  <% end %>
		  <% if current_user.present? %>
			<%= link_to "Ke Beranda", user_root_url(subdomain: ""), class: "btn btn-sm btn-outlined btn-white" %>
		  <% end %>		  
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
 
<!-- BLOG CONTENT -->
<div id="blog-body">

<div class="container mtb">
  <div class="row">
 	<%= render 'layouts/messages' %>
 	<div class="col-md-8">
 	  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "blog" } %>
	  <%= yield %>
		<div class="spacing"></div>
	</div>
    <!-- SIDEBAR -->
    
 	<div class="col-md-4">
 		<div class="post-box">
		  <h4>Topik</h4>
		  <hr class="coral"></hr>
			<% @topics.each do |topic, posts| %>
		 	  <p>
		 	  	<%= link_to blog_find_posts_path(topic: topic) do %>
			 	  	<%= inline_svg "0323-circle-right.svg", class: 'small-icons' %> <%= topic.titleize %>
		 	  	<% end %>
		 	  	<span class="badge badge-theme pull-right"><%= posts.count %></span>
		 	  </p>
			<% end %>
 		</div>
	  	<div class="spacing"></div>
	
	  <% unless Rails.env.test? %>
		<div class="post-box">
		  <h4>Artikel Terbaru</h4>
		  <hr class="coral">
		  <ul class="popular-posts">
		    <% @recents.each do |post| %>
	        <li>
	          <%= link_to blog_post_path(post.slug) do %>
	            <p><%= post.title %></p>
	            <em>Posted <%= time_ago_in_words(post.updated_at) %> ago</em>
	          <% end %>
	        </li>
	        <% end %>
	      </ul>
		</div> 		 
	  <% end %>
	  <div class="spacing"></div>
 	</div>
 	

  </div><!-- <! row  -->
</div>


<!-- FOOTER -->
<div id="footerwrap">
  <div class="container">
	<div class="row">
 	  <div class="col-md-5">
		<h4>Tentang Kami</h4>
		<hr class="coral"></hr>
		<p>siKapiten adalah usaha rintisan yang didirikan oleh sekelompok pemuda yang bertekad untuk mendorong pengembangan keuangan syariah di Indonesia</p>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-5">
	  <h4>Korespondensi</h4>
	  <hr class="coral"></hr>
	  <p>
		Didirikan oleh Galih Muhammad, Pamungkas Hendra, dan Diandra Setiabudi
	  </p>
	  <p>
		<%= inline_svg "0070-envelop.svg", class: 'small-icons plain' %> management@sikapiten.com<br/>
	  </p>
	  <%= render 'elements/authorship_credit' %>
 	  </div> 	
	</div>
  </div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sikapiten';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>