
<li class="mt">
<%= link_to biz_root_path, class: "active" do %>
  <i class="fa fa-dashboard"></i><span>Dashboard</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to "biz_root_path" do %>
  <i class="fa fa-tasks"></i>
  <span>Pengajuan</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to biz_profile_path do %>
  <i class="fa fa-desktop"></i>
  <span>Profil</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to biz_rosters_path do %>
  <i class="fa fa-users"></i>
  <span>Manajemen</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to biz_settings_path do %>
  <i class="fa fa-cogs"></i>
  <span>Pengaturan</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to biz_subscription_path do %>
  <i class="fa fa-flag"></i>
  <span>Langganan</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to "biz_root_path" do %>
  <i class=" fa fa-bar-chart-o"></i>
  <span>Analisis</span>
<% end %>
</li>

<li class="sub-menu">
<%= link_to root_url(subdomain: "blog") do %>
  <i class=" fa fa-book"></i>
  <span>Blog</span>
<% end %>
</li>