<footer id="fh5co-footer">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-3 col-sm-6 col-xs-12 animate-box fadeInUp animated">
        <div class="fh5co-footer-widget">
          <h3>Company</h3>
          <ul class="fh5co-links">
            <li><%= link_to "Investasi Properti", root_url(subdomain: '') %></li>
            <li><%= link_to "Cara Kerja", page_path('how_it_works') %></li>
            <li><%= link_to "Pembelian Rumah", page_path('kepemilikan') %></li>
            <li><%= link_to "Tentang Kapiten", page_path('about_us') %></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 animate-box fadeInUp animated">
        <div class="fh5co-footer-widget">
          <h3>Support</h3>
          <ul class="fh5co-links">
            <li><%= link_to "Blog", blog_path %></li>
            <li><%= link_to "Kapitenpedia", wiki_all_path %></li>
          </ul>
<!--           <ul class="fh5co-social">
            <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
          </ul>           -->
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 animate-box fadeInUp animated">
        <div class="fh5co-footer-widget">
          <h3>Hubungi Kami</h3>
          <%= render 'elements/form_contact' %>
        </div>
      </div>

    </div>
    
  </div>
  <div class="fh5co-copyright animate-box fadeInUp animated">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="centered">
            <small>PT Kapiten Teknologi Indonesia © 2016</small>
          </p>
        </div>
      </div>
    </div>
    <% if params[:controller] == 'pages' %>
      <div class="row footer-background">
        <%= image_tag "//res.cloudinary.com/instilla/image/upload/v1459597691/footer_a0ypny.png", class: "hidden-xs" %>
        <%= image_tag "//res.cloudinary.com/instilla/image/upload/s--GP4lvlG2--/c_lfill,g_center,h_300,w_800/v1459597691/footer_a0ypny.png", class: "visible-xs" %>
      </div>
    <% end %>
  </div>
</footer>