<header class="main-header">
  <!-- Logo -->
  <%= link_to root_url(subdomain: ''), class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>KAPI</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Kapiten</b></span>
  <% end %>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- If want to put message inbox, put it right here -->
        <!-- If want to put notifications, put it right here -->
        <!-- Notifications: style can be found in dropdown.less -->

        <li class="dropdown messages-menu">
          <%= link_to user_root_path do %>
            <i class="fa fa-flag"></i>
          <% end %>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= render_user_thumb(current_user, 'user-image') %>
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <%= render_user_thumb(current_user, 'img-circle') %>
              <p>
                <%= current_user.name %>
                <small>Member since <%= time_ago_in_words(current_user.created_at) %> ago</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-xs-5 text-center">
                <%= link_to "Akun", profile_url(subdomain: ''), remote: true %>
              </div>
              <div class="col-xs-2 text-center">
              </div>
              <div class="col-xs-5 text-center">
                <%= link_to "Sign out", destroy_user_session_path, data:{method: :delete}, class: "btn btn-default btn-flat"%>
              </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <!--  -->
              </div>
              <div class="pull-right">
                <%= %>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
<!--         <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>