<div class="navbar-more-overlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top animate">
	<div class="container navbar-more visible-xs">
		<br>
		<br>
		<ul class="nav navbar-nav">
			<li>
				<%= link_fa_to('anchor', 'Utama', root_url(subdomain: '')) %>
			</li>		
			<li>
				<%= link_fa_to('newspaper-o', 'Blog', root_url(subdomain: 'blog')) %>
			</li>
			<li>
				<%= link_fa_to('book', 'Peraturan', service_terms_url(subdomain: '')) %>
			</li>
			<li>
				<%= link_to contact_url(subdomain: ''), remote: true do %>
					<i class="menu-icon fa fa-phone"></i><span>Kontak</span>
				<% end %>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="navbar-header hidden-xs">
			<%= link_to ENV["SITE_NAME"], root_url(subdomain: ''), class: "navbar-brand" %>
		</div>

		<ul class="nav navbar-nav navbar-right mobile-bar">
			<% if user_signed_in? %>
			<li>
				<%= link_fa_to('home', 'Beranda', user_root_url(subdomain: '')) %>
			</li>
			<li>
				<%= link_fa_to('cogs', "Akun", edit_user_registration_url(subdomain: '')) %>
			</li>
				<% if current_user.admin? %>
					<li>
						<%= link_fa_to('sun-o', "Admin", admin_root_url(subdomain: '')) %>
					</li>			
				<% end %>			
			<% end %>
			<li class="hidden-xs">
				<%= link_fa_to('newspaper-o', 'Blog', root_url(subdomain: 'blog')) %>
			</li>
			<li class="hidden-xs">
				<%= link_fa_to('book', 'Peraturan', service_terms_url(subdomain: '')) %>
			</li>						
			<% if user_signed_in? %>
				<li>
					<%= link_to destroy_user_session_path, data:{method: :delete} do %>
						<i class="menu-icon fa fa-sign-out"></i>
						<span><strong>Keluar</strong></span>
					<% end %>
				</li>
			<% else %>
				<li>
					<%= link_to new_user_session_path do %>
						<i class="menu-icon fa fa-sign-in"></i>
						<span><strong>Masuk</strong></span>
					<% end %>
				</li>			
			<% end %>
			<li class="visible-xs">
				<a href="#navbar-more-show">
					<i class="menu-icon fa fa-bars"></i>
					Opsi
				</a>
			</li>
		</ul>
	</div>
</nav>