<div class="navbar-more-overlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top animate">
	<div class="container navbar-more visible-xs">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Submit</button>
					</span>
				</div>
			</div>
		</form>
		<ul class="nav navbar-nav">
			<li>
				<a href="#">
					<span class="menu-icon fa fa-picture-o"></span>
					Photos
				</a>
			</li>
			<li>
				<a href="#">
					<span class="menu-icon fa fa-bell-o"></span>
					Reservations
				</a>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="navbar-header hidden-xs">
			<%= link_to app_name, root_url(subdomain: ''), class: "navbar-brand" %>
		</div>

		<ul class="nav navbar-nav navbar-right mobile-bar">
			<li>
				<%= link_fa_to('home', 'Beranda', user_root_url(subdomain: '')) %>
			</li>
			<li class="hidden-xs">
				<%= link_fa_to('newspaper', 'Blog', root_url(subdomain: 'blog')) %>
			</li>
			<li>
				<%= link_fa_to('phone', 'Kontak', contact_url(subdomain: '')) %>
			</li>
			<% if user_signed_in? %>
				<li>
					<%= link_to destroy_user_session_url(subdomain: ''), data:{method: :delete} do %>
						<i class="menu-icon fa fa-info"></i>
						<span><strong>Keluar</strong></span>
					<% end %>
				</li>
			<% end %>
			<li class="visible-xs">
				<a href="#navbar-more-show">
					<i class="menu-icon fa fa-bars"></i>
					More
				</a>
			</li>
		</ul>
	</div>
</nav>