<div class="wrap">
	<div class="container-fluid">
		<div class="row"><%= render 'layouts/messages' %></div>	
		<div class="row">	  	      	
				<%= yield %>
	  	</div><!--/row-->
	</div><!--/container-->
</div>
<footer class="app-footer">
	<nav class="bottom-navigation-box nav">
	  <ul>
	    <li>
	      <%= active_link_to blog_path, :active => :exclusive do %>
	        <i class="ion ion-ios-paper"></i><br />
	        <span class="title">Blog</span>
	      <% end %>
	    </li>
	    <li>
	      <%= active_link_to wiki_all_path, :active => :exclusive do %>
	        <i class="ion ion-ios-book"></i><br />
	        <span class="title">Kapitenpedia</span>
	      <% end %>
	    </li>
	    <li>
	      <%= active_link_to '#', :active => :exclusive do %>
	        <i class="ion ion-asterisk"></i><br />
	        <span class="title">Terms</span>
	      <% end %>
	    </li>
	  </ul>
	</nav>
</footer>