<div class="content">
  <nav class="navbar navbar-inverse square navbar-fixed-top" role="navigation" id="navbar">
    <div class="navbar-banner">      
      <a href="#" class="navbar-brand">
        <strong><%= @title %></strong>
      </a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-toggle-left" data-slide="right">
        <i class="glyphicon glyphicon-th-large"></i>
      </button>
      <button type="button" class="navbar-toggle navbar-toggle-right" data-slide="left">
        <i class="glyphicon glyphicon-cog"></i>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle small-font" data-toggle="dropdown">
            <%= current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= render 'layouts/rightbar_links' %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-left: 0px;">
    <aside>
      <div id="sidebar" class="hidden-sm hidden-xs nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav nav-accordion">
        
          <h2 class="centered"><%= app_name %></h2>
          <h5 class="centered"><%= current_user.name %></h5>
          <%= render 'layouts/sidebar_options' %>

        </ul>
        <!-- sidebar menu end-->
      </div>
      <div id="sidebar" class="visible-sm hidden-xs nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav nav-accordion">
          <%= render 'layouts/sidebar_options' %>
        </ul>
        <!-- sidebar menu end-->
      </div>      
    </aside>
    <section id="main-content">
      <section class="wrapper">

      <div class="container">
        <div class="row" id="main-content-row">
          <%= render 'layouts/messages' %>
          
          <%= yield %>
        </div><! >        
      </div>

      </section>
    </section>    
  </div>

</div>