
    <li class="sidebar-brand">
      <%= link_to app_name, root_path %>
    </li>
    <li><%= link_to "Home", user_root_path %></li>
    <li><%= link_to "Arena", venues_path %></li>
    <li><%= link_to "Riwayat Reservasi", reservations_path %></li>    
    <li>
        <%= link_to "Kontak", contact_path %>
    </li>
    <li>
        <%= link_to "Blog", root_path(subdomain: "blog") %>
    </li>