
<li class="mt">
  <h5><%= link_fa_to("home", " Beranda", user_root_path) %></h5>
</li>

<% if current_user.admin? %>
<li class="sub-menu">
  <%= link_fa_to("rocket", " Admin Dash", admin_root_path) %>
</li>
<% end %>

<li class="sub-menu">
  <%= link_fa_to("user", " Identitas", '#') %>
</li>


<li class="sub-menu">
  <%= link_fa_to("phone", " Kontak", contact_path) %>
</li>

<li class="sub-menu">
  <%= link_fa_to("newspaper-o", " Blog", root_path(subdomain: "blog")) %>
</li>

<!-- <li class="mt">
<%= link_to user_root_path, class: "active" do %>
  <i class="fa fa-dashboard"></i><span>Utama</span>
<% end %>
</li>
 -->