<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% unless Rails.env.staging? %>
    <% metamagic site: ENV["SITE_NAME"], title: [:title, :site], separator: " | "  %>
    <% twitter site: ENV["TWTR_HANDLER"] %>  
    <% meta og: { site_name: ENV["SITE_NAME"] } %>
    <%= metamagic %>
  <% end %>
  <%= favicon_link_tag 'newlogo.ico' %>
  <%= favicon_link_tag '//res.cloudinary.com/instilla/image/upload/s--SepQWrvb--/c_scale,w_30/v1452061579/asset/png/Drawing_7.png', rel: 'logo', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= cloudinary_js_config %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= render 'elements/mixpanel_script' %>
</head>
<body class="<%= yield (:body_class) %> <%= @body_class %>">
  <% if @inside %>
    <% if @admin_layout %>  
        <%= render 'layouts/admin_layout' %>
    <% else %>
      <%= render 'layouts/mobile_navbar' %>
    <% end %>
  
  <% else %>
    <% if @no_layout || @static %>
      <%= render 'layouts/classic_navbar' %>
      <%= yield %>
    <% elsif @blog_layout %>
      <%= render 'layouts/blog_layout' %>    
    <% elsif @wiki_layout %>
      <%= render 'wiki_pages/wiki_layout' %>
    <% end %>
    
  <% end %>
  <%= render 'elements/large_modal' %>
</body>
</html>
<!-- 
<% if @inside %>
  <% if @admin_layout %>  
    <body class="hold-transition skin-blue sidebar-mini">
        <%= render 'layouts/admin_layout' %>
    </body>
  <% else %>
    <body class="mobile-navbar <%= yield (:body_class) %>">
      <%= render 'layouts/mobile_navbar' %>
    </body>

  <% end %>
<% else %>
  <body>
    <% if @no_layout || @static %>
      <%= render 'layouts/classic_navbar' %>
      <%= yield %>
    <% elsif @blog_layout %>
      <%= render 'layouts/blog_layout' %>    
    <% elsif @wiki_layout %>
      <%= render 'wiki_pages/wiki_layout' %>
    <% end %>
    <%= render 'elements/large_modal' %>
  </body>

<% end %> -->