<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Fustal" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @disable_nav  %>
    <%= yield %>
  <% else %>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      
      <div id="main">
        <%= render 'layouts/messages' %>
        <div class="spinner"></div>
        <% if @firm_layout  %>
          <%= render 'layouts/firm_dashboard' %>
        <% elsif @venue_layout  %>
          <%= render 'layouts/venue_layout' %>
        <% else %>          
          <%= yield %>        
      </div>
      <% end %>
    </div>  
  <% end %>
  
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>