<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% metamagic site: ENV["SITE_NAME"], title: [:title, :site], separator: " | " %>
  <% twitter site: ENV["TWTR_HANDLER"] %>  
  <% meta og: { site_name: ENV["SITE_NAME"] } %>
  <%= metamagic %>  
  <%= favicon_link_tag 'newlogo.ico' %>
  <%= favicon_link_tag '//res.cloudinary.com/instilla/image/upload/v1443701042/asset/kapiten-logo.png', rel: 'logo', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= cloudinary_js_config %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'layouts/mobile_navbar' %>
  <% else %>
    <%= render 'layouts/classic_navbar' %>
  <% end %>
  <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "main" } %>
  <% if @no_layout  %>
    <%= yield %>
  <% else %>
    <% if @blog_layout %>
      <%= render 'layouts/blog_layout' %>    
    <% elsif @financier_layout %>
      <%= render 'layouts/financier_layout' %>    
    <% elsif @admin_layout %>
      <%= render 'layouts/admin_layout' %>          
    <% else %>

      <% if @disable_background %>
        <div class="wrap">
      <% else %>
        <div class="wrap main-content">
      <% end %>
          <div class="container">
            
            <div class="row" style="margin-top: 50px;">
              <%= render 'layouts/messages' %>
              <div class="col-sm-12">
                
                <section class="container" style="padding-top: 10px;">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= yield %>
                  </div>
                </section>
                           
              </div>
            </div>
            
          </div>

        </div>
    <% end %> 
  <% end %>
  
</body>
</html>