<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% metamagic site: "siKapiten", title: [:title, :site], separator: " | " %>
  <%= metamagic %>  
  <%= favicon_link_tag '2-loo-sm.ico' %>
  <%= favicon_link_tag '2-loo-sm.png', rel: 'logo', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= cloudinary_js_config %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @disable_nav  %>
    <%= yield %>
  <% elsif @normal_nav  %>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>

      <% if @blog_layout %>
        <%= render 'layouts/blog_layout' %>    
      <% else %>
      <div class="container">
        
        <div class="row" style="margin-top: 50px;">
          <%= render 'layouts/messages' %>
          <div class="col-sm-12">
            <%= yield %>    
          </div>
        </div>
        
      </div>  
      <% end %>

    </div>
  <% else %>
    <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "main" } %>
    <%= render 'layouts/shoji_layout' %>
  <% end %>
  
</body>
</html>