<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || app_name %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @disable_nav  %>
    <%= yield %>
  <% elsif @normal_nav  %>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
      
        <%= render 'layouts/messages' %>
        <div class="row">
          <%= yield %>    
        </div>
        
      </div>  
    </div>
  <% else %>
    <div id="wrap">
      
      <div class="shoji" id="shoji">
        <div class="shoji-rail">
          <div class="shoji-panel shoji-panel-left">

          <ul class="nav nav-sidebar">
            <%= render 'layouts/sidebar_options' %>
          </ul>        

          </div>
          <div class="shoji-panel shoji-panel-right">
              <ul class="nav nav-pills nav-stacked">
                  <%= render 'layouts/rightbar_links' %>
              </ul>
          </div>
        </div>

        <div class="shoji-door">
          <%= render 'layouts/shoji_content' %>
        </div>

      </div>
    </div>  
  <% end %>
  
</body>
</html>