<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% metamagic site: ENV["SITE_NAME"], title: [:title, :site], separator: " | " %>
  <% twitter site: ENV["TWTR_HANDLER"] %>  
  <% meta og: { site_name: ENV["SITE_NAME"] } %>
  <%= metamagic %>  
  <%= favicon_link_tag 'kapiten-logo.ico' %>
  <%= favicon_link_tag 'kapiten-logo.png', rel: 'logo', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= cloudinary_js_config %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @disable_nav  %>
    <%= yield %>
  <% elsif @normal_nav  %>
    <div id="wrap">
      <header>
        <%= render 'layouts/navigation' %>
      </header>

      <% if @blog_layout %>
        <%= render 'layouts/blog_layout' %>    
      <% else %>
      <div class="container">
        
        <div class="row" style="margin-top: 50px;">
          <%= render 'layouts/messages' %>
          <div class="col-sm-12">
            <%= yield %>    
          </div>
        </div>
        
      </div>  
      <% end %>

    </div>
  <% else %>
    <%= render 'layouts/mobile_navbar' %>
    <% if @blog_layout %>
      <%= render 'layouts/blog_layout' %>    
    <% else %>
      <div class="wrap main-content">
        <div class="container">
          
          <div class="row" style="margin-top: 10px;">
            <%= render 'layouts/messages' %>
            <div class="col-sm-12">
              <%= render partial: 'elements/modal_placeholder', locals: { modal_name: "main" } %>

              
              <section class="container" style="padding-top: 10px;">
                <div class="col-xs-12 col-sm-12">
                  <%= yield %>
                </div>
              </section>
                         
            </div>
          </div>
          
        </div>      

      </div>
    <% end %> 
  <% end %>
  
</body>
</html>